# Filter Itemid Chart

This script is used for filtering itemids from TABLE CHARTEVENTS.

1. We check number of units of each itemid and choose the major unit as the target of unit conversion.
2. In this step we get 3 kinds of features:
    - numerical features
    - categorical features
    - ratio features, this usually happens in blood pressure measurement, such as "135/70".

## Output

1. itemid of observations for chartevents.
2. unit of measurement for each itemid.

In [1]:
from __future__ import print_function

import psycopg2
import datetime
import sys
from operator import itemgetter, attrgetter, methodcaller
import numpy as np
import itertools
import os.path
import matplotlib.pyplot as plt
import math
from multiprocessing import Pool, cpu_count
import re
from tqdm import tqdm_notebook as tqdm
from utils import getConnection

%matplotlib inline

In [2]:
conn = getConnection()
    
_adm = np.load('res/admission_ids.npy', allow_pickle=True).tolist()
admission_ids = _adm['admission_ids']
admission_ids_txt = _adm['admission_ids_txt']

db = np.load('res/itemids.npy', allow_pickle=True).tolist()
input_itemid = db['input']
output_itemid = db['output']
chart_itemid = db['chart']
lab_itemid = db['lab']
microbio_itemid = db['microbio']
prescript_itemid = db['prescript']

In [3]:
def stat_chart_unit_task(ilist, admission_ids_txt):
    subresults = []
    tconn = getConnection()
    
    for i in tqdm(ilist):
        # for each itemID select number of rows group by unit of measurement.
        tcur = tconn.cursor()
        tcur.execute('SELECT coalesce(valueuom, \'\'), count(*) FROM mimiciii.chartevents WHERE itemid = '+ str(i) +' and hadm_id in (select * from admission_ids) group by valueuom')
        chartunits = tcur.fetchall()
        chartunits = sorted(chartunits, key=lambda tup: tup[1])
        chartunits.reverse()

        # count number of observation that has non numeric value
        tcur = tconn.cursor()
        tcur.execute('SELECT count(*) FROM mimiciii.chartevents WHERE itemid = '+ str(i) +' and hadm_id in (select * from admission_ids) and valuenum is null')
        notnum = tcur.fetchone()
        notnum = notnum[0]

        # total number of observation
        tcur = tconn.cursor()
        tcur.execute('SELECT count(*) FROM mimiciii.chartevents WHERE itemid = '+ str(i) +' and hadm_id in (select * from admission_ids)')
        total = tcur.fetchone()
        total = total[0]
        
        subresults.append((i, chartunits, notnum, total))
    
    tconn.close()
    return subresults

# numworkers = cpu_count() // 2
numworkers = 4
p = Pool(numworkers)
ilists = np.array_split(chart_itemid, numworkers)
results = [p.apply_async(stat_chart_unit_task, args=(ilist, admission_ids_txt)) for ilist in ilists]
p.close()
p.join()
results = [x.get() for x in results]
results = itertools.chain.from_iterable(results)
# results = []
# for i in tqdm(chart_itemid):
#     result = stat_chart_unit_task(i, admission_ids_txt)
#     results.append(result)
np.save('res/filtered_chart_raw.npy', {'raw': results})
print('saved!')

/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

HBox(children=(FloatProgress(value=0.0, max=1616.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=1615.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=1616.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=1616.0), HTML(value='')))

saved!

## First filtering of categorical features

All features with numerical values < 80% of all records are possible categorical features. In this step we drop them for later analyzing.

In [4]:
results = np.load('res/filtered_chart_raw.npy', allow_pickle=True).tolist()['raw']
valid_chart = []
valid_chart_unit = []
valid_chart_cate = []
valid_chart_num = []
dropped = []
multiple_units = []
for x in results:
    i, chartunits, notnum, total = x[0], x[1], x[2], x[3]
    
    # calculate percentage of the top frequent unit compared to all observation.
    total2 = 0
    unitnum = 0
    for c in chartunits:
        total2 += c[1]
        if c[0] != '':
            unitnum += 1
    if total2 == 0:
        continue
    percentage = float(chartunits[0][1]) / total2 * 100.
    if unitnum > 1:
        multiple_units.append((i, chartunits, percentage))
    print("CHART "+str(i) + "\t" + "{:.2f}".format(percentage) +'\t'+ str(chartunits))
    
    # if the percentage of numeric number is less, then dropped it, and make it categorical feature.
    percentage =float(total -notnum)*100 / total
    print("Numeric observation :" + "{:.4f}%".format(percentage)+ " ( NOTNUM= " + str(notnum) + " / ALL= " + str(total) + " ) ")
    if(percentage < 80): 
        print('dropped\n')
        dropped.append(i)
        continue;
    print('')
    valid_chart.append(i)
    valid_chart_unit.append(chartunits[0][0])

CHART 2848	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 3565	100.00	[('', 59508)]
Numeric observation :0.0000% ( NOTNUM= 59508 / ALL= 59508 )
dropped

CHART 2026	100.00	[('', 158)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 158 )

CHART 6158	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 3028	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 2409	100.00	[('', 48)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 48 )

CHART 225771	100.00	[('', 519)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 519 )

CHART 4349	100.00	[('', 36)]
Numeric observation :0.0000% ( NOTNUM= 36 / ALL= 36 )
dropped

CHART 4718	100.00	[('', 53)]
Numeric observation :0.0000% ( NOTNUM= 53 / ALL= 53 )
dropped

CHART 3370	100.00	[('', 38505)]
Numeric observation :0.0000% ( NOTNUM= 38505 / ALL= 38505 )
dropped

CHART 4466	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 6873	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 223837	100.00	[('', 168721)]
Numeric observation :0.0000% ( NOTNUM= 168721 / ALL= 168721 )
dropped

CHART 224890	100.00	[('', 33004)]
Numeric observation :0.0000% ( NOTNUM= 33004 / ALL= 33004 )
dropped

CHART 2961	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 496	100.00	[('', 38962)]
Numeric observation :78.8640% ( NOTNUM= 8235 / ALL= 38962 )
dropped

CHART 2265	100.00	[('', 73)]
Numeric observation :98.6301% ( NOTNUM= 1 / ALL= 73 )

CHART 8394	100.00	[('', 195107)]
Numeric observation :0.0000% ( NOTNUM= 195107 / ALL= 195107 )
dropped

CHART 6122	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 4888	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 1101	100.00	[('', 318)]
Numeric observation :84.9057% ( NOTNUM= 48 / ALL= 318 )

CHART 2311	100.00	[('', 185)]
Numeric observation :71.8919% ( NOTNUM= 52 / ALL= 185 )
dropped

CHART 6967	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 227597	100.00	[('cm', 284)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 284 )

CHART 599	100.00	[('', 787137)]
Numeric observation :0.0000% ( NOTNUM= 787137 / ALL= 787137 )
dropped

CHART 8533	100.00	[('bpm', 50)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 50 )

CHART 3323	75.09	[('cc/min', 1531), ('', 508)]
Numeric observation :74.5463% ( NOTNUM= 519 / ALL= 2039 )
dropped

CHART 3071	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 6810	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 2769	100.00	[('', 41)]
Numeric observation :0.0000% ( NOTNUM= 41 / ALL= 41 )
dropped

CHART 225118	100.00	[('', 35691)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 35691 )

CHART 224144	100.00	[('ml/min', 57811)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 57811 )

CHART 4321	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 6169	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227366	100.00	[('', 36653)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 36653 )

CHART 225099	100.00	[('', 40383)]
Numeric observation :0.0000% ( NOTNUM= 40383 / ALL= 40383 )
dropped

CHART 1820	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 4875	100.00	[('', 63)]
Numeric observation :0.0000% ( NOTNUM= 63 / ALL= 63 )
dropped

CHART 224854	100.00	[('', 3000)]
Numeric observation :0.0000% ( NOTNUM= 3000 / ALL= 3000 )
dropped

CHART 7477	100.00	[('', 39)]
Numeric observation :0.0000% ( NOTNUM= 39 / ALL= 39 )
dropped

CHART 3652	100.00	[('Deg F', 461989)]
Numeric observation :99.7325% ( NOTNUM= 1236 / ALL= 461989 )

CHART 228344	100.00	[('', 6059)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6059 )

CHART 227056	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2627	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 5729	100.00	[('', 34)]
Numeric observation :0.0000% ( NOTNUM= 34 / ALL= 34 )
dropped

CHART 5587	100.00	[('', 38)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 38 )

CHART 6466	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 359	100.00	[('', 17179)]
Numeric observation :0.0000% ( NOTNUM= 17179 / ALL= 17179 )
dropped

CHART 1060	100.00	[('', 24)]
Numeric observation :95.8333% ( NOTNUM= 1 / ALL= 24 )

CHART 225003	100.00	[('', 741)]
Numeric observation :0.0000% ( NOTNUM= 741 / ALL= 741 )
dropped

CHART 26	100.00	[('mmHg', 1428)]
Numeric observation :99.5098% ( NOTNUM= 7 / ALL= 1428 )

CHART 3322	75.00	[('Breath', 1524), ('', 508)]
Numeric observation :74.7539% ( NOTNUM= 513 / ALL= 2032 )
dropped

CHART 8549	100.00	[('BPM', 1804988)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1804988 )

CHART 228307	100.00	[('', 38240)]
Numeric observation :0.0000% ( NOTNUM= 38240 / ALL= 38240 )
dropped

CHART 227837	100.00	[('', 435)]
Numeric observation :0.0000% ( NOTNUM= 435 / ALL= 435 )
dropped

CHART 1478	100.00	[('', 6)]
Numeric observation :0.0000% ( NOTNUM= 6 / ALL= 6 )
dropped

CHART 3367	100.00	[('', 878)]
Numeric observation :0.0000% ( NOTNUM= 878 / ALL= 878 )
dropped

CHART 1543	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 7003	100.00	[('', 184)]
Numeric observation :0.0000% ( NOTNUM= 184 / ALL= 184 )
dropped

CHART 1229	100.00	[('', 34)]
Numeric observation :0.0000% ( NOTNUM= 34 / ALL= 34 )
dropped

CHART 227677	100.00	[('', 1157)]
Numeric observation :0.0000% ( NOTNUM= 1157 / ALL= 1157 )
dropped

CHART 227346	100.00	[('', 271936)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 271936 )

CHART 6312	100.00	[('', 95)]
Numeric observation :0.0000% ( NOTNUM= 95 / ALL= 95 )
dropped

CHART 220739	100.00	[('', 567463)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 567463 )

CHART 227021	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 2150	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 3483	77.40	[('bpm', 6939), ('', 2026)]
Numeric observation :66.8489% ( NOTNUM= 2972 / ALL= 8965 )
dropped

CHART 7981	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 5565	100.00	[('', 37)]
Numeric observation :94.5946% ( NOTNUM= 2 / ALL= 37 )

CHART 4650	100.00	[('', 459)]
Numeric observation :0.0000% ( NOTNUM= 459 / ALL= 459 )
dropped

CHART 220277	100.00	[('%', 2671816)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2671816 )

CHART 224889	100.00	[('', 49913)]
Numeric observation :0.0000% ( NOTNUM= 49913 / ALL= 49913 )
dropped

CHART 3666	100.00	[('', 2767)]
Numeric observation :0.0000% ( NOTNUM= 2767 / ALL= 2767 )
dropped

CHART 224178	100.00	[('', 382)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 382 )

CHART 1726	100.00	[('', 86)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 86 )

CHART 2640	100.00	[('', 62)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 62 )

CHART 4722	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 224692	100.00	[('', 197738)]
Numeric observation :0.0000% ( NOTNUM= 197738 / ALL= 197738 )
dropped

CHART 8519	100.00	[('', 5305)]
Numeric observation :0.0000% ( NOTNUM= 5305 / ALL= 5305 )
dropped

CHART 1116	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 224960	100.00	[('', 34841)]
Numeric observation :0.0000% ( NOTNUM= 34841 / ALL= 34841 )
dropped

CHART 1487	100.00	[('', 460)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 460 )

CHART 786	100.00	[('mg/dl', 157552), ('', 2)]
Numeric observation :99.9524% ( NOTNUM= 75 / ALL= 157554 )

CHART 220580	99.86	[('umol/L', 693), ('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 694 )

CHART 4388	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 8087	100.00	[('', 47)]
Numeric observation :34.0426% ( NOTNUM= 31 / ALL= 47 )
dropped

CHART 226730	100.00	[('cm', 12015)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12015 )

CHART 5142	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 227916	100.00	[('', 177)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 177 )

CHART 7245	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 2755	100.00	[('', 181)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 181 )

CHART 3142	100.00	[('', 77)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 77 )

CHART 541	100.00	[('mmHg', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 7697	100.00	[('', 62)]
Numeric observation :0.0000% ( NOTNUM= 62 / ALL= 62 )
dropped

CHART 1582	100.00	[('', 59)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 59 )

CHART 4198	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 226746	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 7818	100.00	[('', 40)]
Numeric observation :0.0000% ( NOTNUM= 40 / ALL= 40 )
dropped

CHART 5796	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 2452	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 227570	100.00	[('', 29151)]
Numeric observation :0.0000% ( NOTNUM= 29151 / ALL= 29151 )
dropped

CHART 6960	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 6068	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 5605	100.00	[('', 104)]
Numeric observation :0.0000% ( NOTNUM= 104 / ALL= 104 )
dropped

CHART 5080	100.00	[('', 100)]
Numeric observation :0.0000% ( NOTNUM= 100 / ALL= 100 )
dropped

CHART 537	100.00	[('', 2032)]
Numeric observation :0.0000% ( NOTNUM= 2032 / ALL= 2032 )
dropped

CHART 5099	100.00	[('', 70)]
Numeric observation :0.0000% ( NOTNUM= 70 / ALL= 70 )
dropped

CHART 2300	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 7214	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 224450	100.00	[('', 59)]
Numeric observation :0.0000% ( NOTNUM= 59 / ALL= 59 )
dropped

CHART 8372	100.00	[('', 1457)]
Numeric observation :0.0000% ( NOTNUM= 1457 / ALL= 1457 )
dropped

CHART 8178	100.00	[('', 65)]
Numeric observation :0.0000% ( NOTNUM= 65 / ALL= 65 )
dropped

CHART 227782	100.00	[('', 36044)]
Numeric observation :0.0000% ( NOTNUM= 36044 / ALL= 36044 )
dropped

CHART 4475	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 6680	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 6003	100.00	[('', 30)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 30 )

CHART 227429	99.92	[('ng/mL', 23306), ('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23324 )

CHART 325	100.00	[('', 226826)]
Numeric observation :0.0000% ( NOTNUM= 226826 / ALL= 226826 )
dropped

CHART 223991	100.00	[('', 337744)]
Numeric observation :0.0000% ( NOTNUM= 337744 / ALL= 337744 )
dropped

CHART 223947	100.00	[('', 262214)]
Numeric observation :0.0000% ( NOTNUM= 262214 / ALL= 262214 )
dropped

CHART 142	100.00	[('', 57974)]
Numeric observation :98.5235% ( NOTNUM= 856 / ALL= 57974 )

CHART 1999	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 226753	100.00	[('', 15)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15 )

CHART 227834	100.00	[('', 316)]
Numeric observation :0.0000% ( NOTNUM= 316 / ALL= 316 )
dropped

CHART 1333	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 6782	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 4986	100.00	[('', 88)]
Numeric observation :0.0000% ( NOTNUM= 88 / ALL= 88 )
dropped

CHART 3124	100.00	[('', 64)]
Numeric observation :0.0000% ( NOTNUM= 64 / ALL= 64 )
dropped

CHART 5561	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 5048	100.00	[('', 121)]
Numeric observation :0.0000% ( NOTNUM= 121 / ALL= 121 )
dropped

CHART 225958	100.00	[('', 9886)]
Numeric observation :0.0000% ( NOTNUM= 9886 / ALL= 9886 )
dropped

CHART 3510	100.00	[('', 532)]
Numeric observation :0.0000% ( NOTNUM= 532 / ALL= 532 )
dropped

CHART 7300	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 7088	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 5329	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 4910	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 227683	100.00	[('', 463)]
Numeric observation :0.0000% ( NOTNUM= 463 / ALL= 463 )
dropped

CHART 3335	100.00	[('', 435466)]
Numeric observation :0.0000% ( NOTNUM= 435466 / ALL= 435466 )
dropped

CHART 6309	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 227808	100.00	[('', 118)]
Numeric observation :0.0000% ( NOTNUM= 118 / ALL= 118 )
dropped

CHART 228153	100.00	[('', 43)]
Numeric observation :0.0000% ( NOTNUM= 43 / ALL= 43 )
dropped

CHART 6585	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 8399	100.00	[('', 1274)]
Numeric observation :0.0000% ( NOTNUM= 1274 / ALL= 1274 )
dropped

CHART 227537	100.00	[('mmHg', 5040)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5040 )

CHART 226892	100.00	[('', 169)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 169 )

CHART 3045	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 227752	100.00	[('', 21657)]
Numeric observation :0.0000% ( NOTNUM= 21657 / ALL= 21657 )
dropped

CHART 7027	100.00	[('', 523)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 523 )

CHART 1389	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 1364	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 227783	100.00	[('', 23321)]
Numeric observation :0.0000% ( NOTNUM= 23321 / ALL= 23321 )
dropped

CHART 655	100.00	[('', 425588)]
Numeric observation :0.0000% ( NOTNUM= 425588 / ALL= 425588 )
dropped

CHART 224084	100.00	[('', 803619)]
Numeric observation :0.0000% ( NOTNUM= 803619 / ALL= 803619 )
dropped

CHART 2019	100.00	[('', 13)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 13 )

CHART 6465	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6987	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 167	100.00	[('', 147086)]
Numeric observation :0.0000% ( NOTNUM= 147086 / ALL= 147086 )
dropped

CHART 6163	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 224991	100.00	[('', 3735)]
Numeric observation :0.0000% ( NOTNUM= 3735 / ALL= 3735 )
dropped

CHART 5656	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 8446	100.00	[('mmHg', 268)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 268 )

CHART 478	100.00	[('', 774157)]
Numeric observation :0.0000% ( NOTNUM= 774157 / ALL= 774157 )
dropped

CHART 227000	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 8523	100.00	[('', 89496)]
Numeric observation :0.0000% ( NOTNUM= 89496 / ALL= 89496 )
dropped

CHART 226137	100.00	[('', 131516)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 131516 )

CHART 6170	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1982	100.00	[('', 473)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 473 )

CHART 224988	100.00	[('', 14474)]
Numeric observation :0.0000% ( NOTNUM= 14474 / ALL= 14474 )
dropped

CHART 458	100.00	[('', 995)]
Numeric observation :0.0000% ( NOTNUM= 995 / ALL= 995 )
dropped

CHART 4414	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 220587	99.97	[('IU/L', 37588), ('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 37598 )

CHART 629	100.00	[('', 143483)]
Numeric observation :0.0000% ( NOTNUM= 143483 / ALL= 143483 )
dropped

CHART 2572	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 223782	100.00	[('', 292417)]
Numeric observation :0.0000% ( NOTNUM= 292417 / ALL= 292417 )
dropped

CHART 8305	100.00	[('', 49)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 49 )

CHART 3564	100.00	[('', 9091)]
Numeric observation :46.4635% ( NOTNUM= 4867 / ALL= 9091 )
dropped

CHART 71	100.00	[('m2', 26809)]
Numeric observation :99.5449% ( NOTNUM= 122 / ALL= 26809 )

CHART 1606	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 2761	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 4355	100.00	[('', 317)]
Numeric observation :0.0000% ( NOTNUM= 317 / ALL= 317 )
dropped

CHART 624	99.95	[('mmHg', 55286), ('', 30)]
Numeric observation :99.8915% ( NOTNUM= 60 / ALL= 55316 )

CHART 626	97.38	[('...', 197388), ('', 5317)]
Numeric observation :97.0721% ( NOTNUM= 5935 / ALL= 202705 )

CHART 2693	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 3242	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 227240	100.00	[('', 150828)]
Numeric observation :0.0000% ( NOTNUM= 150828 / ALL= 150828 )
dropped

CHART 823	100.00	[('', 43159)]
Numeric observation :97.9680% ( NOTNUM= 877 / ALL= 43159 )

CHART 1528	100.00	[('', 15694)]
Numeric observation :99.2417% ( NOTNUM= 119 / ALL= 15694 )

CHART 227929	100.00	[('', 105)]
Numeric observation :0.0000% ( NOTNUM= 105 / ALL= 105 )
dropped

CHART 4360	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 8484	100.00	[('', 22387)]
Numeric observation :99.8481% ( NOTNUM= 34 / ALL= 22387 )

CHART 8491	100.00	[('', 26670)]
Numeric observation :99.9963% ( NOTNUM= 1 / ALL= 26670 )

CHART 6210	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1374	100.00	[('', 100)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 100 )

CHART 1981	100.00	[('', 72)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 72 )

CHART 6286	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 2925	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 3492	100.00	[('', 216)]
Numeric observation :0.0000% ( NOTNUM= 216 / ALL= 216 )
dropped

CHART 5347	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 2363	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 224633	100.00	[('', 63723)]
Numeric observation :0.0000% ( NOTNUM= 63723 / ALL= 63723 )
dropped

CHART 1000	100.00	[('', 877)]
Numeric observation :65.4504% ( NOTNUM= 303 / ALL= 877 )
dropped

CHART 228099	100.00	[('', 78672)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 78672 )

CHART 227474	100.00	[('', 19083)]
Numeric observation :0.0000% ( NOTNUM= 19083 / ALL= 19083 )
dropped

CHART 225070	100.00	[('', 21333)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 21333 )

CHART 228374	100.00	[('mL/beat', 673)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 673 )

CHART 2522	100.00	[('', 40)]
Numeric observation :97.5000% ( NOTNUM= 1 / ALL= 40 )

CHART 227961	100.00	[('', 210784)]
Numeric observation :0.0000% ( NOTNUM= 210784 / ALL= 210784 )
dropped

CHART 2542	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 211	67.26	[('BPM', 3484614), ('bpm', 1696195)]
Numeric observation :99.9721% ( NOTNUM= 1446 / ALL= 5180809 )

CHART 7632	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 7493	100.00	[('', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 1963	100.00	[('', 41)]
Numeric observation :0.0000% ( NOTNUM= 41 / ALL= 41 )
dropped

CHART 6964	100.00	[('', 59)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 59 )

CHART 225112	100.00	[('', 12539)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12539 )


CHART 981	100.00	[('', 26)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 26 )

CHART 7081	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 224392	100.00	[('', 501)]
Numeric observation :0.0000% ( NOTNUM= 501 / ALL= 501 )
dropped

CHART 224940	100.00	[('', 31637)]
Numeric observation :0.0000% ( NOTNUM= 31637 / ALL= 31637 )
dropped

CHART 3584	100.00	[('', 454)]
Numeric observation :0.0000% ( NOTNUM= 454 / ALL= 454 )
dropped

CHART 4187	100.00	[('cm', 148995)]
Numeric observation :99.9644% ( NOTNUM= 53 / ALL= 148995 )

CHART 7263	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 668	100.00	[('', 8498)]
Numeric observation :0.0000% ( NOTNUM= 8498 / ALL= 8498 )
dropped

CHART 4326	100.00	[('', 65)]
Numeric observation :0.0000% ( NOTNUM= 65 / ALL= 65 )
dropped

CHART 227586	100.00	[('', 863)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 863 )

CHART 227619	100.00	[('', 1288)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1288 )

CHART 6238	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1521	100.00	[('', 24337)]
Numeric observation :99.8891% ( NOTNUM= 27 / ALL= 24337 )

CHART 5045	100.00	[('', 21)]
Numeric observation :0.0000% ( NOTNUM= 21 / ALL= 21 )
dropped

CHART 124	100.00	[('', 13337)]
Numeric observation :0.0000% ( NOTNUM= 13337 / ALL= 13337 )
dropped

CHART 1121	100.00	[('', 550)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 550 )

CHART 229	100.00	[('', 483680)]
Numeric observation :0.0000% ( NOTNUM= 483680 / ALL= 483680 )
dropped

CHART 8442	100.00	[('', 864)]
Numeric observation :0.0000% ( NOTNUM= 864 / ALL= 864 )
dropped

CHART 227364	100.00	[('', 486)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 486 )

CHART 415	100.00	[('', 12412)]
Numeric observation :0.0000% ( NOTNUM= 12412 / ALL= 12412 )
dropped

CHART 5834	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 7359	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 5898	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 3442	100.00	[('', 75)]
Numeric observation :0.0000% ( NOTNUM= 75 / ALL= 75 )
dropped

CHART 8364	100.00	[('mmHg', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 224949	100.00	[('', 10493)]
Numeric observation :0.0000% ( NOTNUM= 10493 / ALL= 10493 )
dropped

CHART 6364	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 166	100.00	[('', 123585)]
Numeric observation :0.0000% ( NOTNUM= 123585 / ALL= 123585 )
dropped

CHART 4240	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 4645	100.00	[('', 100)]
Numeric observation :0.0000% ( NOTNUM= 100 / ALL= 100 )
dropped

CHART 1218	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 224686	100.00	[('mL', 277015)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 277015 )

CHART 2909	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 226760	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 223960	100.00	[('mA', 7963)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7963 )

CHART 2309	100.00	[('', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 388	100.00	[('', 41537)]
Numeric observation :0.0000% ( NOTNUM= 41537 / ALL= 41537 )
dropped

CHART 2820	100.00	[('', 46)]
Numeric observation :0.0000% ( NOTNUM= 46 / ALL= 46 )
dropped

CHART 3497	99.41	[('cmH20', 26432), ('', 157)]
Numeric observation :99.2666% ( NOTNUM= 195 / ALL= 26589 )

CHART 6073	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 6174	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 224310	100.00	[('mmHg', 8486)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8486 )

CHART 4755	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 147	100.00	[('', 55070)]
Numeric observation :0.0000% ( NOTNUM= 55070 / ALL= 55070 )
dropped

CHART 3765	100.00	[('', 18856)]
Numeric observation :99.9311% ( NOTNUM= 13 / ALL= 18856 )

CHART 7158	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 3245	100.00	[('', 127)]
Numeric observation :0.0000% ( NOTNUM= 127 / ALL= 127 )
dropped

CHART 224961	100.00	[('', 21528)]
Numeric observation :0.0000% ( NOTNUM= 21528 / ALL= 21528 )
dropped

CHART 1849	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 2377	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 5413	100.00	[('', 99)]
Numeric observation :0.0000% ( NOTNUM= 99 / ALL= 99 )
dropped

CHART 1192	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 716	93.58	[('mmHg', 204), ('', 14)]
Numeric observation :92.2018% ( NOTNUM= 17 / ALL= 218 )

CHART 7462	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 7924	100.00	[('', 21)]
Numeric observation :0.0000% ( NOTNUM= 21 / ALL= 21 )
dropped

CHART 1436	100.00	[('', 17361)]
Numeric observation :0.0000% ( NOTNUM= 17361 / ALL= 17361 )
dropped

CHART 1360	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 5455	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 5962	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 225122	100.00	[('', 30876)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 30876 )

CHART 4715	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 3469	100.00	[('', 8470)]
Numeric observation :0.0000% ( NOTNUM= 8470 / ALL= 8470 )
dropped

CHART 225357	100.00	[('', 11420)]
Numeric observation :0.0000% ( NOTNUM= 11420 / ALL= 11420 )
dropped

CHART 2657	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 5758	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 657	100.00	[('', 442143)]
Numeric observation :0.0000% ( NOTNUM= 442143 / ALL= 442143 )
dropped

CHART 6616	100.00	[('', 28)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 28 )

CHART 7581	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 6200	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 3498	100.00	[('', 65)]
Numeric observation :0.0000% ( NOTNUM= 65 / ALL= 65 )
dropped

CHART 592	100.00	[('', 39277)]
Numeric observation :0.0000% ( NOTNUM= 39277 / ALL= 39277 )
dropped

CHART 228231	100.00	[('', 2122)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2122 )

CHART 448	100.00	[('L/min', 36)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 36 )

CHART 2514	100.00	[('', 41)]
Numeric observation :0.0000% ( NOTNUM= 41 / ALL= 41 )
dropped

CHART 3747	100.00	[('', 15737)]
Numeric observation :99.9047% ( NOTNUM= 15 / ALL= 15737 )

CHART 228096	100.00	[('', 269190)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 269190 )

CHART 224916	100.00	[('cm', 32675)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 32675 )

CHART 3238	100.00	[('', 19)]
Numeric observation :94.7368% ( NOTNUM= 1 / ALL= 19 )

CHART 1027	100.00	[('', 288)]
Numeric observation :0.0000% ( NOTNUM= 288 / ALL= 288 )
dropped

CHART 224154	100.00	[('ml/hr', 59969)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 59969 )

CHART 225137	100.00	[('', 36381)]
Numeric observation :0.0000% ( NOTNUM= 36381 / ALL= 36381 )
dropped

CHART 436	98.62	[('cmH2O', 88256), ('', 1231)]
Numeric observation :98.5674% ( NOTNUM= 1282 / ALL= 89487 )

CHART 4278	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 224065	100.00	[('', 50167)]
Numeric observation :0.0000% ( NOTNUM= 50167 / ALL= 50167 )
dropped

CHART 420	95.83	[('mmHg', 23), ('', 1)]
Numeric observation :83.3333% ( NOTNUM= 4 / ALL= 24 )

CHART 7648	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 224057	100.00	[('', 314330)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 314330 )

CHART 227952	100.00	[('', 215963)]
Numeric observation :0.0000% ( NOTNUM= 215963 / ALL= 215963 )
dropped

CHART 7966	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 224876	100.00	[('', 353425)]
Numeric observation :0.0000% ( NOTNUM= 353425 / ALL= 353425 )
dropped

CHART 183	100.00	[('', 247744)]
Numeric observation :0.0000% ( NOTNUM= 247744 / ALL= 247744 )
dropped

CHART 711	63.95	[('ml/min', 55), ('', 31)]
Numeric observation :97.6744% ( NOTNUM= 2 / ALL= 86 )

CHART 2663	100.00	[('', 36)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 36 )

CHART 4889	100.00	[('', 76)]
Numeric observation :0.0000% ( NOTNUM= 76 / ALL= 76 )
dropped

CHART 7403	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 3548	100.00	[('', 332)]
Numeric observation :0.0000% ( NOTNUM= 332 / ALL= 332 )
dropped

CHART 228294	100.00	[('', 80)]
Numeric observation :0.0000% ( NOTNUM= 80 / ALL= 80 )
dropped

CHART 130	100.00	[('', 243380)]
Numeric observation :0.0000% ( NOTNUM= 243380 / ALL= 243380 )
dropped

CHART 283	100.00	[('', 268347)]
Numeric observation :0.0000% ( NOTNUM= 268347 / ALL= 268347 )
dropped

CHART 6671	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 224375	100.00	[('', 375)]
Numeric observation :0.0000% ( NOTNUM= 375 / ALL= 375 )
dropped

CHART 3692	100.00	[('gms', 416413)]
Numeric observation :99.9721% ( NOTNUM= 116 / ALL= 416413 )

CHART 6369	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 548	100.00	[('', 427261)]
Numeric observation :0.0000% ( NOTNUM= 427261 / ALL= 427261 )
dropped

CHART 1195	100.00	[('', 32)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 32 )

CHART 224173	100.00	[('', 30244)]
Numeric observation :0.0000% ( NOTNUM= 30244 / ALL= 30244 )
dropped

CHART 3751	100.00	[('', 3)]
Numeric observation :66.6667% ( NOTNUM= 1 / ALL= 3 )
dropped

CHART 1434	100.00	[('', 10040)]
Numeric observation :0.0000% ( NOTNUM= 10040 / ALL= 10040 )
dropped

CHART 1661	100.00	[('', 6)]
Numeric observation :0.0000% ( NOTNUM= 6 / ALL= 6 )
dropped

CHART 224894	100.00	[('', 5299)]
Numeric observation :0.0000% ( NOTNUM= 5299 / ALL= 5299 )
dropped

CHART 4247	100.00	[('', 99)]
Numeric observation :0.0000% ( NOTNUM= 99 / ALL= 99 )
dropped

CHART 224747	100.00	[('cmH2O', 432)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 432 )

CHART 6604	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 681	73.47	[('', 108), ('ml/B', 39)]
Numeric observation :84.3537% ( NOTNUM= 23 / ALL= 147 )

CHART 7269	100.00	[('', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 2334	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 8025	100.00	[('', 29)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 29 )

CHART 601	100.00	[('g * m', 76923), ('', 2)]
Numeric observation :99.6490% ( NOTNUM= 270 / ALL= 76925 )

CHART 647	100.00	[('', 13641)]
Numeric observation :0.0000% ( NOTNUM= 13641 / ALL= 13641 )
dropped

CHART 3178	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 5842	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 228016	100.00	[('', 7191)]
Numeric observation :0.0000% ( NOTNUM= 7191 / ALL= 7191 )
dropped

CHART 7919	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1046	100.00	[('', 803816)]
Numeric observation :0.0000% ( NOTNUM= 803816 / ALL= 803816 )
dropped

CHART 6201	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 4807	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 6334	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 1191	99.90	[('gms', 67787), ('', 68)]
Numeric observation :99.3648% ( NOTNUM= 431 / ALL= 67855 )

CHART 2956	100.00	[('', 64)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 64 )

CHART 2822	100.00	[('', 40)]
Numeric observation :0.0000% ( NOTNUM= 40 / ALL= 40 )
dropped

CHART 5900	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 228412	100.00	[('', 46150)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 46150 )

CHART 3207	100.00	[('', 43)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 43 )

CHART 6336	100.00	[('', 98)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 98 )

CHART 3304	100.00	[('', 426058)]
Numeric observation :0.0000% ( NOTNUM= 426058 / ALL= 426058 )
dropped

CHART 4862	100.00	[('', 158)]
Numeric observation :0.0000% ( NOTNUM= 158 / ALL= 158 )
dropped

CHART 4496	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 224420	100.00	[('Liters', 543)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 543 )

CHART 227754	100.00	[('', 1715)]
Numeric observation :0.0000% ( NOTNUM= 1715 / ALL= 1715 )
dropped

CHART 224728	100.00	[('L/min', 122)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 122 )

CHART 1728	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 224914	100.00	[('', 8500)]
Numeric observation :0.0000% ( NOTNUM= 8500 / ALL= 8500 )
dropped

CHART 1676	100.00	[('', 41)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 41 )

CHART 225175	100.00	[('', 14848)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14848 )

CHART 6729	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 224696	100.00	[('cmH2O', 75376)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 75376 )

CHART 224930	100.00	[('', 145205)]
Numeric observation :0.0000% ( NOTNUM= 145205 / ALL= 145205 )
dropped

CHART 224709	100.00	[('sec', 971)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 971 )

CHART 226768	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 224297	100.00	[('', 27241)]
Numeric observation :0.0000% ( NOTNUM= 27241 / ALL= 27241 )
dropped

CHART 4364	100.00	[('', 64)]
Numeric observation :0.0000% ( NOTNUM= 64 / ALL= 64 )
dropped

CHART 225059	100.00	[('', 70670)]
Numeric observation :0.0000% ( NOTNUM= 70670 / ALL= 70670 )
dropped

CHART 1539	100.00	[('', 803)]
Numeric observation :99.8755% ( NOTNUM= 1 / ALL= 803 )

CHART 518	100.00	[('', 74336)]
Numeric observation :0.0000% ( NOTNUM= 74336 / ALL= 74336 )
dropped

CHART 1680	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 5905	100.00	[('', 107998)]
Numeric observation :0.0000% ( NOTNUM= 107998 / ALL= 107998 )
dropped

CHART 1845	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 1659	100.00	[('', 735)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 735 )

CHART 6981	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 8389	100.00	[('', 86875)]
Numeric observation :0.0000% ( NOTNUM= 86875 / ALL= 86875 )
dropped

CHART 3244	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 220644	99.97	[('IU/L', 37614), ('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 37625 )

CHART 227375	100.00	[('', 242560)]
Numeric observation :0.0000% ( NOTNUM= 242560 / ALL= 242560 )
dropped

CHART 2437	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 2750	100.00	[('', 5)]
Numeric observation :60.0000% ( NOTNUM= 2 / ALL= 5 )
dropped

CHART 137	100.00	[('', 261494)]
Numeric observation :0.0000% ( NOTNUM= 261494 / ALL= 261494 )
dropped

CHART 1818	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 4810	100.00	[('', 362)]
Numeric observation :0.0000% ( NOTNUM= 362 / ALL= 362 )
dropped

CHART 405	100.00	[('', 721)]
Numeric observation :0.0000% ( NOTNUM= 721 / ALL= 721 )
dropped

CHART 5189	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 6120	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 2950	100.00	[('', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 5957	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 6191	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 4606	100.00	[('', 118)]
Numeric observation :0.0000% ( NOTNUM= 118 / ALL= 118 )
dropped

CHART 5745	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 227949	100.00	[('', 167024)]
Numeric observation :0.0000% ( NOTNUM= 167024 / ALL= 167024 )
dropped

CHART 3803	100.00	[('', 15767)]
Numeric observation :99.9049% ( NOTNUM= 15 / ALL= 15767 )

CHART 6311	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 7272	100.00	[('', 21)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 21 )

CHART 1546	100.00	[('', 2380)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2380 )

CHART 228299	100.00	[('', 102735)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 102735 )

CHART 6196	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 227287	100.00	[('L/min', 19339)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19339 )

CHART 227665	100.00	[('', 37897)]
Numeric observation :0.0000% ( NOTNUM= 37897 / ALL= 37897 )
dropped

CHART 1922	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 2699	100.00	[('', 163)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 163 )

CHART 8206	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 4651	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 4630	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 8435	100.00	[('', 71243)]
Numeric observation :0.0000% ( NOTNUM= 71243 / ALL= 71243 )
dropped

CHART 8078	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 225086	100.00	[('', 15224)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15224 )

CHART 228007	100.00	[('', 436)]
Numeric observation :0.0000% ( NOTNUM= 436 / ALL= 436 )
dropped

CHART 3524	100.00	[('', 328)]
Numeric observation :0.0000% ( NOTNUM= 328 / ALL= 328 )
dropped

CHART 227345	100.00	[('', 272778)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 272778 )

CHART 2666	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 1502	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 382	100.00	[('', 2335)]
Numeric observation :0.0000% ( NOTNUM= 2335 / ALL= 2335 )
dropped

CHART 5343	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 224704	100.00	[('%', 368)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 368 )

CHART 226499	100.00	[('mL', 1531)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1531 )

CHART 2229	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 4228	100.00	[('', 202)]
Numeric observation :0.0000% ( NOTNUM= 202 / ALL= 202 )
dropped

CHART 228377	100.00	[('%', 113)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 113 )

CHART 838	93.06	[('%', 1851), ('', 138)]
Numeric observation :93.1121% ( NOTNUM= 137 / ALL= 1989 )

CHART 6590	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 228009	100.00	[('', 6835)]
Numeric observation :0.0000% ( NOTNUM= 6835 / ALL= 6835 )
dropped

CHART 3359	66.67	[('cmH20', 2), ('', 1)]
Numeric observation :66.6667% ( NOTNUM= 1 / ALL= 3 )
dropped

CHART 4695	100.00	[('', 48)]
Numeric observation :0.0000% ( NOTNUM= 48 / ALL= 48 )
dropped

CHART 1388	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 3350	100.00	[('', 239)]
Numeric observation :0.0000% ( NOTNUM= 239 / ALL= 239 )
dropped

CHART 833	100.00	[('/mic l', 175975), ('', 2)]
Numeric observation :99.9329% ( NOTNUM= 118 / ALL= 175977 )

CHART 224660	100.00	[('L/min', 213)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 213 )

CHART 223818	100.00	[('', 17704)]

CHART 199	100.00	[('', 8129)]
Numeric observation :0.0000% ( NOTNUM= 8129 / ALL= 8129 )
dropped

CHART 5942	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 2861	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 3643	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 224892	100.00	[('', 12957)]
Numeric observation :0.0000% ( NOTNUM= 12957 / ALL= 12957 )
dropped

CHART 3100	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 6481	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6294	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 2106	100.00	[('', 76)]
Numeric observation :97.3684% ( NOTNUM= 2 / ALL= 76 )

CHART 2094	100.00	[('', 14)]
Numeric observation :92.8571% ( NOTNUM= 1 / ALL= 14 )

CHART 671	96.70	[('sec', 10551), ('', 360)]
Numeric observation :96.6548% ( NOTNUM= 365 / ALL= 10911 )

CHART 224069	100.00	[('', 5228)]
Numeric observation :0.0000% ( NOTNUM= 5228 / ALL= 5228 )
dropped

CHART 2046	100.00	[('', 75)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 75 )

CHART 422	100.00	[('...', 164035), ('', 1)]
Numeric observation :99.5891% ( NOTNUM= 674 / ALL= 164036 )

CHART 3467	100.00	[('', 90252)]
Numeric observation :0.0000% ( NOTNUM= 90252 / ALL= 90252 )
dropped

CHART 4407	100.00	[('', 47)]
Numeric observation :0.0000% ( NOTNUM= 47 / ALL= 47 )
dropped

CHART 7051	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 3213	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 224059	100.00	[('', 313500)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 313500 )

CHART 3049	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 6016	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 3013	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 3216	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 7002	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 1870	100.00	[('', 69)]
Numeric observation :0.0000% ( NOTNUM= 69 / ALL= 69 )
dropped

CHART 4444	100.00	[('', 102)]
Numeric observation :0.0000% ( NOTNUM= 102 / ALL= 102 )
dropped

CHART 6682	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 259	100.00	[('', 12059)]
Numeric observation :0.0000% ( NOTNUM= 12059 / ALL= 12059 )
dropped

CHART 3223	100.00	[('', 778)]
Numeric observation :0.0000% ( NOTNUM= 778 / ALL= 778 )
dropped

CHART 1015	100.00	[('', 319)]
Numeric observation :0.3135% ( NOTNUM= 318 / ALL= 319 )
dropped

CHART 4545	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 8317	100.00	[('', 76)]
Numeric observation :0.0000% ( NOTNUM= 76 / ALL= 76 )
dropped

CHART 6859	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 8374	100.00	[('', 31949)]
Numeric observation :0.0000% ( NOTNUM= 31949 / ALL= 31949 )
dropped

CHART 573	100.00	[('', 19223)]
Numeric observation :0.0000% ( NOTNUM= 19223 / ALL= 19223 )
dropped

CHART 2029	100.00	[('', 392)]
Numeric observation :97.7041% ( NOTNUM= 9 / ALL= 392 )

CHART 1710	100.00	[('', 122)]
Numeric observation :0.0000% ( NOTNUM= 122 / ALL= 122 )
dropped

CHART 220050	100.00	[('mmHg', 1149788)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1149788 )

CHART 2639	100.00	[('', 62)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 62 )

CHART 223936	100.00	[('', 102909)]
Numeric observation :0.0000% ( NOTNUM= 102909 / ALL= 102909 )
dropped

CHART 227605	100.00	[('', 1879)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1879 )

CHART 224998	100.00	[('', 30867)]
Numeric observation :0.0000% ( NOTNUM= 30867 / ALL= 30867 )
dropped

CHART 6573	100.00	[('', 20)]
Numeric observation :95.0000% ( NOTNUM= 1 / ALL= 20 )

CHART 228302	100.00	[('', 1102)]
Numeric observation :0.0000% ( NOTNUM= 1102 / ALL= 1102 )
dropped

CHART 2002	100.00	[('', 149)]
Numeric observation :0.0000% ( NOTNUM= 149 / ALL= 149 )
dropped

CHART 228006	100.00	[('ml/hr', 38897)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 38897 )

CHART 61	98.13	[('ml/dl', 105), ('', 2)]
Numeric observation :98.1308% ( NOTNUM= 2 / ALL= 107 )

CHART 797	100.00	[('', 21734)]
Numeric observation :99.2684% ( NOTNUM= 159 / ALL= 21734 )

CHART 227607	100.00	[('', 3630)]
Numeric observation :0.0000% ( NOTNUM= 3630 / ALL= 3630 )
dropped

CHART 2290	100.00	[('', 32)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 32 )

CHART 4693	100.00	[('', 36)]
Numeric observation :0.0000% ( NOTNUM= 36 / ALL= 36 )
dropped

CHART 4950	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 6428	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 2679	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 7260	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1206	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 8408	100.00	[('', 4253)]
Numeric observation :0.0000% ( NOTNUM= 4253 / ALL= 4253 )
dropped

CHART 1562	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 225806	100.00	[('mL', 939)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 939 )

CHART 1384	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 5859	100.00	[('', 6)]
Numeric observation :0.0000% ( NOTNUM= 6 / ALL= 6 )
dropped

CHART 223775	100.00	[('bpm', 625)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 625 )

CHART 8147	100.00	[('', 121)]
Numeric observation :0.0000% ( NOTNUM= 121 / ALL= 121 )
dropped

CHART 7854	100.00	[('', 227)]
Numeric observation :0.0000% ( NOTNUM= 227 / ALL= 227 )
dropped

CHART 224442	100.00	[('', 1968)]
Numeric observation :0.0000% ( NOTNUM= 1968 / ALL= 1968 )
dropped

CHART 7747	100.00	[('', 45)]
Numeric observation :0.0000% ( NOTNUM= 45 / ALL= 45 )
dropped

CHART 7032	100.00	[('', 69)]
Numeric observation :0.0000% ( NOTNUM= 69 / ALL= 69 )
dropped

CHART 1837	100.00	[('', 195)]
Numeric observation :69.7436% ( NOTNUM= 59 / ALL= 195 )
dropped

CHART 6083	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2588	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 224788	100.00	[('', 19888)]
Numeric observation :0.0000% ( NOTNUM= 19888 / ALL= 19888 )
dropped

CHART 4377	100.00	[('', 234)]
Numeric observation :0.0000% ( NOTNUM= 234 / ALL= 234 )
dropped

CHART 5955	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 223875	100.00	[('insp/min', 195705)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 195705 )

CHART 5361	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 6875	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 4220	100.00	[('', 241)]
Numeric observation :0.0000% ( NOTNUM= 241 / ALL= 241 )
dropped

CHART 8506	100.00	[('cc/min', 1514)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1514 )

CHART 225228	100.00	[('', 3857)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3857 )

CHART 2042	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 6970	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 1411	86.38	[('mmHg', 3494), ('', 551)]
Numeric observation :87.8616% ( NOTNUM= 491 / ALL= 4045 )

CHART 226983	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 3052	100.00	[('', 67)]
Numeric observation :0.0000% ( NOTNUM= 67 / ALL= 67 )
dropped

CHART 490	100.00	[('mmHg', 1467)]
Numeric observation :99.5910% ( NOTNUM= 6 / ALL= 1467 )

CHART 224151	100.00	[('mmHg', 58383)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 58383 )

CHART 1547	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 223954	100.00	[('', 1780)]
Numeric observation :0.0000% ( NOTNUM= 1780 / ALL= 1780 )
dropped

CHART 5810	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227002	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 1695	96.57	[('V-mA', 25666), ('', 911)]
Numeric observation :95.7896% ( NOTNUM= 1119 / ALL= 26577 )

CHART 6172	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 223972	100.00	[('', 6515)]
Numeric observation :0.0000% ( NOTNUM= 6515 / ALL= 6515 )
dropped

CHART 224112	100.00	[('', 425)]
Numeric observation :0.0000% ( NOTNUM= 425 / ALL= 425 )
dropped

CHART 1324	100.00	[('', 15)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15 )

CHART 224667	100.00	[('', 717)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 717 )

CHART 3455	100.00	[('', 6612)]
Numeric observation :0.0000% ( NOTNUM= 6612 / ALL= 6612 )
dropped

CHART 5110	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 88	100.00	[('', 343468)]
Numeric observation :0.0000% ( NOTNUM= 343468 / ALL= 343468 )
dropped

CHART 7902	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 228236	100.00	[('', 24585)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 24585 )

CHART 1497	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 6313	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 7141	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 6185	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 227344	100.00	[('', 272788)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 272788 )

CHART 1199	100.00	[('', 65)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 65 )

CHART 228008	100.00	[('', 424)]
Numeric observation :0.0000% ( NOTNUM= 424 / ALL= 424 )
dropped

CHART 225050	100.00	[('', 33847)]
Numeric observation :0.0000% ( NOTNUM= 33847 / ALL= 33847 )
dropped

CHART 4914	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 7464	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 227059	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 3385	100.00	[('', 105531)]
Numeric observation :0.0000% ( NOTNUM= 105531 / ALL= 105531 )
dropped

CHART 8093	100.00	[('', 68)]
Numeric observation :0.0000% ( NOTNUM= 68 / ALL= 68 )
dropped

CHART 226183	100.00	[('kcal/kg', 496)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 496 )

CHART 227801	100.00	[('', 7071)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7071 )

CHART 2918	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 224026	100.00	[('', 360953)]
Numeric observation :0.0000% ( NOTNUM= 360953 / ALL= 360953 )
dropped

CHART 226185	100.00	[('', 5783)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5783 )

CHART 227784	100.00	[('', 15596)]
Numeric observation :0.0000% ( NOTNUM= 15596 / ALL= 15596 )
dropped

CHART 802	100.00	[('', 8283)]
Numeric observation :97.0904% ( NOTNUM= 241 / ALL= 8283 )

CHART 3401	100.00	[('', 49155)]
Numeric observation :0.0000% ( NOTNUM= 49155 / ALL= 49155 )
dropped

CHART 7748	100.00	[('', 64)]
Numeric observation :0.0000% ( NOTNUM= 64 / ALL= 64 )
dropped

CHART 220603	100.00	[('mg/dL', 1567)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1567 )

CHART 1513	100.00	[('', 466)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 466 )

CHART 226134	100.00	[('', 2801)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2801 )

CHART 227757	100.00	[('', 9629)]
Numeric observation :0.0000% ( NOTNUM= 9629 / ALL= 9629 )
dropped

CHART 3356	100.00	[('', 424)]
Numeric observation :0.0000% ( NOTNUM= 424 / ALL= 424 )
dropped

CHART 3041	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 3611	100.00	[('', 8478)]
Numeric observation :0.0000% ( NOTNUM= 8478 / ALL= 8478 )
dropped

CHART 6235	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 1532	100.00	[('', 154857)]
Numeric observation :99.0895% ( NOTNUM= 1410 / ALL= 154857 )

CHART 209	100.00	[('', 7607)]
Numeric observation :0.0000% ( NOTNUM= 7607 / ALL= 7607 )
dropped

CHART 225052	100.00	[('', 20134)]
Numeric observation :0.0000% ( NOTNUM= 20134 / ALL= 20134 )
dropped

CHART 224806	100.00	[('', 39283)]
Numeric observation :0.0000% ( NOTNUM= 39283 / ALL= 39283 )
dropped

CHART 606	100.00	[('', 1412)]
Numeric observation :76.3456% ( NOTNUM= 334 / ALL= 1412 )
dropped

CHART 225740	100.00	[('', 229)]
Numeric observation :0.0000% ( NOTNUM= 229 / ALL= 229 )
dropped

CHART 801	92.62	[('ng', 2536), ('', 202)]
Numeric observation :90.4310% ( NOTNUM= 262 / ALL= 2738 )

CHART 6963	100.00	[('', 43)]
Numeric observation :0.0000% ( NOTNUM= 43 / ALL= 43 )
dropped

CHART 8365	100.00	[('', 31700)]
Numeric observation :0.0000% ( NOTNUM= 31700 / ALL= 31700 )
dropped

CHART 227452	100.00	[('ug/mL', 192)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 192 )

CHART 856	100.00	[('', 2168)]
Numeric observation :95.1107% ( NOTNUM= 106 / ALL= 2168 )

CHART 3095	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 4858	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 4849	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 228379	100.00	[('%', 44)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 44 )

CHART 2091	100.00	[('', 37)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 37 )

CHART 1124	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1231	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 227617	100.00	[('', 2505)]
Numeric observation :0.0000% ( NOTNUM= 2505 / ALL= 2505 )
dropped

CHART 7337	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 228345	100.00	[('', 6044)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6044 )

CHART 3195	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 224654	100.00	[('mmHg', 8310)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8310 )

CHART 253	100.00	[('', 32940)]
Numeric observation :0.0000% ( NOTNUM= 32940 / ALL= 32940 )
dropped

CHART 7958	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 119	100.00	[('', 59525)]
Numeric observation :0.0000% ( NOTNUM= 59525 / ALL= 59525 )
dropped

CHART 225690	99.97	[('mg/dL', 37950), ('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 37961 )

CHART 7210	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 5829	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2870	100.00	[('', 114)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 114 )

CHART 7185	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 3828	100.00	[('', 297)]
Numeric observation :95.6229% ( NOTNUM= 13 / ALL= 297 )

CHART 101	100.00	[('', 33165)]
Numeric observation :0.0000% ( NOTNUM= 33165 / ALL= 33165 )
dropped

CHART 339	100.00	[('', 24597)]
Numeric observation :0.0000% ( NOTNUM= 24597 / ALL= 24597 )
dropped

CHART 6644	100.00	[('', 53)]
Numeric observation :98.1132% ( NOTNUM= 1 / ALL= 53 )

CHART 4472	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )

dropped

CHART 224153	100.00	[('ml/hr', 60126)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 60126 )

CHART 224327	100.00	[('', 23657)]
Numeric observation :0.0000% ( NOTNUM= 23657 / ALL= 23657 )
dropped

CHART 82	100.00	[('', 344145)]
Numeric observation :0.0000% ( NOTNUM= 344145 / ALL= 344145 )
dropped

CHART 2672	100.00	[('', 36)]
Numeric observation :97.2222% ( NOTNUM= 1 / ALL= 36 )

CHART 224643	100.00	[('mmHg', 671)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 671 )

CHART 1043	100.00	[('', 255459)]
Numeric observation :0.0000% ( NOTNUM= 255459 / ALL= 255459 )
dropped

CHART 1048	100.00	[('', 106)]
Numeric observation :0.0000% ( NOTNUM= 106 / ALL= 106 )
dropped

CHART 2308	100.00	[('', 35)]
Numeric observation :5.7143% ( NOTNUM= 33 / ALL= 35 )
dropped

CHART 5940	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 225323	100.00	[('', 38910)]
Numeric observation :0.0000% ( NOTNUM= 38910 / ALL= 38910 )
dropped

CHART 213	100.00	[('', 1164)]
Numeric observation :0.0000% ( NOTNUM= 1164 / ALL= 1164 )
dropped

CHART 3079	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 4679	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 7332	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 227845	100.00	[('', 237)]
Numeric observation :0.0000% ( NOTNUM= 237 / ALL= 237 )
dropped

CHART 5015	100.00	[('', 63)]
Numeric observation :0.0000% ( NOTNUM= 63 / ALL= 63 )
dropped

CHART 6224	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 5772	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 4208	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 4192	100.00	[('Inches', 34)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 34 )

CHART 4201	100.00	[('', 8106)]
Numeric observation :99.5559% ( NOTNUM= 36 / ALL= 8106 )

CHART 4298	100.00	[('', 158)]
Numeric observation :0.0000% ( NOTNUM= 158 / ALL= 158 )
dropped

CHART 223771	100.00	[('mmHg', 602)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 602 )

CHART 226063	100.00	[('mmHg', 4314)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4314 )

CHART 373	100.00	[('', 143)]
Numeric observation :0.0000% ( NOTNUM= 143 / ALL= 143 )
dropped

CHART 8157	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 224000	100.00	[('', 315915)]
Numeric observation :0.0000% ( NOTNUM= 315915 / ALL= 315915 )
dropped

CHART 227604	100.00	[('', 2355)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2355 )

CHART 1864	100.00	[('', 30)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 30 )

CHART 1945	100.00	[('', 44)]
Numeric observation :0.0000% ( NOTNUM= 44 / ALL= 44 )
dropped

CHART 223838	100.00	[('', 169458)]
Numeric observation :0.0000% ( NOTNUM= 169458 / ALL= 169458 )
dropped

CHART 1587	100.00	[('', 128)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 128 )

CHART 8469	100.00	[('', 38644)]
Numeric observation :0.0000% ( NOTNUM= 38644 / ALL= 38644 )
dropped

CHART 1578	100.00	[('', 1445)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1445 )

CHART 227127	100.00	[('', 1551)]
Numeric observation :0.0000% ( NOTNUM= 1551 / ALL= 1551 )
dropped

CHART 1920	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 3509	100.00	[('', 387650)]
Numeric observation :0.0000% ( NOTNUM= 387650 / ALL= 387650 )
dropped

CHART 220072	100.00	[('mmHg', 37335)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 37335 )

CHART 3351	100.00	[('', 1564)]
Numeric observation :0.0000% ( NOTNUM= 1564 / ALL= 1564 )
dropped

CHART 226707	100.00	[('Inch', 12015)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12015 )

CHART 225019	100.00	[('', 14246)]
Numeric observation :0.0000% ( NOTNUM= 14246 / ALL= 14246 )
dropped

CHART 220051	100.00	[('mmHg', 1149537)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1149537 )

CHART 2050	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 227867	100.00	[('%', 264)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 264 )

CHART 224753	100.00	[('mV', 10051)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10051 )

CHART 3380	100.00	[('', 1677)]
Numeric observation :0.0000% ( NOTNUM= 1677 / ALL= 1677 )
dropped

CHART 2479	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 2877	100.00	[('', 69)]
Numeric observation :2.8986% ( NOTNUM= 67 / ALL= 69 )
dropped

CHART 7193	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 5703	100.00	[('', 84)]
Numeric observation :90.4762% ( NOTNUM= 8 / ALL= 84 )

CHART 1335	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2902	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 5470	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 6862	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 3452	100.00	[('', 1419)]
Numeric observation :0.0000% ( NOTNUM= 1419 / ALL= 1419 )
dropped

CHART 220180	100.00	[('mmHg', 1289885)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1289885 )

CHART 523	100.00	[('', 715)]
Numeric observation :0.0000% ( NOTNUM= 715 / ALL= 715 )
dropped

CHART 1742	100.00	[('', 53)]
Numeric observation :96.2264% ( NOTNUM= 2 / ALL= 53 )

CHART 3810	100.00	[('', 21719)]
Numeric observation :90.0087% ( NOTNUM= 2170 / ALL= 21719 )

CHART 1871	100.00	[('', 144)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 144 )

CHART 1829	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 1984	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 526	100.00	[('', 304870)]
Numeric observation :0.0000% ( NOTNUM= 304870 / ALL= 304870 )
dropped

CHART 5503	100.00	[('', 37)]
Numeric observation :0.0000% ( NOTNUM= 37 / ALL= 37 )
dropped

CHART 559	100.00	[('', 7372)]
Numeric observation :0.0000% ( NOTNUM= 7372 / ALL= 7372 )
dropped

CHART 1914	100.00	[('', 11)]
Numeric observation :18.1818% ( NOTNUM= 9 / ALL= 11 )
dropped

CHART 3553	100.00	[('', 82)]
Numeric observation :0.0000% ( NOTNUM= 82 / ALL= 82 )
dropped

CHART 5557	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 227968	100.00	[('', 158185)]
Numeric observation :0.0000% ( NOTNUM= 158185 / ALL= 158185 )
dropped

CHART 2673	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 178	100.00	[('', 2981)]
Numeric observation :87.5881% ( NOTNUM= 370 / ALL= 2981 )

CHART 225770	100.00	[('', 1475)]
Numeric observation :0.0000% ( NOTNUM= 1475 / ALL= 1475 )
dropped

CHART 225409	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 812	90.00	[('mEq/l', 27), ('', 3)]
Numeric observation :90.0000% ( NOTNUM= 3 / ALL= 30 )

CHART 1926	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 227187	100.00	[('cmH2O', 7352)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7352 )

CHART 5974	100.00	[('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 227947	100.00	[('', 276524)]
Numeric observation :0.0000% ( NOTNUM= 276524 / ALL= 276524 )
dropped

CHART 227469	100.00	[('sec', 115)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 115 )

CHART 3326	100.00	[('', 880)]
Numeric observation :0.0000% ( NOTNUM= 880 / ALL= 880 )
dropped

CHART 1768	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 5115	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 8375	100.00	[('', 8475)]
Numeric observation :0.0000% ( NOTNUM= 8475 / ALL= 8475 )
dropped

CHART 224150	100.00	[('mmHg', 58454)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 58454 )

CHART 6607	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 6948	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 6130	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 3402	100.00	[('', 7408)]
Numeric observation :0.0000% ( NOTNUM= 7408 / ALL= 7408 )
dropped

CHART 4625	100.00	[('', 584)]
Numeric observation :0.0000% ( NOTNUM= 584 / ALL= 584 )
dropped

CHART 228311	100.00	[('', 385)]
Numeric observation :0.0000% ( NOTNUM= 385 / ALL= 385 )
dropped

CHART 4607	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 1927	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 224834	100.00	[('', 11079)]
Numeric observation :0.0000% ( NOTNUM= 11079 / ALL= 11079 )
dropped

CHART 6443	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 223999	100.00	[('', 448421)]
Numeric observation :0.0000% ( NOTNUM= 448421 / ALL= 448421 )
dropped

CHART 227681	100.00	[('', 43663)]
Numeric observation :0.0000% ( NOTNUM= 43663 / ALL= 43663 )
dropped

CHART 227655	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 2396	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 763	100.00	[('kg', 47689)]
Numeric observation :99.0606% ( NOTNUM= 448 / ALL= 47689 )

CHART 3450	100.00	[('bpm', 1687883), ('', 3)]
Numeric observation :99.9863% ( NOTNUM= 232 / ALL= 1687886 )

CHART 6919	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 686	85.78	[('cmH2O', 3898), ('', 646)]
Numeric observation :83.6268% ( NOTNUM= 744 / ALL= 4544 )

CHART 3463	100.00	[('', 445)]
Numeric observation :0.0000% ( NOTNUM= 445 / ALL= 445 )
dropped

CHART 5795	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 226764	100.00	[('bpm', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 223834	100.00	[('L/min', 202279)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 202279 )

CHART 1847	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 4297	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 146	99.94	[('ml/hr', 55832), ('', 34)]
Numeric observation :99.8747% ( NOTNUM= 70 / ALL= 55866 )

CHART 4622	100.00	[('', 266)]
Numeric observation :0.0000% ( NOTNUM= 266 / ALL= 266 )
dropped

CHART 224775	100.00	[('', 36480)]
Numeric observation :0.0000% ( NOTNUM= 36480 / ALL= 36480 )
dropped

CHART 193	100.00	[('', 10597)]
Numeric observation :0.0000% ( NOTNUM= 10597 / ALL= 10597 )
dropped

CHART 5960	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 8554	100.00	[('%', 1796313)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1796313 )

CHART 2049	100.00	[('', 24)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 24 )

CHART 7225	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 853	100.00	[('', 2651)]
Numeric observation :98.4911% ( NOTNUM= 40 / ALL= 2651 )

CHART 2021	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 5113	100.00	[('', 83)]
Numeric observation :0.0000% ( NOTNUM= 83 / ALL= 83 )
dropped

CHART 8287	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 4936	100.00	[('', 44)]
Numeric observation :0.0000% ( NOTNUM= 44 / ALL= 44 )
dropped

CHART 8146	100.00	[('', 137)]
Numeric observation :2.1898% ( NOTNUM= 134 / ALL= 137 )
dropped

CHART 5777	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 5280	100.00	[('', 33)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 33 )

CHART 227466	99.92	[('sec', 99687), ('', 82)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 99769 )

CHART 226745	100.00	[('%', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 1736	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 2462	100.00	[('', 76)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 76 )

CHART 223873	100.00	[('cmH2O', 455197)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 455197 )

CHART 2092	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 3608	100.00	[('', 85)]
Numeric observation :0.0000% ( NOTNUM= 85 / ALL= 85 )
dropped

CHART 5973	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 104	100.00	[('', 9059)]
Numeric observation :0.0000% ( NOTNUM= 9059 / ALL= 9059 )
dropped

CHART 1858	100.00	[('', 351)]
Numeric observation :99.7151% ( NOTNUM= 1 / ALL= 351 )

CHART 3070	100.00	[('', 149)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 149 )

CHART 226112	100.00	[('', 6207)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6207 )

CHART 533	72.73	[('L/m', 8), ('', 3)]
Numeric observation :9.0909% ( NOTNUM= 10 / ALL= 11 )
dropped

CHART 4678	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 5669	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 1317	100.00	[('', 13)]
Numeric observation :92.3077% ( NOTNUM= 1 / ALL= 13 )

CHART 2910	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 4212	100.00	[('', 67)]
Numeric observation :0.0000% ( NOTNUM= 67 / ALL= 67 )
dropped

CHART 3475	100.00	[('', 34)]
Numeric observation :0.0000% ( NOTNUM= 34 / ALL= 34 )
dropped

CHART 7074	100.00	[('', 34685)]
Numeric observation :0.0000% ( NOTNUM= 34685 / ALL= 34685 )
dropped

CHART 6540	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 228018	100.00	[('', 53)]
Numeric observation :0.0000% ( NOTNUM= 53 / ALL= 53 )
dropped

CHART 1527	100.00	[('', 2876)]
Numeric observation :99.7218% ( NOTNUM= 8 / ALL= 2876 )

CHART 5248	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 5968	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 297	100.00	[('', 272373)]
Numeric observation :0.0000% ( NOTNUM= 272373 / ALL= 272373 )
dropped

CHART 6830	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 228017	100.00	[('', 57)]
Numeric observation :0.0000% ( NOTNUM= 57 / ALL= 57 )
dropped

CHART 7928	100.00	[('', 50)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 50 )

CHART 400	100.00	[('', 91238)]
Numeric observation :0.0000% ( NOTNUM= 91238 / ALL= 91238 )
dropped

CHART 5218	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 473	100.00	[('ml/m/m', 19571)]
Numeric observation :99.6270% ( NOTNUM= 73 / ALL= 19571 )

CHART 8452	100.00	[('', 2002)]
Numeric observation :0.0000% ( NOTNUM= 2002 / ALL= 2002 )
dropped

CHART 5969	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 8477	100.00	[('', 438250)]
Numeric observation :0.0000% ( NOTNUM= 438250 / ALL= 438250 )
dropped

CHART 819	80.00	[('', 4), ('mcg', 1)]
Numeric observation :20.0000% ( NOTNUM= 4 / ALL= 5 )
dropped

CHART 6021	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 7085	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 1723	100.00	[('', 350)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 350 )

CHART 6303	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 228376	100.00	[('', 676)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 676 )

CHART 813	100.00	[('%', 274349), ('', 1)]
Numeric observation :99.9242% ( NOTNUM= 208 / ALL= 274350 )

CHART 223966	100.00	[('', 1788)]
Numeric observation :0.0000% ( NOTNUM= 1788 / ALL= 1788 )
dropped

CHART 3581	100.00	[('cmH20', 432997)]
Numeric observation :99.9695% ( NOTNUM= 132 / ALL= 432997 )

CHART 227441	99.30	[('mg/dL', 142), ('units', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 143 )

CHART 6538	100.00	[('', 78)]
Numeric observation :98.7179% ( NOTNUM= 1 / ALL= 78 )

CHART 5961	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227835	100.00	[('', 425)]
Numeric observation :0.0000% ( NOTNUM= 425 / ALL= 425 )
dropped

CHART 228343	100.00	[('', 6111)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6111 )

CHART 227983	100.00	[('', 1004)]
Numeric observation :0.0000% ( NOTNUM= 1004 / ALL= 1004 )
dropped

CHART 970	100.00	[('', 1006)]
Numeric observation :0.0000% ( NOTNUM= 1006 / ALL= 1006 )
dropped

CHART 224176	100.00	[('', 1407)]
Numeric observation :0.0000% ( NOTNUM= 1407 / ALL= 1407 )
dropped

CHART 6852	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 225664	100.00	[('', 247833)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 247833 )

CHART 224917	100.00	[('cm', 21929)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 21929 )

CHART 7620	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6451	100.00	[('', 146)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 146 )

CHART 1632	100.00	[('', 549)]
Numeric observation :1.8215% ( NOTNUM= 539 / ALL= 549 )
dropped

CHART 2747	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 1903	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 806	100.00	[('', 18683)]
Numeric observation :98.8867% ( NOTNUM= 208 / ALL= 18683 )

CHART 6503	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 6415	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 6577	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 4264	100.00	[('', 154)]
Numeric observation :0.0000% ( NOTNUM= 154 / ALL= 154 )
dropped

CHART 590	100.00	[('', 363348)]
Numeric observation :0.0000% ( NOTNUM= 363348 / ALL= 363348 )
dropped

CHART 5954	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 579	100.00	[('', 121920)]
Numeric observation :0.0000% ( NOTNUM= 121920 / ALL= 121920 )
dropped

CHART 1734	100.00	[('', 130)]
Numeric observation :29.2308% ( NOTNUM= 92 / ALL= 130 )
dropped

CHART 1628	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 3393	100.00	[('', 10592)]
Numeric observation :0.0000% ( NOTNUM= 10592 / ALL= 10592 )
dropped

CHART 123	100.00	[('', 73352)]
Numeric observation :0.0000% ( NOTNUM= 73352 / ALL= 73352 )
dropped

CHART 1463	100.00	[('', 14)]
Numeric observation :14.2857% ( NOTNUM= 12 / ALL= 14 )
dropped

CHART 6444	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 1917	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6149	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 3118	100.00	[('', 106)]
Numeric observation :0.0000% ( NOTNUM= 106 / ALL= 106 )
dropped

CHART 5391	100.00	[('', 63)]
Numeric observation :0.0000% ( NOTNUM= 63 / ALL= 63 )
dropped

CHART 8489	100.00	[('', 1964)]
Numeric observation :0.0000% ( NOTNUM= 1964 / ALL= 1964 )
dropped

CHART 2789	100.00	[('', 102)]
Numeric observation :0.0000% ( NOTNUM= 102 / ALL= 102 )
dropped

CHART 8409	100.00	[('', 2033)]
Numeric observation :0.0000% ( NOTNUM= 2033 / ALL= 2033 )
dropped

CHART 800	100.00	[('', 21732)]
Numeric observation :99.2592% ( NOTNUM= 161 / ALL= 21732 )

CHART 8360	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 1530	100.00	[('', 106485)]
Numeric observation :99.8817% ( NOTNUM= 126 / ALL= 106485 )

CHART 3796	100.00	[('', 309)]
Numeric observation :99.3528% ( NOTNUM= 2 / ALL= 309 )

CHART 1429	100.00	[('', 10728)]
Numeric observation :0.0000% ( NOTNUM= 10728 / ALL= 10728 )
dropped

CHART 224646	100.00	[('mmHg', 196)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 196 )

CHART 1865	100.00	[('', 30)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 30 )

CHART 6246	100.00	[('', 35)]
Numeric observation :0.0000% ( NOTNUM= 35 / ALL= 35 )
dropped

CHART 6932	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 228233	100.00	[('', 1137)]

Numeric observation :99.7222% ( NOTNUM= 1 / ALL= 360 )

CHART 5950	100.00	[('', 123)]
Numeric observation :99.1870% ( NOTNUM= 1 / ALL= 123 )

CHART 8058	100.00	[('', 33)]
Numeric observation :0.0000% ( NOTNUM= 33 / ALL= 33 )
dropped

CHART 290	100.00	[('', 462)]
Numeric observation :0.0000% ( NOTNUM= 462 / ALL= 462 )
dropped

CHART 4944	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 6750	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 7026	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 793	100.00	[('', 2164)]
Numeric observation :57.5323% ( NOTNUM= 919 / ALL= 2164 )
dropped

CHART 224831	100.00	[('', 44244)]
Numeric observation :0.0000% ( NOTNUM= 44244 / ALL= 44244 )
dropped

CHART 225634	99.91	[('IU/L', 26536), ('', 25)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 26561 )

CHART 228211	100.00	[('', 92)]
Numeric observation :0.0000% ( NOTNUM= 92 / ALL= 92 )
dropped

CHART 4183	100.00	[('', 8243)]
Numeric observation :0.0000% ( NOTNUM= 8243 / ALL= 8243 )
dropped

CHART 5869	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 2052	100.00	[('', 424)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 424 )

CHART 7424	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 7948	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 223827	100.00	[('', 11882)]
Numeric observation :0.0000% ( NOTNUM= 11882 / ALL= 11882 )
dropped

CHART 223986	100.00	[('', 517410)]
Numeric observation :0.0000% ( NOTNUM= 517410 / ALL= 517410 )
dropped

CHART 226536	99.67	[('mEq/L', 11980), ('', 40)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12020 )

CHART 2638	100.00	[('', 62)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 62 )

CHART 86	100.00	[('', 343827)]
Numeric observation :0.0000% ( NOTNUM= 343827 / ALL= 343827 )
dropped

CHART 2697	100.00	[('', 36)]
Numeric observation :91.6667% ( NOTNUM= 3 / ALL= 36 )

CHART 3563	100.00	[('', 69165)]
Numeric observation :0.0000% ( NOTNUM= 69165 / ALL= 69165 )
dropped

CHART 7885	100.00	[('', 41)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 41 )

CHART 225074	100.00	[('', 30995)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 30995 )

CHART 2619	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 7535	100.00	[('', 91)]
Numeric observation :0.0000% ( NOTNUM= 91 / ALL= 91 )
dropped

CHART 225004	100.00	[('', 58059)]
Numeric observation :0.0000% ( NOTNUM= 58059 / ALL= 58059 )
dropped

CHART 3265	100.00	[('', 287)]
Numeric observation :98.9547% ( NOTNUM= 3 / ALL= 287 )

CHART 3030	100.00	[('', 39)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 39 )

CHART 3037	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 2461	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 5501	100.00	[('', 59)]
Numeric observation :0.0000% ( NOTNUM= 59 / ALL= 59 )
dropped

CHART 6133	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 227024	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 4744	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 1404	100.00	[('', 52)]
Numeric observation :96.1538% ( NOTNUM= 2 / ALL= 52 )

CHART 8417	100.00	[('', 45754)]
Numeric observation :0.0000% ( NOTNUM= 45754 / ALL= 45754 )
dropped

CHART 3468	100.00	[('', 35267)]
Numeric observation :0.0000% ( NOTNUM= 35267 / ALL= 35267 )
dropped

CHART 7488	100.00	[('', 48)]
Numeric observation :0.0000% ( NOTNUM= 48 / ALL= 48 )
dropped

CHART 6773	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 226871	100.00	[('', 207294)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 207294 )

CHART 1904	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 3064	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 225728	100.00	[('', 170)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 170 )

CHART 3105	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 1583	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 1485	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 3727	100.00	[('', 546)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 546 )

CHART 6486	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 495	100.00	[('', 4354)]
Numeric observation :91.3643% ( NOTNUM= 376 / ALL= 4354 )

CHART 5212	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 2321	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 224856	100.00	[('', 1267)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1267 )

CHART 3618	100.00	[('', 490)]
Numeric observation :0.0000% ( NOTNUM= 490 / ALL= 490 )
dropped

CHART 3791	100.00	[('', 8157)]
Numeric observation :99.9510% ( NOTNUM= 4 / ALL= 8157 )

CHART 4789	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 2370	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 1719	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 6868	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 3414	100.00	[('', 432)]
Numeric observation :0.0000% ( NOTNUM= 432 / ALL= 432 )
dropped

CHART 3050	100.00	[('', 105)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 105 )

CHART 3208	100.00	[('', 11)]
Numeric observation :18.1818% ( NOTNUM= 9 / ALL= 11 )
dropped

CHART 224939	100.00	[('', 49922)]
Numeric observation :0.0000% ( NOTNUM= 49922 / ALL= 49922 )
dropped

CHART 618	99.99	[('BPM', 3386269), ('', 450)]
Numeric observation :99.9489% ( NOTNUM= 1730 / ALL= 3386719 )

CHART 2198	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 3601	100.00	[('', 968)]
Numeric observation :17.3554% ( NOTNUM= 800 / ALL= 968 )
dropped

CHART 6396	100.00	[('', 78)]
Numeric observation :0.0000% ( NOTNUM= 78 / ALL= 78 )
dropped

CHART 6653	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 223997	100.00	[('', 38743)]
Numeric observation :0.0000% ( NOTNUM= 38743 / ALL= 38743 )
dropped

CHART 225092	100.00	[('', 42648)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 42648 )

CHART 5999	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 5205	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 1393	100.00	[('kg', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 7414	100.00	[('', 43)]
Numeric observation :0.0000% ( NOTNUM= 43 / ALL= 43 )
dropped

CHART 2273	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 7953	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 2547	100.00	[('', 33)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 33 )

CHART 7823	100.00	[('', 56)]
Numeric observation :0.0000% ( NOTNUM= 56 / ALL= 56 )
dropped

CHART 5301	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 3583	100.00	[('kg', 416621)]
Numeric observation :99.9736% ( NOTNUM= 110 / ALL= 416621 )

CHART 6153	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 227680	100.00	[('', 14116)]
Numeric observation :0.0000% ( NOTNUM= 14116 / ALL= 14116 )
dropped

CHART 1094	100.00	[('', 222)]
Numeric observation :0.0000% ( NOTNUM= 222 / ALL= 222 )
dropped

CHART 4557	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 8510	100.00	[('', 131579)]
Numeric observation :0.0000% ( NOTNUM= 131579 / ALL= 131579 )
dropped

CHART 225741	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 3665	90.93	[('cc/kg/', 7769), ('', 775)]
Numeric observation :90.7186% ( NOTNUM= 793 / ALL= 8544 )

CHART 7790	100.00	[('', 26)]
Numeric observation :3.8462% ( NOTNUM= 25 / ALL= 26 )
dropped

CHART 5890	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 425	100.00	[('', 783762)]
Numeric observation :0.0000% ( NOTNUM= 783762 / ALL= 783762 )
dropped

CHART 1390	99.89	[('ml/min', 16753), ('', 19)]
Numeric observation :99.6601% ( NOTNUM= 57 / ALL= 16772 )

CHART 3134	100.00	[('', 15)]
Numeric observation :93.3333% ( NOTNUM= 1 / ALL= 15 )

CHART 43	100.00	[('', 75934)]
Numeric observation :0.0000% ( NOTNUM= 75934 / ALL= 75934 )
dropped

CHART 4661	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 1077	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 223824	100.00	[('', 16815)]
Numeric observation :0.0000% ( NOTNUM= 16815 / ALL= 16815 )
dropped

CHART 224379	100.00	[('', 12328)]
Numeric observation :0.0000% ( NOTNUM= 12328 / ALL= 12328 )
dropped

CHART 6261	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 6215	100.00	[('', 73)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 73 )

CHART 482	79.03	[('mmHg', 147), ('', 39)]
Numeric observation :79.0323% ( NOTNUM= 39 / ALL= 186 )
dropped

CHART 6101	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 5808	100.00	[('', 64)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 64 )

CHART 5713	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 6283	100.00	[('', 3)]
Numeric observation :66.6667% ( NOTNUM= 1 / ALL= 3 )
dropped

CHART 4410	100.00	[('', 763)]
Numeric observation :0.0000% ( NOTNUM= 763 / ALL= 763 )
dropped

CHART 3206	100.00	[('', 83)]
Numeric observation :3.6145% ( NOTNUM= 80 / ALL= 83 )
dropped

CHART 1931	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 227598	100.00	[('', 3020)]
Numeric observation :0.0000% ( NOTNUM= 3020 / ALL= 3020 )
dropped

CHART 924	100.00	[('', 41704)]
Numeric observation :0.0000% ( NOTNUM= 41704 / ALL= 41704 )
dropped

CHART 227055	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 225759	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 5903	100.00	[('', 79)]
Numeric observation :0.0000% ( NOTNUM= 79 / ALL= 79 )
dropped

CHART 5987	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 5410	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 731	100.00	[('', 42660)]
Numeric observation :0.0000% ( NOTNUM= 42660 / ALL= 42660 )
dropped

CHART 6249	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 1558	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 1713	100.00	[('', 5)]
Numeric observation :20.0000% ( NOTNUM= 4 / ALL= 5 )
dropped

CHART 4867	100.00	[('', 205)]
Numeric observation :0.0000% ( NOTNUM= 205 / ALL= 205 )
dropped

CHART 227292	100.00	[('', 182070)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 182070 )

CHART 1471	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 3246	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 4641	100.00	[('', 1168)]
Numeric observation :0.0000% ( NOTNUM= 1168 / ALL= 1168 )
dropped

CHART 225961	100.00	[('', 121)]
Numeric observation :0.0000% ( NOTNUM= 121 / ALL= 121 )
dropped

CHART 227717	100.00	[('mmHg', 2065)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2065 )

CHART 223905	100.00	[('', 411190)]
Numeric observation :0.0000% ( NOTNUM= 411190 / ALL= 411190 )
dropped

CHART 226531	100.00	[('', 46255)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 46255 )

CHART 645	100.00	[('', 133038)]
Numeric observation :0.0000% ( NOTNUM= 133038 / ALL= 133038 )
dropped

CHART 1585	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 597	100.00	[('', 30584)]
Numeric observation :0.0000% ( NOTNUM= 30584 / ALL= 30584 )
dropped

CHART 7765	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2382	100.00	[('', 102)]
Numeric observation :73.5294% ( NOTNUM= 27 / ALL= 102 )
dropped

CHART 6296	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 6263	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 7041	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 225312	100.00	[('mmHg', 87182)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 87182 )

CHART 227023	100.00	[('mmHg', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 4262	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 220120	100.00	[('', 2152)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2152 )

CHART 5751	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 87	100.00	[('number', 342103)]
Numeric observation :99.9781% ( NOTNUM= 75 / ALL= 342103 )

CHART 2946	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 2039	100.00	[('', 27)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 27 )

CHART 3670	100.00	[('', 131)]
Numeric observation :0.0000% ( NOTNUM= 131 / ALL= 131 )
dropped

CHART 4527	100.00	[('', 15)]
Numeric observation :6.6667% ( NOTNUM= 14 / ALL= 15 )
dropped

CHART 7234	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 169	100.00	[('', 143219)]
Numeric observation :0.0000% ( NOTNUM= 143219 / ALL= 143219 )
dropped

CHART 1515	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 6975	100.00	[('', 85)]
Numeric observation :0.0000% ( NOTNUM= 85 / ALL= 85 )
dropped

CHART 224061	100.00	[('', 299)]
Numeric observation :0.0000% ( NOTNUM= 299 / ALL= 299 )
dropped

CHART 224767	100.00	[('', 154799)]
Numeric observation :0.0000% ( NOTNUM= 154799 / ALL= 154799 )
dropped

CHART 7862	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 5071	100.00	[('', 21)]
Numeric observation :0.0000% ( NOTNUM= 21 / ALL= 21 )
dropped

CHART 226747	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 344	100.00	[('', 135582)]
Numeric observation :0.0000% ( NOTNUM= 135582 / ALL= 135582 )
dropped

CHART 3748	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 4354	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 824	100.00	[('', 135032)]
Numeric observation :99.9200% ( NOTNUM= 108 / ALL= 135032 )

CHART 776	100.00	[('', 269723)]
Numeric observation :97.1563% ( NOTNUM= 7670 / ALL= 269723 )

CHART 3609	99.93	[('cmH20', 1620293), ('', 1100)]
Numeric observation :99.9159% ( NOTNUM= 1364 / ALL= 1621393 )

CHART 8366	100.00	[('', 6203)]
Numeric observation :0.0000% ( NOTNUM= 6203 / ALL= 6203 )
dropped

CHART 227726	100.00	[('', 145)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 145 )

CHART 227651	100.00	[('', 198)]
Numeric observation :0.0000% ( NOTNUM= 198 / ALL= 198 )
dropped

CHART 1193	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 5507	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 225206	100.00	[('', 35785)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 35785 )

CHART 224948	100.00	[('', 16551)]
Numeric observation :0.0000% ( NOTNUM= 16551 / ALL= 16551 )
dropped

CHART 224794	100.00	[('', 90821)]
Numeric observation :0.0000% ( NOTNUM= 90821 / ALL= 90821 )
dropped

CHART 226777	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 649	100.00	[('', 2618)]
Numeric observation :0.0000% ( NOTNUM= 2618 / ALL= 2618 )
dropped

CHART 1616	100.00	[('', 1127)]
Numeric observation :99.9113% ( NOTNUM= 1 / ALL= 1127 )

CHART 5706	100.00	[('', 109)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 109 )

CHART 7573	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 4437	100.00	[('', 78)]
Numeric observation :0.0000% ( NOTNUM= 78 / ALL= 78 )
dropped

CHART 8552	100.00	[('mmHg', 174222)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 174222 )

CHART 6943	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 121	100.00	[('', 28711)]
Numeric observation :0.0000% ( NOTNUM= 28711 / ALL= 28711 )
dropped

CHART 1189	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 223920	100.00	[('', 404984)]
Numeric observation :0.0000% ( NOTNUM= 404984 / ALL= 404984 )
dropped

CHART 5513	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 8492	100.00	[('', 299332)]
Numeric observation :0.0000% ( NOTNUM= 299332 / ALL= 299332 )
dropped

CHART 8139	100.00	[('', 290)]
Numeric observation :0.0000% ( NOTNUM= 290 / ALL= 290 )
dropped

CHART 787	100.00	[('', 193368)]
Numeric observation :99.9348% ( NOTNUM= 126 / ALL= 193368 )

CHART 944	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 1334	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1036	100.00	[('', 4)]
Numeric observation :25.0000% ( NOTNUM= 3 / ALL= 4 )
dropped

CHART 2660	100.00	[('', 40)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 40 )

CHART 7364	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 154	100.00	[('', 818852)]
Numeric observation :0.0000% ( NOTNUM= 818852 / ALL= 818852 )
dropped

CHART 5750	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 7803	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 226170	100.00	[('Degree', 73)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 73 )

CHART 224945	100.00	[('', 70568)]
Numeric observation :0.0000% ( NOTNUM= 70568 / ALL= 70568 )
dropped

CHART 225738	100.00	[('', 536)]
Numeric observation :0.0000% ( NOTNUM= 536 / ALL= 536 )
dropped

CHART 35	94.66	[('lpm', 337), ('', 19)]
Numeric observation :91.8539% ( NOTNUM= 29 / ALL= 356 )

CHART 225989	100.00	[('', 413)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 413 )

CHART 602	99.99	[('g*m/m2', 75346), ('', 5)]
Numeric observation :99.6709% ( NOTNUM= 248 / ALL= 75351 )

CHART 1722	100.00	[('', 298)]
Numeric observation :0.0000% ( NOTNUM= 298 / ALL= 298 )
dropped

CHART 1609	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 2971	100.00	[('', 21)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 21 )

CHART 224314	100.00	[('mmHg', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 1315	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 4595	100.00	[('', 601)]
Numeric observation :0.0000% ( NOTNUM= 601 / ALL= 601 )
dropped

CHART 6640	100.00	[('', 3)]
Numeric observation :66.6667% ( NOTNUM= 1 / ALL= 3 )
dropped

CHART 2628	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 3671	100.00	[('', 228)]
Numeric observation :0.0000% ( NOTNUM= 228 / ALL= 228 )
dropped

CHART 228194	100.00	[('', 1097)]
Numeric observation :0.0000% ( NOTNUM= 1097 / ALL= 1097 )
dropped

CHART 1455	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 1037	100.00	[('', 7)]
Numeric observation :85.7143% ( NOTNUM= 1 / ALL= 7 )

CHART 1687	100.00	[('', 144)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 144 )

CHART 2394	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 188	100.00	[('', 4490)]
Numeric observation :0.0000% ( NOTNUM= 4490 / ALL= 4490 )
dropped

CHART 375	100.00	[('', 152424)]
Numeric observation :0.0000% ( NOTNUM= 152424 / ALL= 152424 )
dropped

CHART 3281	100.00	[('', 60)]
Numeric observation :98.3333% ( NOTNUM= 1 / ALL= 60 )

CHART 7118	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 227805	100.00	[('', 3442)]

dropped

CHART 7667	100.00	[('', 52)]
Numeric observation :0.0000% ( NOTNUM= 52 / ALL= 52 )
dropped

CHART 1674	100.00	[('', 41)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 41 )

CHART 2932	100.00	[('', 11)]
Numeric observation :90.9091% ( NOTNUM= 1 / ALL= 11 )

CHART 4990	100.00	[('', 57)]
Numeric observation :0.0000% ( NOTNUM= 57 / ALL= 57 )
dropped

CHART 8265	100.00	[('', 21)]
Numeric observation :0.0000% ( NOTNUM= 21 / ALL= 21 )
dropped

CHART 1042	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1495	100.00	[('', 82)]
Numeric observation :97.5610% ( NOTNUM= 2 / ALL= 82 )

CHART 5781	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 8298	100.00	[('', 47)]
Numeric observation :97.8723% ( NOTNUM= 1 / ALL= 47 )

CHART 228290	100.00	[('', 97)]
Numeric observation :0.0000% ( NOTNUM= 97 / ALL= 97 )
dropped

CHART 4193	100.00	[('', 57)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 57 )

CHART 4676	100.00	[('', 35)]
Numeric observation :0.0000% ( NOTNUM= 35 / ALL= 35 )
dropped

CHART 227601	100.00	[('', 2039)]
Numeric observation :0.0000% ( NOTNUM= 2039 / ALL= 2039 )
dropped

CHART 3732	100.00	[('', 15516)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15516 )

CHART 227667	100.00	[('', 42114)]
Numeric observation :0.0000% ( NOTNUM= 42114 / ALL= 42114 )
dropped

CHART 5742	100.00	[('', 122)]
Numeric observation :0.0000% ( NOTNUM= 122 / ALL= 122 )
dropped

CHART 5947	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 665	100.00	[('', 55289)]
Numeric observation :0.0000% ( NOTNUM= 55289 / ALL= 55289 )
dropped

CHART 7680	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 225126	100.00	[('', 34174)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 34174 )

CHART 3688	94.36	[('in', 19628), ('', 1173)]
Numeric observation :94.2984% ( NOTNUM= 1186 / ALL= 20801 )

CHART 1848	100.00	[('', 29)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 29 )

CHART 2510	100.00	[('', 71)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 71 )

CHART 5646	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 225240	100.00	[('', 3096)]
Numeric observation :0.0000% ( NOTNUM= 3096 / ALL= 3096 )
dropped

CHART 226135	100.00	[('', 3045)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3045 )

CHART 227675	100.00	[('', 422)]
Numeric observation :0.0000% ( NOTNUM= 422 / ALL= 422 )
dropped

CHART 1439	100.00	[('', 17333)]
Numeric observation :0.0000% ( NOTNUM= 17333 / ALL= 17333 )
dropped

CHART 5876	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 6212	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 8149	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 6239	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 807	100.00	[('', 435807)]
Numeric observation :98.9004% ( NOTNUM= 4792 / ALL= 435807 )

CHART 1929	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 3638	100.00	[('', 27508)]
Numeric observation :0.0000% ( NOTNUM= 27508 / ALL= 27508 )
dropped

CHART 2056	100.00	[('', 117)]
Numeric observation :76.0684% ( NOTNUM= 28 / ALL= 117 )
dropped

CHART 5650	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 223963	100.00	[('', 2625)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2625 )

CHART 5912	100.00	[('', 198590)]
Numeric observation :0.0000% ( NOTNUM= 198590 / ALL= 198590 )
dropped

CHART 6192	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 6202	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 7033	100.00	[('', 130)]
Numeric observation :99.2308% ( NOTNUM= 1 / ALL= 130 )

CHART 3125	100.00	[('', 75)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 75 )

CHART 1692	100.00	[('', 88)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 88 )

CHART 2316	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 1946	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2582	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6353	100.00	[('', 59)]
Numeric observation :0.0000% ( NOTNUM= 59 / ALL= 59 )
dropped

CHART 399	100.00	[('', 143384)]
Numeric observation :0.0000% ( NOTNUM= 143384 / ALL= 143384 )
dropped

CHART 226094	100.00	[('mmHg', 195)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 195 )

CHART 227761	100.00	[('', 1060)]
Numeric observation :0.0000% ( NOTNUM= 1060 / ALL= 1060 )
dropped

CHART 2551	100.00	[('', 34)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 34 )

CHART 2135	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 852	100.00	[('', 5087)]
Numeric observation :3.8333% ( NOTNUM= 4892 / ALL= 5087 )
dropped

CHART 6535	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 227475	100.00	[('', 6491)]
Numeric observation :0.0000% ( NOTNUM= 6491 / ALL= 6491 )
dropped

CHART 3354	100.00	[('', 101)]
Numeric observation :0.0000% ( NOTNUM= 101 / ALL= 101 )
dropped

CHART 2773	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 7914	100.00	[('', 38781)]
Numeric observation :0.0000% ( NOTNUM= 38781 / ALL= 38781 )
dropped

CHART 4604	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 1545	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 224167	100.00	[('mmHg', 740)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 740 )

CHART 2203	100.00	[('', 65)]
Numeric observation :83.0769% ( NOTNUM= 11 / ALL= 65 )

CHART 223979	100.00	[('', 154468)]
Numeric observation :0.0000% ( NOTNUM= 154468 / ALL= 154468 )
dropped

CHART 225007	100.00	[('', 1958)]
Numeric observation :0.0000% ( NOTNUM= 1958 / ALL= 1958 )
dropped

CHART 268	100.00	[('', 3772)]
Numeric observation :0.0000% ( NOTNUM= 3772 / ALL= 3772 )
dropped

CHART 549	100.00	[('', 456297)]
Numeric observation :0.0000% ( NOTNUM= 456297 / ALL= 456297 )
dropped

CHART 1512	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 8427	100.00	[('', 687)]
Numeric observation :0.0000% ( NOTNUM= 687 / ALL= 687 )
dropped

CHART 310	100.00	[('', 4767)]
Numeric observation :0.0000% ( NOTNUM= 4767 / ALL= 4767 )
dropped

CHART 3179	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 3771	100.00	[('', 8360)]
Numeric observation :99.9522% ( NOTNUM= 4 / ALL= 8360 )

CHART 4735	100.00	[('', 51)]
Numeric observation :0.0000% ( NOTNUM= 51 / ALL= 51 )
dropped

CHART 224997	100.00	[('', 836)]
Numeric observation :0.0000% ( NOTNUM= 836 / ALL= 836 )
dropped

CHART 1614	100.00	[('', 15)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15 )

CHART 227471	100.00	[('', 17199)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17199 )

CHART 225135	100.00	[('', 29348)]
Numeric observation :0.0000% ( NOTNUM= 29348 / ALL= 29348 )
dropped

CHART 1369	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 3817	100.00	[('', 1821)]
Numeric observation :1.3729% ( NOTNUM= 1796 / ALL= 1821 )
dropped

CHART 8509	100.00	[('', 58)]
Numeric observation :0.0000% ( NOTNUM= 58 / ALL= 58 )
dropped

CHART 223931	100.00	[('', 30199)]
Numeric observation :0.0000% ( NOTNUM= 30199 / ALL= 30199 )
dropped

CHART 1627	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 5213	100.00	[('', 106)]
Numeric observation :0.0000% ( NOTNUM= 106 / ALL= 106 )
dropped

CHART 8109	100.00	[('', 70)]
Numeric observation :0.0000% ( NOTNUM= 70 / ALL= 70 )
dropped

CHART 836	100.00	[('', 8174)]
Numeric observation :99.0335% ( NOTNUM= 79 / ALL= 8174 )

CHART 1490	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 223835	100.00	[('', 558061)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 558061 )

CHART 225732	100.00	[('', 1926)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1926 )

CHART 1746	100.00	[('', 493)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 493 )

CHART 7407	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 5662	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 4721	100.00	[('', 92)]
Numeric observation :0.0000% ( NOTNUM= 92 / ALL= 92 )
dropped

CHART 227846	100.00	[('', 297)]
Numeric observation :0.0000% ( NOTNUM= 297 / ALL= 297 )
dropped

CHART 227990	100.00	[('mmHg', 120)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 120 )

CHART 5214	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 227363	100.00	[('', 8778)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8778 )

CHART 2366	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 8497	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 225724	100.00	[('', 1301)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1301 )

CHART 1419	100.00	[('', 216)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 216 )

CHART 5609	100.00	[('', 88)]
Numeric observation :0.0000% ( NOTNUM= 88 / ALL= 88 )
dropped

CHART 224188	100.00	[('', 92870)]
Numeric observation :0.0000% ( NOTNUM= 92870 / ALL= 92870 )
dropped

CHART 225113	100.00	[('', 33848)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 33848 )

CHART 225188	100.00	[('', 76848)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 76848 )

CHART 2301	100.00	[('', 50)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 50 )

CHART 226998	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 3640	100.00	[('', 1694)]
Numeric observation :0.0000% ( NOTNUM= 1694 / ALL= 1694 )
dropped

CHART 8268	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 8140	100.00	[('', 293)]
Numeric observation :0.0000% ( NOTNUM= 293 / ALL= 293 )
dropped

CHART 4562	100.00	[('', 137)]
Numeric observation :0.0000% ( NOTNUM= 137 / ALL= 137 )
dropped

CHART 5060	100.00	[('', 85)]
Numeric observation :0.0000% ( NOTNUM= 85 / ALL= 85 )
dropped

CHART 226769	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 227115	100.00	[('', 1164)]
Numeric observation :0.0000% ( NOTNUM= 1164 / ALL= 1164 )
dropped

CHART 8190	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 265	100.00	[('', 4794)]
Numeric observation :0.0000% ( NOTNUM= 4794 / ALL= 4794 )
dropped

CHART 1162	100.00	[('', 152029)]
Numeric observation :99.9638% ( NOTNUM= 55 / ALL= 152029 )

CHART 996	100.00	[('', 182)]
Numeric observation :98.9011% ( NOTNUM= 2 / ALL= 182 )

CHART 4272	100.00	[('', 515)]
Numeric observation :0.0000% ( NOTNUM= 515 / ALL= 515 )
dropped

CHART 227933	100.00	[('%', 110)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 110 )

CHART 379	100.00	[('', 2097)]
Numeric observation :0.0000% ( NOTNUM= 2097 / ALL= 2097 )
dropped

CHART 3570	100.00	[('', 170332)]
Numeric observation :0.0000% ( NOTNUM= 170332 / ALL= 170332 )
dropped

CHART 5293	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 3257	100.00	[('', 102)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 102 )

CHART 6184	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227848	100.00	[('', 198)]
Numeric observation :0.0000% ( NOTNUM= 198 / ALL= 198 )
dropped

CHART 168	100.00	[('', 139500)]
Numeric observation :0.0000% ( NOTNUM= 139500 / ALL= 139500 )
dropped

CHART 2109	100.00	[('', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 228226	100.00	[('', 147)]
Numeric observation :0.0000% ( NOTNUM= 147 / ALL= 147 )
dropped

CHART 3622	100.00	[('', 209)]
Numeric observation :0.0000% ( NOTNUM= 209 / ALL= 209 )
dropped

CHART 223811	100.00	[('', 17907)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17907 )

CHART 2616	100.00	[('', 46)]
Numeric observation :0.0000% ( NOTNUM= 46 / ALL= 46 )
dropped

CHART 2765	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 4681	100.00	[('', 39)]
Numeric observation :0.0000% ( NOTNUM= 39 / ALL= 39 )
dropped

CHART 228175	100.00	[('', 377)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 377 )

CHART 3457	99.55	[('Hertz', 35071), ('', 159)]
Numeric observation :99.4919% ( NOTNUM= 179 / ALL= 35230 )

CHART 2901	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 220228	100.00	[('g/dl', 137117)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 137117 )

CHART 1707	95.86	[('V-mA', 22532), ('', 972)]
Numeric observation :94.9626% ( NOTNUM= 1184 / ALL= 23504 )

CHART 7746	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 3032	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 238	100.00	[('', 315170)]
Numeric observation :0.0000% ( NOTNUM= 315170 / ALL= 315170 )
dropped

CHART 3307	100.00	[('', 34319)]
Numeric observation :0.0000% ( NOTNUM= 34319 / ALL= 34319 )
dropped

CHART 2543	100.00	[('', 12)]
Numeric observation :8.3333% ( NOTNUM= 11 / ALL= 12 )
dropped

CHART 4445	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 8426	100.00	[('', 2828)]
Numeric observation :0.0000% ( NOTNUM= 2828 / ALL= 2828 )
dropped

CHART 7890	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 4736	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 3426	100.00	[('', 89)]
Numeric observation :0.0000% ( NOTNUM= 89 / ALL= 89 )
dropped

CHART 1936	100.00	[('', 7)]
Numeric observation :71.4286% ( NOTNUM= 2 / ALL= 7 )
dropped

CHART 7259	100.00	[('', 61)]
Numeric observation :0.0000% ( NOTNUM= 61 / ALL= 61 )
dropped

CHART 220125	100.00	[('L/min', 24)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 24 )

CHART 2185	100.00	[('', 66)]
Numeric observation :77.2727% ( NOTNUM= 15 / ALL= 66 )
dropped

CHART 3459	99.25	[('cmH20', 221112), ('', 1679)]
Numeric observation :99.1858% ( NOTNUM= 1814 / ALL= 222791 )

CHART 228179	100.00	[('ml/kg', 1184)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1184 )

CHART 6277	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227631	100.00	[('', 10629)]
Numeric observation :0.0000% ( NOTNUM= 10629 / ALL= 10629 )
dropped

CHART 2691	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 227351	100.00	[('', 11432)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11432 )

CHART 7909	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 6344	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 7861	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 3283	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 3600	100.00	[('', 114)]
Numeric observation :0.0000% ( NOTNUM= 114 / ALL= 114 )
dropped

CHART 220179	100.00	[('mmHg', 1290488)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1290488 )

CHART 2130	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 8413	100.00	[('', 1143)]
Numeric observation :0.0000% ( NOTNUM= 1143 / ALL= 1143 )
dropped

CHART 733	100.00	[('kg', 36673)]
Numeric observation :98.7729% ( NOTNUM= 450 / ALL= 36673 )

CHART 225020	100.00	[('', 5322)]
Numeric observation :0.0000% ( NOTNUM= 5322 / ALL= 5322 )
dropped

CHART 3274	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 7241	100.00	[('', 98)]
Numeric observation :97.9592% ( NOTNUM= 2 / ALL= 98 )

CHART 4929	100.00	[('', 123)]
Numeric observation :0.0000% ( NOTNUM= 123 / ALL= 123 )
dropped

CHART 226537	74.35	[('mg/dL', 52828), ('', 18229)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 71057 )

CHART 825	100.00	[('', 146058)]
Numeric observation :99.5646% ( NOTNUM= 636 / ALL= 146058 )

CHART 6205	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 8120	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 1898	100.00	[('', 200)]
Numeric observation :81.0000% ( NOTNUM= 38 / ALL= 200 )

CHART 3562	100.00	[('', 777)]
Numeric observation :0.0000% ( NOTNUM= 777 / ALL= 777 )
dropped

CHART 1835	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 555	100.00	[('', 4762)]
Numeric observation :0.0000% ( NOTNUM= 4762 / ALL= 4762 )
dropped

CHART 554	100.00	[('', 34222)]
Numeric observation :0.0000% ( NOTNUM= 34222 / ALL= 34222 )
dropped

CHART 224019	100.00	[('', 1758)]
Numeric observation :0.0000% ( NOTNUM= 1758 / ALL= 1758 )
dropped

CHART 225953	100.00	[('', 777)]
Numeric observation :0.0000% ( NOTNUM= 777 / ALL= 777 )
dropped

CHART 2704	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 225108	100.00	[('', 1197)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1197 )

CHART 191	100.00	[('decFrc', 160)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 160 )

CHART 2972	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2694	100.00	[('', 70)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 70 )

CHART 224363	100.00	[('bpm', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 4426	100.00	[('', 89)]
Numeric observation :0.0000% ( NOTNUM= 89 / ALL= 89 )
dropped

CHART 8464	100.00	[('', 2206)]
Numeric observation :0.0000% ( NOTNUM= 2206 / ALL= 2206 )
dropped

CHART 227462	100.00	[('ng/mL', 2159)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2159 )

CHART 227647	100.00	[('cm', 43)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 43 )

CHART 224456	100.00	[('', 2441)]
Numeric observation :0.0000% ( NOTNUM= 2441 / ALL= 2441 )
dropped

CHART 8315	100.00	[('', 132)]
Numeric observation :0.0000% ( NOTNUM= 132 / ALL= 132 )
dropped

CHART 6513	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 223836	100.00	[('', 1660)]
Numeric observation :0.0000% ( NOTNUM= 1660 / ALL= 1660 )
dropped

CHART 1980	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 2090	100.00	[('', 50)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 50 )

CHART 6078	100.00	[('', 60)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 60 )

CHART 2248	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 5004	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 227612	100.00	[('', 3402)]
Numeric observation :0.0000% ( NOTNUM= 3402 / ALL= 3402 )
dropped

CHART 135	100.00	[('', 72095)]
Numeric observation :0.0000% ( NOTNUM= 72095 / ALL= 72095 )
dropped

CHART 223762	100.00	[('?C', 74144)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 74144 )

CHART 227013	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 228137	100.00	[('', 17393)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17393 )

CHART 39	100.00	[('', 488169)]
Numeric observation :0.0000% ( NOTNUM= 488169 / ALL= 488169 )
dropped

CHART 227923	100.00	[('', 116)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 116 )

CHART 1047	100.00	[('', 399956)]
Numeric observation :0.0000% ( NOTNUM= 399956 / ALL= 399956 )
dropped

CHART 2555	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 228190	100.00	[('', 648)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 648 )

CHART 1821	100.00	[('', 28)]
Numeric observation :25.0000% ( NOTNUM= 21 / ALL= 28 )
dropped

CHART 2834	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 3010	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 7222	100.00	[('', 83)]
Numeric observation :0.0000% ( NOTNUM= 83 / ALL= 83 )
dropped

CHART 4790	100.00	[('', 202)]
Numeric observation :0.0000% ( NOTNUM= 202 / ALL= 202 )
dropped


Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 6076	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 7204	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 6848	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 224711	100.00	[('sec', 383)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 383 )

CHART 226180	100.00	[('', 27621)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 27621 )

CHART 6065	100.00	[('', 92)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 92 )

CHART 7687	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 224850	100.00	[('', 112435)]
Numeric observation :0.0000% ( NOTNUM= 112435 / ALL= 112435 )
dropped

CHART 228185	100.00	[('dynes.sec.cm-5/m2', 1506)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1506 )

CHART 1067	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 224077	100.00	[('', 201608)]
Numeric observation :0.0000% ( NOTNUM= 201608 / ALL= 201608 )
dropped

CHART 1103	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2110	100.00	[('', 44)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 44 )

CHART 6251	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 7385	100.00	[('', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 447	100.00	[('', 621)]
Numeric observation :0.0000% ( NOTNUM= 621 / ALL= 621 )
dropped

CHART 2456	100.00	[('', 24)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 24 )

CHART 3567	100.00	[('', 464)]
Numeric observation :0.0000% ( NOTNUM= 464 / ALL= 464 )
dropped

CHART 5545	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 8070	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 5787	100.00	[('', 40)]
Numeric observation :0.0000% ( NOTNUM= 40 / ALL= 40 )
dropped

CHART 223794	100.00	[('', 378243)]
Numeric observation :0.0000% ( NOTNUM= 378243 / ALL= 378243 )
dropped

CHART 4381	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 7955	100.00	[('', 198)]
Numeric observation :0.0000% ( NOTNUM= 198 / ALL= 198 )
dropped

CHART 4209	100.00	[('', 157)]
Numeric observation :0.0000% ( NOTNUM= 157 / ALL= 157 )
dropped

CHART 4564	100.00	[('', 204)]
Numeric observation :0.0000% ( NOTNUM= 204 / ALL= 204 )
dropped

CHART 3121	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 3737	100.00	[('', 2138)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2138 )

CHART 6207	100.00	[('', 99331)]
Numeric observation :97.8627% ( NOTNUM= 2123 / ALL= 99331 )

CHART 7126	100.00	[('', 64)]
Numeric observation :0.0000% ( NOTNUM= 64 / ALL= 64 )
dropped

CHART 8493	100.00	[('', 53267)]
Numeric observation :0.0000% ( NOTNUM= 53267 / ALL= 53267 )
dropped

CHART 227133	100.00	[('', 2360)]
Numeric observation :0.0000% ( NOTNUM= 2360 / ALL= 2360 )
dropped

CHART 226125	100.00	[('', 76)]
Numeric observation :0.0000% ( NOTNUM= 76 / ALL= 76 )
dropped

CHART 156	100.00	[('', 577780)]
Numeric observation :0.0000% ( NOTNUM= 577780 / ALL= 577780 )
dropped

CHART 1962	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 8346	100.00	[('', 30)]
Numeric observation :0.0000% ( NOTNUM= 30 / ALL= 30 )
dropped

CHART 1670	100.00	[('', 71)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 71 )

CHART 3233	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 4504	100.00	[('', 1211)]
Numeric observation :0.0000% ( NOTNUM= 1211 / ALL= 1211 )
dropped

CHART 5760	100.00	[('', 22)]
Numeric observation :0.0000% ( NOTNUM= 22 / ALL= 22 )
dropped

CHART 5719	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 225657	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6001	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 194	98.09	[('lpm', 30766), ('', 600)]
Numeric observation :97.9787% ( NOTNUM= 634 / ALL= 31366 )

CHART 4196	100.00	[('', 8097)]
Numeric observation :99.6171% ( NOTNUM= 31 / ALL= 8097 )

CHART 430	100.00	[('g * m', 175052), ('', 2)]
Numeric observation :99.5887% ( NOTNUM= 720 / ALL= 175054 )

CHART 4514	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 227841	100.00	[('', 172)]
Numeric observation :0.0000% ( NOTNUM= 172 / ALL= 172 )
dropped

CHART 6324	100.00	[('', 30)]
Numeric observation :0.0000% ( NOTNUM= 30 / ALL= 30 )
dropped

CHART 227946	100.00	[('', 198125)]
Numeric observation :0.0000% ( NOTNUM= 198125 / ALL= 198125 )
dropped

CHART 964	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 2804	100.00	[('', 75)]
Numeric observation :98.6667% ( NOTNUM= 1 / ALL= 75 )

CHART 6332	100.00	[('', 100)]
Numeric observation :0.0000% ( NOTNUM= 100 / ALL= 100 )
dropped

CHART 5884	100.00	[('', 83)]
Numeric observation :0.0000% ( NOTNUM= 83 / ALL= 83 )
dropped

CHART 223916	100.00	[('', 443071)]
Numeric observation :0.0000% ( NOTNUM= 443071 / ALL= 443071 )
dropped

CHART 228182	100.00	[('mL/m2', 1926)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1926 )

CHART 132	50.00	[('ml/cmH', 3), ('', 3)]
Numeric observation :50.0000% ( NOTNUM= 3 / ALL= 6 )
dropped

CHART 3487	100.00	[('', 197834)]
Numeric observation :0.0000% ( NOTNUM= 197834 / ALL= 197834 )
dropped

CHART 7146	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 7065	100.00	[('', 65)]
Numeric observation :0.0000% ( NOTNUM= 65 / ALL= 65 )
dropped

CHART 7090	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 228015	100.00	[('', 7345)]
Numeric observation :0.0000% ( NOTNUM= 7345 / ALL= 7345 )
dropped

CHART 2509	100.00	[('', 121)]
Numeric observation :99.1736% ( NOTNUM= 1 / ALL= 121 )

CHART 5677	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 721	96.61	[('#', 77286), ('', 2716)]
Numeric observation :96.4426% ( NOTNUM= 2846 / ALL= 80002 )

CHART 1216	100.00	[('', 43)]
Numeric observation :0.0000% ( NOTNUM= 43 / ALL= 43 )
dropped

CHART 4689	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 3046	100.00	[('', 39)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 39 )

CHART 8033	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 3755	100.00	[('', 140)]
Numeric observation :99.2857% ( NOTNUM= 1 / ALL= 140 )

CHART 8113	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 227668	100.00	[('', 107895)]
Numeric observation :0.0000% ( NOTNUM= 107895 / ALL= 107895 )
dropped

CHART 8407	100.00	[('', 15105)]
Numeric observation :0.0000% ( NOTNUM= 15105 / ALL= 15105 )
dropped

CHART 7469	100.00	[('', 44)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 44 )

CHART 6019	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 224866	100.00	[('', 11549)]
Numeric observation :0.0000% ( NOTNUM= 11549 / ALL= 11549 )
dropped

CHART 224980	100.00	[('', 26650)]
Numeric observation :0.0000% ( NOTNUM= 26650 / ALL= 26650 )
dropped

CHART 6871	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 223967	100.00	[('', 32357)]
Numeric observation :0.0000% ( NOTNUM= 32357 / ALL= 32357 )
dropped

CHART 352	100.00	[('', 90130)]
Numeric observation :0.0000% ( NOTNUM= 90130 / ALL= 90130 )
dropped

CHART 2740	100.00	[('', 13)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 13 )

CHART 5155	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 6609	100.00	[('', 14)]
Numeric observation :92.8571% ( NOTNUM= 1 / ALL= 14 )

CHART 5311	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 2003	100.00	[('', 398)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 398 )

CHART 703	100.00	[('', 412)]
Numeric observation :0.0000% ( NOTNUM= 412 / ALL= 412 )
dropped

CHART 2790	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 6266	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 8463	100.00	[('', 7590)]
Numeric observation :0.0000% ( NOTNUM= 7590 / ALL= 7590 )
dropped

CHART 223795	100.00	[('', 580026)]
Numeric observation :0.0000% ( NOTNUM= 580026 / ALL= 580026 )
dropped

CHART 224	97.74	[('mmHg', 29338), ('', 679)]
Numeric observation :97.6613% ( NOTNUM= 702 / ALL= 30017 )

CHART 8524	100.00	[('', 34975)]
Numeric observation :0.0000% ( NOTNUM= 34975 / ALL= 34975 )
dropped

CHART 735	100.00	[('', 4525)]
Numeric observation :0.0000% ( NOTNUM= 4525 / ALL= 4525 )
dropped

CHART 4762	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 6221	100.00	[('', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 8456	100.00	[('', 449319)]
Numeric observation :0.0000% ( NOTNUM= 449319 / ALL= 449319 )
dropped

CHART 660	100.00	[('', 109710)]
Numeric observation :0.0000% ( NOTNUM= 109710 / ALL= 109710 )
dropped

CHART 1856	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 6461	100.00	[('', 18)]
Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 3550	100.00	[('', 3728)]
Numeric observation :0.0000% ( NOTNUM= 3728 / ALL= 3728 )
dropped

CHART 5771	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 50	100.00	[('', 285028)]
Numeric observation :99.0296% ( NOTNUM= 2766 / ALL= 285028 )

CHART 1938	100.00	[('', 7)]
Numeric observation :71.4286% ( NOTNUM= 2 / ALL= 7 )
dropped

CHART 223759	100.00	[('', 11892)]
Numeric observation :0.0000% ( NOTNUM= 11892 / ALL= 11892 )
dropped

CHART 513	99.58	[('...', 13883), ('', 58)]
Numeric observation :98.5797% ( NOTNUM= 198 / ALL= 13941 )

CHART 586	90.05	[('sec', 2742), ('', 303)]
Numeric observation :90.7061% ( NOTNUM= 283 / ALL= 3045 )

CHART 5995	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 8443	100.00	[('', 48685)]
Numeric observation :0.0000% ( NOTNUM= 48685 / ALL= 48685 )
dropped

CHART 2358	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 2544	100.00	[('', 40)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 40 )

CHART 5883	100.00	[('', 53)]
Numeric observation :0.0000% ( NOTNUM= 53 / ALL= 53 )
dropped

CHART 51	99.62	[('mmHg', 2088628), ('', 8050)]
Numeric observation :99.5125% ( NOTNUM= 10221 / ALL= 2096678 )

CHART 2236	100.00	[('', 183)]
Numeric observation :0.0000% ( NOTNUM= 183 / ALL= 183 )
dropped

CHART 226981	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 2225	100.00	[('', 3)]
Numeric observation :66.6667% ( NOTNUM= 1 / ALL= 3 )
dropped

CHART 226737	100.00	[('mmHg', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 225142	100.00	[('', 428)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 428 )

CHART 5720	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 69	55.54	[('', 23164), ('m2', 18540)]
Numeric observation :44.3938% ( NOTNUM= 23190 / ALL= 41704 )
dropped

CHART 225048	100.00	[('', 14426)]
Numeric observation :0.0000% ( NOTNUM= 14426 / ALL= 14426 )
dropped

CHART 3314	51.63	[('Breath', 1934), ('', 1812)]
Numeric observation :51.3615% ( NOTNUM= 1822 / ALL= 3746 )
dropped

CHART 7251	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 224172	100.00	[('', 21800)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 21800 )

CHART 2986	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 203	100.00	[('', 373504)]
Numeric observation :0.0000% ( NOTNUM= 373504 / ALL= 373504 )
dropped

CHART 529	100.00	[('', 5023)]
Numeric observation :0.0000% ( NOTNUM= 5023 / ALL= 5023 )
dropped

CHART 3799	100.00	[('', 9639)]
Numeric observation :99.8963% ( NOTNUM= 10 / ALL= 9639 )

CHART 2489	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 3785	100.00	[('', 5097)]
Numeric observation :81.1850% ( NOTNUM= 959 / ALL= 5097 )

CHART 227980	100.00	[('', 6502)]
Numeric observation :0.0000% ( NOTNUM= 6502 / ALL= 6502 )
dropped

CHART 5585	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 2006	100.00	[('', 372)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 372 )

CHART 3271	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 4372	100.00	[('', 1602)]
Numeric observation :0.0000% ( NOTNUM= 1602 / ALL= 1602 )
dropped

CHART 4871	100.00	[('', 57)]
Numeric observation :0.0000% ( NOTNUM= 57 / ALL= 57 )
dropped

CHART 5982	100.00	[('', 38)]
Numeric observation :0.0000% ( NOTNUM= 38 / ALL= 38 )
dropped

CHART 3447	100.00	[('', 63978)]
Numeric observation :6.3131% ( NOTNUM= 59939 / ALL= 63978 )
dropped

CHART 220765	100.00	[('mmHg', 92306)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 92306 )

CHART 502	90.10	[('ml/B', 373), ('', 41)]
Numeric observation :89.8551% ( NOTNUM= 42 / ALL= 414 )

CHART 1596	100.00	[('', 4060)]
Numeric observation :99.9754% ( NOTNUM= 1 / ALL= 4060 )

CHART 7095	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 5676	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 90	96.99	[('L/min', 171289), ('', 5318)]
Numeric observation :96.4877% ( NOTNUM= 6203 / ALL= 176607 )

CHART 225698	99.82	[('mEq/L', 139927), ('', 252)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 140179 )

CHART 4542	100.00	[('', 51)]
Numeric observation :0.0000% ( NOTNUM= 51 / ALL= 51 )
dropped

CHART 2831	100.00	[('', 72)]
Numeric observation :0.0000% ( NOTNUM= 72 / ALL= 72 )
dropped

CHART 6359	100.00	[('', 82)]
Numeric observation :0.0000% ( NOTNUM= 82 / ALL= 82 )
dropped

CHART 7194	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 227653	100.00	[('', 292)]
Numeric observation :0.0000% ( NOTNUM= 292 / ALL= 292 )
dropped

CHART 59	97.84	[('mmHg', 30310), ('', 669)]
Numeric observation :97.7856% ( NOTNUM= 686 / ALL= 30979 )

CHART 1604	100.00	[('', 103)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 103 )

CHART 227358	100.00	[('', 84821)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 84821 )

CHART 226118	100.00	[('', 32078)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 32078 )

CHART 5860	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 227125	100.00	[('', 7581)]
Numeric observation :0.0000% ( NOTNUM= 7581 / ALL= 7581 )
dropped

CHART 4701	100.00	[('', 491)]
Numeric observation :0.0000% ( NOTNUM= 491 / ALL= 491 )
dropped

CHART 224808	100.00	[('', 18354)]
Numeric observation :0.0000% ( NOTNUM= 18354 / ALL= 18354 )
dropped

CHART 3672	100.00	[('', 214)]
Numeric observation :0.0000% ( NOTNUM= 214 / ALL= 214 )
dropped

CHART 6115	100.00	[('', 47)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 47 )

CHART 7614	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 3428	100.00	[('', 310808)]
Numeric observation :0.0000% ( NOTNUM= 310808 / ALL= 310808 )
dropped

CHART 4526	100.00	[('', 29)]
Numeric observation :0.0000% ( NOTNUM= 29 / ALL= 29 )
dropped

CHART 224024	100.00	[('', 241373)]
Numeric observation :0.0000% ( NOTNUM= 241373 / ALL= 241373 )
dropped

CHART 224830	100.00	[('', 44659)]
Numeric observation :0.0000% ( NOTNUM= 44659 / ALL= 44659 )
dropped

CHART 226766	100.00	[('mmHg', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 224962	100.00	[('', 13687)]
Numeric observation :0.0000% ( NOTNUM= 13687 / ALL= 13687 )
dropped

CHART 3607	100.00	[('', 440057)]
Numeric observation :0.0000% ( NOTNUM= 440057 / ALL= 440057 )
dropped

CHART 4844	100.00	[('', 232)]
Numeric observation :0.0000% ( NOTNUM= 232 / ALL= 232 )
dropped

CHART 224370	100.00	[('', 173768)]
Numeric observation :0.0000% ( NOTNUM= 173768 / ALL= 173768 )
dropped

CHART 6489	100.00	[('', 5)]
Numeric observation :80.0000% ( NOTNUM= 1 / ALL= 5 )

CHART 3657	60.46	[('', 367), ('%', 240)]
Numeric observation :39.2092% ( NOTNUM= 369 / ALL= 607 )
dropped

CHART 227293	100.00	[('', 144018)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 144018 )

CHART 224891	100.00	[('', 20078)]
Numeric observation :0.0000% ( NOTNUM= 20078 / ALL= 20078 )
dropped

CHART 1969	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 7809	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 224088	100.00	[('', 405832)]
Numeric observation :0.0000% ( NOTNUM= 405832 / ALL= 405832 )
dropped

CHART 4214	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 8169	100.00	[('', 23)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 23 )

CHART 1677	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 228223	100.00	[('', 262)]
Numeric observation :0.0000% ( NOTNUM= 262 / ALL= 262 )
dropped

CHART 7760	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 394	100.00	[('', 78237)]
Numeric observation :0.0000% ( NOTNUM= 78237 / ALL= 78237 )
dropped

CHART 6126	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 248	100.00	[('', 26398)]
Numeric observation :0.0000% ( NOTNUM= 26398 / ALL= 26398 )
dropped

CHART 3186	100.00	[('', 53)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 53 )

CHART 2099	100.00	[('', 57)]
Numeric observation :0.0000% ( NOTNUM= 57 / ALL= 57 )
dropped

CHART 8432	100.00	[('', 1818)]
Numeric observation :0.0000% ( NOTNUM= 1818 / ALL= 1818 )
dropped

CHART 6223	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 224055	100.00	[('', 314576)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 314576 )

CHART 1481	100.00	[('', 6550)]
Numeric observation :0.0000% ( NOTNUM= 6550 / ALL= 6550 )
dropped

CHART 2483	100.00	[('', 122)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 122 )

CHART 1507	100.00	[('', 155)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 155 )

CHART 5220	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 2418	100.00	[('', 69)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 69 )

CHART 4619	100.00	[('', 139)]
Numeric observation :0.0000% ( NOTNUM= 139 / ALL= 139 )
dropped

CHART 207	100.00	[('', 86223)]
Numeric observation :0.0000% ( NOTNUM= 86223 / ALL= 86223 )
dropped

CHART 2553	100.00	[('', 54)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 54 )

CHART 5988	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 224800	100.00	[('', 1337)]
Numeric observation :0.0000% ( NOTNUM= 1337 / ALL= 1337 )
dropped

CHART 2832	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 224013	100.00	[('', 16059)]
Numeric observation :0.0000% ( NOTNUM= 16059 / ALL= 16059 )
dropped

CHART 228097	100.00	[('', 1507)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1507 )

CHART 3059	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6647	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 2736	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 1467	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 1217	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 1523	100.00	[('', 151328)]
Numeric observation :99.9498% ( NOTNUM= 76 / ALL= 151328 )

CHART 7235	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 1514	100.00	[('', 176)]
Numeric observation :97.1591% ( NOTNUM= 5 / ALL= 176 )

CHART 5593	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 224565	100.00	[('', 135811)]
Numeric observation :0.0000% ( NOTNUM= 135811 / ALL= 135811 )
dropped

CHART 463	100.00	[('', 53275)]
Numeric observation :0.0000% ( NOTNUM= 53275 / ALL= 53275 )
dropped

CHART 1354	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 6045	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 224427	100.00	[('', 17865)]
Numeric observation :0.0000% ( NOTNUM= 17865 / ALL= 17865 )
dropped

CHART 6758	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 223059	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2943	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 6002	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 224974	100.00	[('', 32218)]
Numeric observation :0.0000% ( NOTNUM= 32218 / ALL= 32218 )
dropped

CHART 141	78.55	[('cmH2O', 14361), ('', 3922)]
Numeric observation :66.8326% ( NOTNUM= 6064 / ALL= 18283 )
dropped

CHART 1619	100.00	[('', 72)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 72 )

CHART 698	100.00	[('', 2044)]
Numeric observation :0.0000% ( NOTNUM= 2044 / ALL= 2044 )
dropped

CHART 225965	100.00	[('', 791)]
Numeric observation :0.0000% ( NOTNUM= 791 / ALL= 791 )
dropped

CHART 539	100.00	[('', 1800)]
Numeric observation :0.0000% ( NOTNUM= 1800 / ALL= 1800 )
dropped

CHART 225410	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 227728	100.00	[('', 3623)]
Numeric observation :0.0000% ( NOTNUM= 3623 / ALL= 3623 )
dropped

CHART 467	100.00	[('', 1155571)]
Numeric observation :0.0000% ( NOTNUM= 1155571 / ALL= 1155571 )
dropped

CHART 648	100.00	[('', 245378)]
Numeric observation :0.0000% ( NOTNUM= 245378 / ALL= 245378 )
dropped

CHART 5040	100.00	[('', 51)]
Numeric observation :0.0000% ( NOTNUM= 51 / ALL= 51 )
dropped

CHART 1095	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2635	100.00	[('', 195)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 195 )

CHART 5630	100.00	[('', 418)]
Numeric observation :99.7608% ( NOTNUM= 1 / ALL= 418 )

CHART 8480	100.00	[('', 719203)]
Numeric observation :0.0000% ( NOTNUM= 719203 / ALL= 719203 )
dropped

CHART 1090	100.00	[('', 7077)]
Numeric observation :0.0000% ( NOTNUM= 7077 / ALL= 7077 )
dropped

CHART 517	98.09	[('BPM', 72842), ('', 1418)]
Numeric observation :97.6111% ( NOTNUM= 1774 / ALL= 74260 )

CHART 2443	100.00	[('', 59)]
Numeric observation :11.8644% ( NOTNUM= 52 / ALL= 59 )
dropped

CHART 3676	100.00	[('', 153)]
Numeric observation :0.0000% ( NOTNUM= 153 / ALL= 153 )
dropped

CHART 5711	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227241	100.00	[('', 10419)]
Numeric observation :0.0000% ( NOTNUM= 10419 / ALL= 10419 )
dropped

CHART 242	100.00	[('', 66411)]
Numeric observation :0.0000% ( NOTNUM= 66411 / ALL= 66411 )
dropped

CHART 1380	100.00	[('', 108)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 108 )

CHART 3295	100.00	[('', 420613)]
Numeric observation :0.0000% ( NOTNUM= 420613 / ALL= 420613 )
dropped

CHART 3780	100.00	[('', 8360)]
Numeric observation :99.9522% ( NOTNUM= 4 / ALL= 8360 )

CHART 3077	100.00	[('', 17)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17 )

CHART 190	99.53	[('torr', 570225), ('', 2698)]
Numeric observation :99.3249% ( NOTNUM= 3868 / ALL= 572923 )

CHART 8330	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 3420	99.60	[('%', 671006), ('', 2713)]
Numeric observation :99.5326% ( NOTNUM= 3149 / ALL= 673719 )

CHART 8467	100.00	[('', 446237)]
Numeric observation :0.0000% ( NOTNUM= 446237 / ALL= 446237 )
dropped

CHART 224738	100.00	[('sec', 222354)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 222354 )

CHART 6974	100.00	[('', 50)]
Numeric observation :0.0000% ( NOTNUM= 50 / ALL= 50 )
dropped

CHART 342	100.00	[('', 2201)]
Numeric observation :0.0000% ( NOTNUM= 2201 / ALL= 2201 )
dropped

CHART 6155	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 854	100.00	[('', 784)]
Numeric observation :92.3469% ( NOTNUM= 60 / ALL= 784 )

CHART 2484	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 224119	100.00	[('', 40927)]
Numeric observation :0.0000% ( NOTNUM= 40927 / ALL= 40927 )
dropped

CHART 3466	100.00	[('', 156270)]
Numeric observation :0.0000% ( NOTNUM= 156270 / ALL= 156270 )
dropped

CHART 7967	100.00	[('', 459)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 459 )

CHART 220210	100.00	[('insp/min', 2737105)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2737105 )

CHART 4820	100.00	[('', 61)]
Numeric observation :0.0000% ( NOTNUM= 61 / ALL= 61 )
dropped

CHART 6655	100.00	[('', 73)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 73 )

CHART 224814	100.00	[('', 821)]
Numeric observation :0.0000% ( NOTNUM= 821 / ALL= 821 )
dropped

CHART 228382	100.00	[('dynes*sec/cm5/m2', 175)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 175 )

CHART 5928	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 148	100.00	[('', 58864)]
Numeric observation :0.0000% ( NOTNUM= 58864 / ALL= 58864 )
dropped

CHART 236	100.00	[('', 148431)]
Numeric observation :0.0000% ( NOTNUM= 148431 / ALL= 148431 )
dropped

CHART 224999	100.00	[('', 11231)]
Numeric observation :0.0000% ( NOTNUM= 11231 / ALL= 11231 )
dropped

CHART 227673	100.00	[('', 7881)]
Numeric observation :0.0000% ( NOTNUM= 7881 / ALL= 7881 )
dropped

CHART 6148	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 5819	99.93	[('BPM', 1771071), ('', 1316)]
Numeric observation :99.8499% ( NOTNUM= 2661 / ALL= 1772387 )

CHART 6815	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 223940	100.00	[('', 5111)]
Numeric observation :0.0000% ( NOTNUM= 5111 / ALL= 5111 )
dropped

CHART 224695	100.00	[('cmH2O', 454192)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 454192 )

CHART 1204	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2752	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 7301	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 6470	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 5380	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 5629	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 294	100.00	[('', 355945)]
Numeric observation :0.0000% ( NOTNUM= 355945 / ALL= 355945 )
dropped

CHART 5386	100.00	[('', 124)]
Numeric observation :0.0000% ( NOTNUM= 124 / ALL= 124 )
dropped

CHART 2963	100.00	[('', 37)]
Numeric observation :0.0000% ( NOTNUM= 37 / ALL= 37 )
dropped

CHART 226763	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 227117	100.00	[('', 11084)]
Numeric observation :0.0000% ( NOTNUM= 11084 / ALL= 11084 )
dropped

CHART 5016	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 228162	100.00	[('cm', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 7023	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 7831	100.00	[('', 114)]
Numeric observation :0.0000% ( NOTNUM= 114 / ALL= 114 )
dropped

CHART 2915	100.00	[('', 27)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 27 )

CHART 3625	100.00	[('', 5866)]
Numeric observation :0.0000% ( NOTNUM= 5866 / ALL= 5866 )
dropped

CHART 7570	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 3374	100.00	[('', 54077)]
Numeric observation :0.0000% ( NOTNUM= 54077 / ALL= 54077 )
dropped

CHART 3051	100.00	[('', 17)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17 )

CHART 4223	100.00	[('', 158)]
Numeric observation :0.0000% ( NOTNUM= 158 / ALL= 158 )
dropped

CHART 8496	100.00	[('V-mA', 118)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 118 )

CHART 225767	100.00	[('', 2547)]
Numeric observation :0.0000% ( NOTNUM= 2547 / ALL= 2547 )
dropped

CHART 4	52.33	[('', 269), ('mmHg', 245)]
Numeric observation :46.3035% ( NOTNUM= 276 / ALL= 514 )
dropped

CHART 227960	100.00	[('', 217657)]
Numeric observation :0.0000% ( NOTNUM= 217657 / ALL= 217657 )
dropped

CHART 4822	100.00	[('', 66)]
Numeric observation :0.0000% ( NOTNUM= 66 / ALL= 66 )
dropped

CHART 8345	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 227460	100.00	[('ug/mL', 251)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 251 )

CHART 1666	100.00	[('', 36)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 36 )

CHART 3353	100.00	[('', 442894)]
Numeric observation :0.0000% ( NOTNUM= 442894 / ALL= 442894 )
dropped

CHART 227020	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 225751	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 4707	100.00	[('', 1088)]
Numeric observation :0.0000% ( NOTNUM= 1088 / ALL= 1088 )
dropped

CHART 4726	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 8473	100.00	[('', 16968)]
Numeric observation :0.0000% ( NOTNUM= 16968 / ALL= 16968 )
dropped

CHART 3421	99.26	[('cmH20', 233447), ('', 1732)]
Numeric observation :99.1377% ( NOTNUM= 2028 / ALL= 235179 )

CHART 4203	100.00	[('', 8107)]
Numeric observation :99.6176% ( NOTNUM= 31 / ALL= 8107 )

CHART 227470	100.00	[('mm/hr', 700)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 700 )

CHART 5707	100.00	[('', 107)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 107 )

CHART 4282	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 2493	100.00	[('', 72)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 72 )

CHART 3836	100.00	[('', 8445)]
Numeric observation :99.5619% ( NOTNUM= 37 / ALL= 8445 )

CHART 224226	100.00	[('', 138513)]
Numeric observation :0.0000% ( NOTNUM= 138513 / ALL= 138513 )
dropped

CHART 7092	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 227860	100.00	[('', 329)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 329 )

CHART 1409	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1703	100.00	[('', 1174868)]
Numeric observation :0.0000% ( NOTNUM= 1174868 / ALL= 1174868 )
dropped

CHART 224792	100.00	[('', 1940)]
Numeric observation :0.0000% ( NOTNUM= 1940 / ALL= 1940 )
dropped

CHART 613	100.00	[('', 18)]
Numeric observation :61.1111% ( NOTNUM= 7 / ALL= 18 )
dropped

CHART 224368	100.00	[('', 7853)]
Numeric observation :0.0000% ( NOTNUM= 7853 / ALL= 7853 )
dropped

CHART 227830	100.00	[('', 392)]
Numeric observation :0.0000% ( NOTNUM= 392 / ALL= 392 )
dropped

CHART 3645	100.00	[('', 690295)]
Numeric observation :0.0000% ( NOTNUM= 690295 / ALL= 690295 )
dropped

CHART 5647	100.00	[('', 39)]
Numeric observation :0.0000% ( NOTNUM= 39 / ALL= 39 )
dropped

CHART 7089	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 224687	100.00	[('L/min', 450204)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 450204 )

CHART 583	92.65	[('mmHg', 391), ('', 31)]
Numeric observation :87.2038% ( NOTNUM= 54 / ALL= 422 )

CHART 5956	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 8099	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 224801	100.00	[('', 1249)]
Numeric observation :0.0000% ( NOTNUM= 1249 / ALL= 1249 )
dropped

CHART 650	82.86	[('cmH2O', 58), ('', 12)]
Numeric observation :82.8571% ( NOTNUM= 12 / ALL= 70 )

CHART 3044	100.00	[('', 45)]
Numeric observation :97.7778% ( NOTNUM= 1 / ALL= 45 )

CHART 226586	100.00	[('', 56104)]
Numeric observation :0.0000% ( NOTNUM= 56104 / ALL= 56104 )
dropped

CHART 8115	100.00	[('', 55)]
Numeric observation :0.0000% ( NOTNUM= 55 / ALL= 55 )
dropped

CHART 568	100.00	[('', 17002)]
Numeric observation :0.0000% ( NOTNUM= 17002 / ALL= 17002 )
dropped

CHART 1520	100.00	[('', 2269)]
Numeric observation :98.1490% ( NOTNUM= 42 / ALL= 2269 )

CHART 4334	100.00	[('', 140)]
Numeric observation :0.0000% ( NOTNUM= 140 / ALL= 140 )
dropped

CHART 1391	99.87	[('ml/m/m', 22906), ('', 29)]
Numeric observation :99.8082% ( NOTNUM= 44 / ALL= 22935 )

CHART 3294	98.83	[('in', 211862), ('', 2518)]
Numeric observation :98.7163% ( NOTNUM= 2752 / ALL= 214380 )

CHART 6916	100.00	[('', 46)]
Numeric observation :97.8261% ( NOTNUM= 1 / ALL= 46 )

CHART 228180	100.00	[('mL/m2', 1236)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1236 )

CHART 4947	100.00	[('', 194)]
Numeric observation :0.0000% ( NOTNUM= 194 / ALL= 194 )
dropped

CHART 6667	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 227649	100.00	[('', 121)]
Numeric observation :0.0000% ( NOTNUM= 121 / ALL= 121 )
dropped

CHART 225417	100.00	[('', 13)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 13 )

CHART 7618	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 7709	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 8414	100.00	[('', 473)]
Numeric observation :0.0000% ( NOTNUM= 473 / ALL= 473 )
dropped

CHART 223802	100.00	[('', 9643)]
Numeric observation :0.0000% ( NOTNUM= 9643 / ALL= 9643 )
dropped

CHART 4713	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 4246	100.00	[('', 51)]
Numeric observation :0.0000% ( NOTNUM= 51 / ALL= 51 )
dropped

CHART 8125	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 3347	100.00	[('', 135)]
Numeric observation :62.9630% ( NOTNUM= 50 / ALL= 135 )
dropped

CHART 2141	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 3628	100.00	[('', 3531)]
Numeric observation :0.0000% ( NOTNUM= 3531 / ALL= 3531 )
dropped

CHART 225656	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 608	100.00	[('', 1489)]
Numeric observation :0.0000% ( NOTNUM= 1489 / ALL= 1489 )
dropped

CHART 8535	100.00	[('', 198933)]
Numeric observation :0.0000% ( NOTNUM= 198933 / ALL= 198933 )
dropped

CHART 364	100.00	[('', 28138)]
Numeric observation :0.0000% ( NOTNUM= 28138 / ALL= 28138 )
dropped

CHART 2060	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 4218	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 6669	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 5697	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 4181	100.00	[('', 8243)]
Numeric observation :0.0000% ( NOTNUM= 8243 / ALL= 8243 )
dropped

CHART 228186	100.00	[('', 653)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 653 )

CHART 227763	100.00	[('', 296)]
Numeric observation :0.0000% ( NOTNUM= 296 / ALL= 296 )
dropped

CHART 768	100.00	[('', 3097)]
Numeric observation :97.7397% ( NOTNUM= 70 / ALL= 3097 )

CHART 1803	100.00	[('', 185)]
Numeric observation :82.7027% ( NOTNUM= 32 / ALL= 185 )

CHART 572	100.00	[('', 4272)]
Numeric observation :0.0000% ( NOTNUM= 4272 / ALL= 4272 )
dropped

CHART 860	91.63	[('pH', 10198), ('', 932)]
Numeric observation :95.5166% ( NOTNUM= 499 / ALL= 11130 )

CHART 4954	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 7061	100.00	[('', 28)]
Numeric observation :0.0000% ( NOTNUM= 28 / ALL= 28 )
dropped

CHART 5877	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 8363	100.00	[('mmHg', 237)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 237 )

CHART 1620	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 1576	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped


CHART 227591	100.00	[('', 9615)]
Numeric observation :0.0000% ( NOTNUM= 9615 / ALL= 9615 )
dropped

CHART 1032	100.00	[('', 179)]
Numeric observation :93.8547% ( NOTNUM= 11 / ALL= 179 )

CHART 224922	100.00	[('cm', 2414)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2414 )

CHART 2492	100.00	[('', 95)]
Numeric observation :0.0000% ( NOTNUM= 95 / ALL= 95 )
dropped

CHART 7840	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 2482	100.00	[('', 25)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 25 )

CHART 5794	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 5282	100.00	[('', 77)]
Numeric observation :0.0000% ( NOTNUM= 77 / ALL= 77 )
dropped

CHART 1635	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 477	100.00	[('', 456538)]
Numeric observation :0.0000% ( NOTNUM= 456538 / ALL= 456538 )
dropped

CHART 2161	100.00	[('', 101)]
Numeric observation :98.0198% ( NOTNUM= 2 / ALL= 101 )

CHART 4231	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 3798	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 227052	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 226108	100.00	[('', 7765)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7765 )

CHART 228305	100.00	[('', 104325)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 104325 )

CHART 2548	100.00	[('', 103)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 103 )

CHART 4727	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 227349	100.00	[('', 91625)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 91625 )

CHART 227813	100.00	[('', 164)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 164 )

CHART 1098	100.00	[('', 36)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 36 )

CHART 5464	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 5872	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2018	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 4243	100.00	[('', 37)]
Numeric observation :0.0000% ( NOTNUM= 37 / ALL= 37 )
dropped

CHART 227581	100.00	[('bpm', 140)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 140 )

CHART 3324	99.02	[('Breath', 27375), ('', 272)]
Numeric observation :98.9438% ( NOTNUM= 292 / ALL= 27647 )

CHART 6036	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 4696	100.00	[('', 49)]
Numeric observation :0.0000% ( NOTNUM= 49 / ALL= 49 )
dropped

CHART 5265	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 224865	100.00	[('', 199317)]
Numeric observation :0.0000% ( NOTNUM= 199317 / ALL= 199317 )
dropped

CHART 481	81.48	[('BPM', 286), ('', 65)]
Numeric observation :80.9117% ( NOTNUM= 67 / ALL= 351 )

CHART 4670	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 134	100.00	[('', 21169)]
Numeric observation :0.0000% ( NOTNUM= 21169 / ALL= 21169 )
dropped

CHART 228308	100.00	[('', 23110)]
Numeric observation :0.0000% ( NOTNUM= 23110 / ALL= 23110 )
dropped

CHART 3372	100.00	[('', 4474)]
Numeric observation :0.0000% ( NOTNUM= 4474 / ALL= 4474 )
dropped

CHART 6278	100.00	[('', 8)]
Numeric observation :62.5000% ( NOTNUM= 3 / ALL= 8 )
dropped

CHART 3210	100.00	[('', 24)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 24 )

CHART 1648	100.00	[('', 55)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 55 )

CHART 6367	100.00	[('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 225094	100.00	[('', 40691)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 40691 )

CHART 6399	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 8486	100.00	[('', 1178)]
Numeric observation :0.0000% ( NOTNUM= 1178 / ALL= 1178 )
dropped

CHART 220052	100.00	[('mmHg', 1156173)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1156173 )

CHART 223953	100.00	[('', 1635)]
Numeric observation :0.0000% ( NOTNUM= 1635 / ALL= 1635 )
dropped

CHART 227771	100.00	[('', 2400)]
Numeric observation :0.0000% ( NOTNUM= 2400 / ALL= 2400 )
dropped

CHART 1535	100.00	[('', 246969)]
Numeric observation :98.2504% ( NOTNUM= 4321 / ALL= 246969 )

CHART 223983	100.00	[('', 152017)]
Numeric observation :0.0000% ( NOTNUM= 152017 / ALL= 152017 )
dropped

CHART 1688	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 3250	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 2065	100.00	[('', 11)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 11 )

CHART 7546	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 1683	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 8129	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 7574	100.00	[('', 175)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 175 )

CHART 4791	100.00	[('', 108)]
Numeric observation :0.0000% ( NOTNUM= 108 / ALL= 108 )
dropped

CHART 1634	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 3624	100.00	[('', 5347)]
Numeric observation :0.0000% ( NOTNUM= 5347 / ALL= 5347 )
dropped

CHART 227650	100.00	[('', 88)]
Numeric observation :0.0000% ( NOTNUM= 88 / ALL= 88 )
dropped

CHART 74	100.00	[('', 9467)]
Numeric observation :99.7782% ( NOTNUM= 21 / ALL= 9467 )

CHART 6	90.91	[('', 30), ('mmHg', 3)]
Numeric observation :9.0909% ( NOTNUM= 30 / ALL= 33 )
dropped

CHART 509	100.00	[('', 23578)]
Numeric observation :0.0000% ( NOTNUM= 23578 / ALL= 23578 )
dropped

CHART 3789	100.00	[('', 10460)]
Numeric observation :99.8948% ( NOTNUM= 11 / ALL= 10460 )

CHART 2139	100.00	[('', 12303)]
Numeric observation :99.6749% ( NOTNUM= 40 / ALL= 12303 )

CHART 2369	100.00	[('', 43)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 43 )

CHART 226776	100.00	[('', 17)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17 )

CHART 2809	100.00	[('', 114)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 114 )

CHART 7524	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 41	100.00	[('', 1604)]
Numeric observation :0.0000% ( NOTNUM= 1604 / ALL= 1604 )
dropped

CHART 516	100.00	[('', 107618)]
Numeric observation :0.0000% ( NOTNUM= 107618 / ALL= 107618 )
dropped

CHART 713	83.33	[('...', 55), ('', 11)]
Numeric observation :98.4848% ( NOTNUM= 1 / ALL= 66 )

CHART 2794	100.00	[('', 48)]
Numeric observation :0.0000% ( NOTNUM= 48 / ALL= 48 )
dropped

CHART 3549	100.00	[('', 45956)]
Numeric observation :0.0000% ( NOTNUM= 45956 / ALL= 45956 )
dropped

CHART 3631	100.00	[('', 64365)]
Numeric observation :0.0000% ( NOTNUM= 64365 / ALL= 64365 )
dropped

CHART 580	100.00	[('kg', 146422)]
Numeric observation :99.7712% ( NOTNUM= 335 / ALL= 146422 )

CHART 5813	99.53	[('mmHg', 977912), ('', 4606)]
Numeric observation :99.3874% ( NOTNUM= 6019 / ALL= 982518 )

CHART 720	100.00	[('', 420719)]
Numeric observation :0.0000% ( NOTNUM= 420719 / ALL= 420719 )
dropped

CHART 769	100.00	[('', 41393)]
Numeric observation :99.8985% ( NOTNUM= 42 / ALL= 41393 )

CHART 5505	100.00	[('', 66)]
Numeric observation :0.0000% ( NOTNUM= 66 / ALL= 66 )
dropped

CHART 564	100.00	[('', 18906)]
Numeric observation :0.0000% ( NOTNUM= 18906 / ALL= 18906 )
dropped

CHART 224779	100.00	[('', 3771)]
Numeric observation :0.0000% ( NOTNUM= 3771 / ALL= 3771 )
dropped

CHART 247	100.00	[('', 86082)]
Numeric observation :0.0000% ( NOTNUM= 86082 / ALL= 86082 )
dropped

CHART 3695	100.00	[('', 47)]
Numeric observation :0.0000% ( NOTNUM= 47 / ALL= 47 )
dropped

CHART 220274	99.41	[('units', 8712), ('', 52)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8764 )

CHART 311	100.00	[('', 3536)]
Numeric observation :0.0000% ( NOTNUM= 3536 / ALL= 3536 )
dropped

CHART 227005	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 5285	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 2434	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 224789	100.00	[('', 19318)]
Numeric observation :0.0000% ( NOTNUM= 19318 / ALL= 19318 )
dropped

CHART 4770	100.00	[('', 304)]
Numeric observation :0.0000% ( NOTNUM= 304 / ALL= 304 )
dropped

CHART 4578	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 224073	100.00	[('', 510676)]
Numeric observation :0.0000% ( NOTNUM= 510676 / ALL= 510676 )
dropped

CHART 224106	100.00	[('', 24530)]
Numeric observation :0.0000% ( NOTNUM= 24530 / ALL= 24530 )
dropped

CHART 663	100.00	[('', 774213)]
Numeric observation :0.0000% ( NOTNUM= 774213 / ALL= 774213 )
dropped

CHART 6081	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 208	100.00	[('', 254202)]
Numeric observation :0.0000% ( NOTNUM= 254202 / ALL= 254202 )
dropped

CHART 322	100.00	[('', 89037)]
Numeric observation :0.0000% ( NOTNUM= 89037 / ALL= 89037 )
dropped

CHART 1618	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 2320	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 6812	100.00	[('', 27)]
Numeric observation :0.0000% ( NOTNUM= 27 / ALL= 27 )
dropped

CHART 8405	100.00	[('', 503)]
Numeric observation :0.0000% ( NOTNUM= 503 / ALL= 503 )
dropped

CHART 1493	100.00	[('', 6)]
Numeric observation :0.0000% ( NOTNUM= 6 / ALL= 6 )
dropped

CHART 2634	100.00	[('', 28)]
Numeric observation :96.4286% ( NOTNUM= 1 / ALL= 28 )

CHART 4373	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 227051	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 7965	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 6541	100.00	[('', 563)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 563 )

CHART 8422	100.00	[('', 65969)]
Numeric observation :0.0000% ( NOTNUM= 65969 / ALL= 65969 )
dropped

CHART 226062	100.00	[('mmHg', 4312)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4312 )

CHART 3451	94.32	[('kg', 179206), ('cm', 10793), ('', 5)]
Numeric observation :99.9100% ( NOTNUM= 171 / ALL= 190004 )

CHART 1544	100.00	[('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 3378	100.00	[('', 30)]
Numeric observation :0.0000% ( NOTNUM= 30 / ALL= 30 )
dropped

CHART 3770	100.00	[('', 8157)]
Numeric observation :99.9510% ( NOTNUM= 4 / ALL= 8157 )

CHART 3315	51.86	[('cc/min', 1951), ('', 1811)]
Numeric observation :51.3291% ( NOTNUM= 1831 / ALL= 3762 )
dropped

CHART 224879	100.00	[('', 304649)]
Numeric observation :0.0000% ( NOTNUM= 304649 / ALL= 304649 )
dropped

CHART 224016	100.00	[('', 376384)]
Numeric observation :0.0000% ( NOTNUM= 376384 / ALL= 376384 )
dropped

CHART 4850	100.00	[('', 281)]
Numeric observation :0.0000% ( NOTNUM= 281 / ALL= 281 )
dropped

CHART 6553	100.00	[('', 47)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 47 )

CHART 1039	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 2014	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1474	100.00	[('', 69)]
Numeric observation :0.0000% ( NOTNUM= 69 / ALL= 69 )
dropped

CHART 2387	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 5886	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227362	100.00	[('', 1166)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1166 )

CHART 224028	100.00	[('', 351925)]
Numeric observation :0.0000% ( NOTNUM= 351925 / ALL= 351925 )
dropped

CHART 6940	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 544	100.00	[('', 10)]
Numeric observation :70.0000% ( NOTNUM= 3 / ALL= 10 )
dropped

CHART 5929	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 2606	100.00	[('', 36)]
Numeric observation :0.0000% ( NOTNUM= 36 / ALL= 36 )
dropped

CHART 7732	100.00	[('', 25)]
Numeric observation :0.0000% ( NOTNUM= 25 / ALL= 25 )
dropped

CHART 4459	100.00	[('', 85)]
Numeric observation :0.0000% ( NOTNUM= 85 / ALL= 85 )
dropped

CHART 1113	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 2629	100.00	[('', 31)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 31 )

CHART 8304	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 4477	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 2849	100.00	[('', 32)]
Numeric observation :0.0000% ( NOTNUM= 32 / ALL= 32 )
dropped

CHART 8430	100.00	[('', 69366)]
Numeric observation :0.0000% ( NOTNUM= 69366 / ALL= 69366 )
dropped

CHART 3298	97.37	[('gms', 481), ('', 13)]
Numeric observation :96.9636% ( NOTNUM= 15 / ALL= 494 )

CHART 6219	100.00	[('', 7)]
Numeric observation :0.0000% ( NOTNUM= 7 / ALL= 7 )
dropped

CHART 3761	100.00	[('', 12509)]
Numeric observation :99.9281% ( NOTNUM= 9 / ALL= 12509 )

CHART 224072	100.00	[('', 200375)]
Numeric observation :0.0000% ( NOTNUM= 200375 / ALL= 200375 )
dropped

CHART 4952	100.00	[('', 130)]
Numeric observation :0.0000% ( NOTNUM= 130 / ALL= 130 )
dropped

CHART 7200	100.00	[('', 15)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 15 )

CHART 6147	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 7138	100.00	[('', 154)]
Numeric observation :0.0000% ( NOTNUM= 154 / ALL= 154 )
dropped

CHART 6725	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 2015	100.00	[('', 26)]
Numeric observation :0.0000% ( NOTNUM= 26 / ALL= 26 )
dropped

CHART 3127	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 360	100.00	[('', 7953)]
Numeric observation :0.0000% ( NOTNUM= 7953 / ALL= 7953 )
dropped

CHART 225813	100.00	[('', 14254)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14254 )

CHART 8439	100.00	[('', 6448)]
Numeric observation :0.0000% ( NOTNUM= 6448 / ALL= 6448 )
dropped

CHART 225674	100.00	[('%', 9867)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9867 )

CHART 780	100.00	[('', 283997)]
Numeric observation :99.7141% ( NOTNUM= 812 / ALL= 283997 )

CHART 2874	100.00	[('', 35)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 35 )

CHART 220734	99.60	[('units', 17454), ('', 70)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 17524 )

CHART 227639	100.00	[('', 79)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 79 )

CHART 226120	100.00	[('', 543)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 543 )

CHART 3214	100.00	[('', 324)]
Numeric observation :93.2099% ( NOTNUM= 22 / ALL= 324 )

CHART 5199	100.00	[('', 4)]
Numeric observation :50.0000% ( NOTNUM= 2 / ALL= 4 )
dropped

CHART 5442	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 225341	100.00	[('', 2050)]
Numeric observation :0.0000% ( NOTNUM= 2050 / ALL= 2050 )
dropped

CHART 1731	100.00	[('', 16)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 16 )

CHART 4873	100.00	[('', 20)]
Numeric observation :0.0000% ( NOTNUM= 20 / ALL= 20 )
dropped

CHART 224816	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 1909	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 225047	100.00	[('', 311)]
Numeric observation :0.0000% ( NOTNUM= 311 / ALL= 311 )
dropped

CHART 228173	100.00	[('', 18)]

Numeric observation :0.0000% ( NOTNUM= 18 / ALL= 18 )
dropped

CHART 5714	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 4267	100.00	[('', 1051)]
Numeric observation :0.1903% ( NOTNUM= 1049 / ALL= 1051 )
dropped

CHART 75	97.26	[('mA', 10341), ('', 291)]
Numeric observation :96.7645% ( NOTNUM= 344 / ALL= 10632 )

CHART 227566	100.00	[('', 82115)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 82115 )

CHART 3651	93.97	[('mmHg', 265), ('', 17)]
Numeric observation :12.4113% ( NOTNUM= 247 / ALL= 282 )
dropped

CHART 561	100.00	[('', 8166)]
Numeric observation :0.0000% ( NOTNUM= 8166 / ALL= 8166 )
dropped

CHART 8425	100.00	[('', 5501)]
Numeric observation :0.0000% ( NOTNUM= 5501 / ALL= 5501 )
dropped

CHART 224366	100.00	[('ml/hr', 7891)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7891 )

CHART 1044	100.00	[('', 142416)]
Numeric observation :0.0000% ( NOTNUM= 142416 / ALL= 142416 )
dropped

CHART 6055	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1861	100.00	[('', 29)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 29 )

CHART 6854	100.00	[('', 79)]
Numeric observation :88.6076% ( NOTNUM= 9 / ALL= 79 )

CHART 3822	100.00	[('', 1890)]
Numeric observation :0.0000% ( NOTNUM= 1890 / ALL= 1890 )
dropped

CHART 1010	100.00	[('', 3199)]
Numeric observation :99.9375% ( NOTNUM= 2 / ALL= 3199 )

CHART 1464	100.00	[('', 118)]
Numeric observation :0.0000% ( NOTNUM= 118 / ALL= 118 )
dropped

CHART 2071	100.00	[('', 20)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20 )

CHART 226144	100.00	[('', 35)]
Numeric observation :0.0000% ( NOTNUM= 35 / ALL= 35 )
dropped

CHART 224359	100.00	[('sec', 967)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 967 )

CHART 2430	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 224746	100.00	[('cmH2O', 442)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 442 )

CHART 227632	100.00	[('?C', 10144)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10144 )

CHART 1650	100.00	[('', 7440)]
Numeric observation :99.9597% ( NOTNUM= 3 / ALL= 7440 )

CHART 1857	100.00	[('', 223)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 223 )

CHART 8520	100.00	[('', 5317)]
Numeric observation :0.0000% ( NOTNUM= 5317 / ALL= 5317 )
dropped

CHART 8494	100.00	[('', 4370)]
Numeric observation :0.0000% ( NOTNUM= 4370 / ALL= 4370 )
dropped

CHART 4706	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 2043	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 431	99.99	[('g*m/m2', 173287), ('', 11)]
Numeric observation :99.5949% ( NOTNUM= 702 / ALL= 173298 )

CHART 4383	100.00	[('', 760)]
Numeric observation :0.0000% ( NOTNUM= 760 / ALL= 760 )
dropped

CHART 7606	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 176	100.00	[('', 13127)]
Numeric observation :81.9761% ( NOTNUM= 2366 / ALL= 13127 )

CHART 223797	100.00	[('', 3816)]
Numeric observation :0.0000% ( NOTNUM= 3816 / ALL= 3816 )
dropped

CHART 225184	100.00	[('', 125579)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 125579 )

CHART 224673	100.00	[('', 711)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 711 )

CHART 3000	100.00	[('', 27)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 27 )

CHART 598	100.00	[('', 38947)]
Numeric observation :0.0000% ( NOTNUM= 38947 / ALL= 38947 )
dropped

CHART 6027	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 3016	100.00	[('', 12)]
Numeric observation :0.0000% ( NOTNUM= 12 / ALL= 12 )
dropped

CHART 7812	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 5935	100.00	[('', 52)]
Numeric observation :0.0000% ( NOTNUM= 52 / ALL= 52 )
dropped

CHART 472	100.00	[('ml/min', 19644)]
Numeric observation :99.6284% ( NOTNUM= 73 / ALL= 19644 )

CHART 224909	100.00	[('', 77208)]
Numeric observation :0.0000% ( NOTNUM= 77208 / ALL= 77208 )
dropped

CHART 2960	100.00	[('', 42)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 42 )

CHART 3197	100.00	[('', 38)]
Numeric observation :44.7368% ( NOTNUM= 21 / ALL= 38 )
dropped

CHART 7091	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 228401	100.00	[('', 11181)]
Numeric observation :0.0000% ( NOTNUM= 11181 / ALL= 11181 )
dropped

CHART 220293	100.00	[('L/min', 456561)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 456561 )

CHART 3518	100.00	[('', 91267)]
Numeric observation :0.0000% ( NOTNUM= 91267 / ALL= 91267 )
dropped

CHART 225651	99.97	[('mg/dL', 3340), ('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3341 )

CHART 6748	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 5584	100.00	[('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 4615	100.00	[('', 46)]
Numeric observation :0.0000% ( NOTNUM= 46 / ALL= 46 )
dropped

CHART 224785	100.00	[('', 190993)]
Numeric observation :0.0000% ( NOTNUM= 190993 / ALL= 190993 )
dropped

CHART 916	100.00	[('', 41704)]
Numeric observation :0.0000% ( NOTNUM= 41704 / ALL= 41704 )
dropped

CHART 161	100.00	[('', 3236350)]
Numeric observation :0.0000% ( NOTNUM= 3236350 / ALL= 3236350 )
dropped

CHART 3667	100.00	[('', 1717)]
Numeric observation :0.0000% ( NOTNUM= 1717 / ALL= 1717 )
dropped

CHART 224308	100.00	[('', 140136)]
Numeric observation :0.0000% ( NOTNUM= 140136 / ALL= 140136 )
dropped

CHART 3331	100.00	[('', 58)]
Numeric observation :0.0000% ( NOTNUM= 58 / ALL= 58 )
dropped

CHART 227050	100.00	[('insp/min', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 3543	100.00	[('', 68508)]
Numeric observation :0.0000% ( NOTNUM= 68508 / ALL= 68508 )
dropped

CHART 4486	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 228232	100.00	[('', 2090)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2090 )

CHART 1689	100.00	[('', 162)]
Numeric observation :99.3827% ( NOTNUM= 1 / ALL= 162 )

CHART 2965	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 223994	100.00	[('', 38652)]
Numeric observation :0.0000% ( NOTNUM= 38652 / ALL= 38652 )
dropped

CHART 6656	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 491	99.12	[('mmHg', 262918), ('', 2327)]
Numeric observation :99.0100% ( NOTNUM= 2626 / ALL= 265245 )

CHART 5716	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 5709	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 6160	100.00	[('', 67)]
Numeric observation :0.0000% ( NOTNUM= 67 / ALL= 67 )
dropped

CHART 6659	100.00	[('', 9)]
Numeric observation :0.0000% ( NOTNUM= 9 / ALL= 9 )
dropped

CHART 7221	100.00	[('', 9)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 9 )

CHART 224926	100.00	[('', 19225)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19225 )

CHART 345	100.00	[('', 72163)]
Numeric observation :0.0000% ( NOTNUM= 72163 / ALL= 72163 )
dropped

CHART 227447	100.00	[('ug/mL', 223)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 223 )

CHART 5651	100.00	[('', 163)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 163 )

CHART 7762	100.00	[('', 40)]
Numeric observation :0.0000% ( NOTNUM= 40 / ALL= 40 )
dropped

CHART 4941	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 1421	100.00	[('', 17811)]
Numeric observation :0.0000% ( NOTNUM= 17811 / ALL= 17811 )
dropped

CHART 228402	100.00	[('', 3553)]
Numeric observation :0.0000% ( NOTNUM= 3553 / ALL= 3553 )
dropped

CHART 2041	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 3419	100.00	[('', 213291)]
Numeric observation :0.0000% ( NOTNUM= 213291 / ALL= 213291 )
dropped

CHART 225810	100.00	[('hour', 432)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 432 )

CHART 1939	100.00	[('', 7)]
Numeric observation :71.4286% ( NOTNUM= 2 / ALL= 7 )
dropped

CHART 4856	100.00	[('', 162)]
Numeric observation :0.0000% ( NOTNUM= 162 / ALL= 162 )
dropped

CHART 228296	100.00	[('', 825)]
Numeric observation :0.0000% ( NOTNUM= 825 / ALL= 825 )
dropped

CHART 917	100.00	[('', 41702)]
Numeric observation :0.0000% ( NOTNUM= 41702 / ALL= 41702 )
dropped

CHART 1827	100.00	[('', 17)]
Numeric observation :0.0000% ( NOTNUM= 17 / ALL= 17 )
dropped

CHART 6092	100.00	[('', 4)]
Numeric observation :0.0000% ( NOTNUM= 4 / ALL= 4 )
dropped

CHART 7858	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 224804	100.00	[('', 2344)]
Numeric observation :0.0000% ( NOTNUM= 2344 / ALL= 2344 )
dropped

CHART 1785	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 2137	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 225640	99.98	[('%', 20419), ('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20424 )

CHART 227239	100.00	[('', 84011)]
Numeric observation :0.0000% ( NOTNUM= 84011 / ALL= 84011 )
dropped

CHART 4694	100.00	[('', 24)]
Numeric observation :0.0000% ( NOTNUM= 24 / ALL= 24 )
dropped

CHART 4773	100.00	[('', 13)]
Numeric observation :0.0000% ( NOTNUM= 13 / ALL= 13 )
dropped

CHART 224017	100.00	[('', 244048)]
Numeric observation :0.0000% ( NOTNUM= 244048 / ALL= 244048 )
dropped

CHART 772	100.00	[('', 30877)]
Numeric observation :99.8769% ( NOTNUM= 38 / ALL= 30877 )

CHART 6846	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 224650	100.00	[('', 1849287)]
Numeric observation :0.0000% ( NOTNUM= 1849287 / ALL= 1849287 )
dropped

CHART 212	100.00	[('', 3303151)]
Numeric observation :0.0000% ( NOTNUM= 3303151 / ALL= 3303151 )
dropped

CHART 1918	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1534	98.73	[('mEq/L', 132568), ('', 1701)]
Numeric observation :99.9747% ( NOTNUM= 34 / ALL= 134269 )

CHART 1379	100.00	[('', 44)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 44 )

CHART 1671	100.00	[('', 61)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 61 )

CHART 4503	100.00	[('', 89)]
Numeric observation :0.0000% ( NOTNUM= 89 / ALL= 89 )
dropped

CHART 615	98.99	[('BPM', 412829), ('', 4220)]
Numeric observation :98.9383% ( NOTNUM= 4428 / ALL= 417049 )

CHART 2933	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 106	100.00	[('', 8728)]
Numeric observation :0.0000% ( NOTNUM= 8728 / ALL= 8728 )
dropped

CHART 285	100.00	[('', 98384)]
Numeric observation :0.0000% ( NOTNUM= 98384 / ALL= 98384 )
dropped

CHART 227063	100.00	[('', 8)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8 )

CHART 5712	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 8508	100.00	[('Breath', 27261)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 27261 )

CHART 4200	100.00	[('', 8911)]
Numeric observation :99.9439% ( NOTNUM= 5 / ALL= 8911 )

CHART 497	100.00	[('', 30939)]
Numeric observation :98.2223% ( NOTNUM= 550 / ALL= 30939 )

CHART 6161	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 5788	100.00	[('', 3)]
Numeric observation :0.0000% ( NOTNUM= 3 / ALL= 3 )
dropped

CHART 5652	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 6601	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 1468	100.00	[('', 74)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 74 )

CHART 577	100.00	[('', 13476)]
Numeric observation :0.0000% ( NOTNUM= 13476 / ALL= 13476 )
dropped

CHART 6352	100.00	[('', 4)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4 )

CHART 8507	100.00	[('cc/min', 1520)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1520 )

CHART 224007	100.00	[('', 187617)]
Numeric observation :0.0000% ( NOTNUM= 187617 / ALL= 187617 )
dropped

CHART 550	100.00	[('', 3205052)]
Numeric observation :0.0000% ( NOTNUM= 3205052 / ALL= 3205052 )
dropped

CHART 7869	100.00	[('', 90)]
Numeric observation :0.0000% ( NOTNUM= 90 / ALL= 90 )
dropped

CHART 220621	96.17	[('mg/dL', 149127), ('', 5944)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 155071 )

CHART 2743	100.00	[('', 141)]
Numeric observation :0.0000% ( NOTNUM= 141 / ALL= 141 )
dropped

CHART 4712	100.00	[('', 14)]
Numeric observation :0.0000% ( NOTNUM= 14 / ALL= 14 )
dropped

CHART 6107	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 1838	100.00	[('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2 )

CHART 8404	100.00	[('', 8830)]
Numeric observation :0.0000% ( NOTNUM= 8830 / ALL= 8830 )
dropped

CHART 225949	100.00	[('', 7936)]
Numeric observation :0.0000% ( NOTNUM= 7936 / ALL= 7936 )
dropped

CHART 220046	100.00	[('bpm', 215876)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 215876 )

CHART 224756	100.00	[('', 430305)]
Numeric observation :0.0000% ( NOTNUM= 430305 / ALL= 430305 )
dropped

CHART 2658	100.00	[('', 22)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 22 )

CHART 6086	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 384	100.00	[('', 312)]
Numeric observation :0.0000% ( NOTNUM= 312 / ALL= 312 )
dropped

CHART 6064	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 225744	100.00	[('', 1561)]
Numeric observation :0.0000% ( NOTNUM= 1561 / ALL= 1561 )
dropped

CHART 700	100.00	[('', 195)]
Numeric observation :0.0000% ( NOTNUM= 195 / ALL= 195 )
dropped

CHART 3516	100.00	[('', 2851)]
Numeric observation :0.0000% ( NOTNUM= 2851 / ALL= 2851 )
dropped

CHART 3383	100.00	[('', 267)]
Numeric observation :0.0000% ( NOTNUM= 267 / ALL= 267 )
dropped

CHART 1872	100.00	[('', 123)]
Numeric observation :0.0000% ( NOTNUM= 123 / ALL= 123 )
dropped

CHART 3644	100.00	[('', 44)]
Numeric observation :0.0000% ( NOTNUM= 44 / ALL= 44 )
dropped

CHART 5895	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 620	100.00	[('', 328851)]
Numeric observation :0.0000% ( NOTNUM= 328851 / ALL= 328851 )
dropped

CHART 4605	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 1541	100.00	[('', 1796)]
Numeric observation :99.5546% ( NOTNUM= 8 / ALL= 1796 )

CHART 2872	100.00	[('', 308)]
Numeric observation :0.0000% ( NOTNUM= 308 / ALL= 308 )
dropped

CHART 228208	100.00	[('', 119)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 119 )

CHART 397	100.00	[('', 2500)]
Numeric observation :0.0000% ( NOTNUM= 2500 / ALL= 2500 )
dropped

CHART 6485	100.00	[('', 31)]
Numeric observation :0.0000% ( NOTNUM= 31 / ALL= 31 )
dropped

CHART 2136	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 7751	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 224897	100.00	[('cm', 4405)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 4405 )

CHART 1114	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 4743	100.00	[('', 294)]
Numeric observation :0.0000% ( NOTNUM= 294 / ALL= 294 )
dropped

CHART 7888	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 486	100.00	[('', 1555)]
Numeric observation :0.0000% ( NOTNUM= 1555 / ALL= 1555 )
dropped

CHART 225000	100.00	[('', 4385)]
Numeric observation :0.0000% ( NOTNUM= 4385 / ALL= 4385 )
dropped

CHART 2733	100.00	[('', 203)]
Numeric observation :99.5074% ( NOTNUM= 1 / ALL= 203 )

CHART 1462	100.00	[('', 6)]
Numeric observation :0.0000% ( NOTNUM= 6 / ALL= 6 )
dropped

CHART 1069	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 7838	100.00	[('', 29)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 29 )

CHART 2702	100.00	[('', 16)]
Numeric observation :0.0000% ( NOTNUM= 16 / ALL= 16 )
dropped

CHART 8141	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 224969	100.00	[('', 6263)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6263 )

CHART 6546	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 4185	100.00	[('', 8243)]
Numeric observation :0.0000% ( NOTNUM= 8243 / ALL= 8243 )
dropped

CHART 8309	100.00	[('', 23)]
Numeric observation :0.0000% ( NOTNUM= 23 / ALL= 23 )
dropped

CHART 226756	100.00	[('', 18)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 18 )

CHART 8218	100.00	[('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 6 )

CHART 7220	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 7458	100.00	[('', 44)]
Numeric observation :0.0000% ( NOTNUM= 44 / ALL= 44 )
dropped

CHART 5817	99.82	[('mmHg', 1376492), ('', 2467)]
Numeric observation :99.7387% ( NOTNUM= 3603 / ALL= 1378959 )

CHART 224309	100.00	[('mmHg', 8491)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 8491 )

CHART 2659	100.00	[('', 5)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 5 )

CHART 3484	100.00	[('', 27824)]
Numeric observation :0.0000% ( NOTNUM= 27824 / ALL= 27824 )
dropped

CHART 6939	100.00	[('', 54)]
Numeric observation :0.0000% ( NOTNUM= 54 / ALL= 54 )
dropped

CHART 1383	100.00	[('', 161)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 161 )

CHART 5769	100.00	[('', 131)]
Numeric observation :0.0000% ( NOTNUM= 131 / ALL= 131 )
dropped

CHART 5826	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 227348	100.00	[('', 1966)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1966 )

CHART 227449	99.18	[('ug/mL', 242), ('', 2)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 244 )

CHART 1933	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 5469	100.00	[('', 5)]
Numeric observation :0.0000% ( NOTNUM= 5 / ALL= 5 )
dropped

CHART 27	100.00	[('', 737224)]
Numeric observation :0.0000% ( NOTNUM= 737224 / ALL= 737224 )
dropped

CHART 1496	100.00	[('', 82)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 82 )

CHART 5515	100.00	[('', 50)]
Numeric observation :0.0000% ( NOTNUM= 50 / ALL= 50 )
dropped

CHART 2500	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 8370	100.00	[('V-mA', 16004)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 16004 )

CHART 4171	100.00	[('', 16486)]
Numeric observation :0.0000% ( NOTNUM= 16486 / ALL= 16486 )
dropped

CHART 942	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 6047	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 224037	100.00	[('', 132045)]
Numeric observation :0.0000% ( NOTNUM= 132045 / ALL= 132045 )
dropped

CHART 227955	100.00	[('', 234585)]
Numeric observation :0.0000% ( NOTNUM= 234585 / ALL= 234585 )
dropped

CHART 1093	100.00	[('', 69)]
Numeric observation :0.0000% ( NOTNUM= 69 / ALL= 69 )
dropped

CHART 2022	100.00	[('', 32)]
Numeric observation :90.6250% ( NOTNUM= 3 / ALL= 32 )

CHART 2116	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 225959	100.00	[('', 172)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 172 )

CHART 3433	100.00	[('', 72)]
Numeric observation :0.0000% ( NOTNUM= 72 / ALL= 72 )
dropped

CHART 6741	100.00	[('', 14)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 14 )

CHART 5487	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 2597	100.00	[('', 1)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 1 )

CHART 5731	100.00	[('', 3)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 3 )

CHART 225746	100.00	[('', 11)]
Numeric observation :0.0000% ( NOTNUM= 11 / ALL= 11 )
dropped

CHART 1597	100.00	[('', 16)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 16 )

CHART 226761	100.00	[('', 19)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 19 )

CHART 5804	100.00	[('', 12)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 12 )

CHART 2518	100.00	[('', 44)]
Numeric observation :97.7273% ( NOTNUM= 1 / ALL= 44 )

CHART 7743	100.00	[('', 133)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 133 )

CHART 5083	100.00	[('', 38)]
Numeric observation :0.0000% ( NOTNUM= 38 / ALL= 38 )
dropped


Numeric observation :0.0000% ( NOTNUM= 5998 / ALL= 5998 )
dropped

CHART 227620	100.00	[('', 2763)]
Numeric observation :0.0000% ( NOTNUM= 2763 / ALL= 2763 )
dropped

CHART 6631	100.00	[('', 10)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 10 )

CHART 2649	100.00	[('', 15)]
Numeric observation :0.0000% ( NOTNUM= 15 / ALL= 15 )
dropped

CHART 1747	100.00	[('', 1)]
Numeric observation :0.0000% ( NOTNUM= 1 / ALL= 1 )
dropped

CHART 1201	100.00	[('', 7)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 7 )

CHART 946	100.00	[('', 262)]
Numeric observation :94.6565% ( NOTNUM= 14 / ALL= 262 )

CHART 226117	100.00	[('', 2273)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 2273 )

CHART 1647	100.00	[('', 8)]
Numeric observation :0.0000% ( NOTNUM= 8 / ALL= 8 )
dropped

CHART 4880	100.00	[('', 19)]
Numeric observation :0.0000% ( NOTNUM= 19 / ALL= 19 )
dropped

CHART 1414	100.00	[('', 2)]
Numeric observation :0.0000% ( NOTNUM= 2 / ALL= 2 )
dropped

CHART 2072	100.00	[('', 237)]
Numeric observation :99.5781% ( NOTNUM= 1 / ALL= 237 )

CHART 225641	99.97	[('%', 20419), ('', 6)]
Numeric observation :100.0000% ( NOTNUM= 0 / ALL= 20425 )

CHART 8447	100.00	[('', 22429)]
Numeric observation :0.0000% ( NOTNUM= 22429 / ALL= 22429 )
dropped

CHART 3132	100.00	[('', 10)]
Numeric observation :0.0000% ( NOTNUM= 10 / ALL= 10 )
dropped

CHART 227945	100.00	[('', 241963)]
Numeric observation :0.0000% ( NOTNUM= 241963 / ALL= 241963 )
dropped

## Unit inconsistency

Here are itemids having two or more different units.

For [211, 505], they have the same unit in fact. Keep them.

For [3451, 578, 113], the major unit covers > 90% of all records. Keep them.

For [3723], it is just a typo and we keep all.

In [5]:
for i, chartunits, percentage in sorted(multiple_units, key=lambda x: x[2]):
    total2 = sum([t[1] for t in chartunits])
    percentage = float(chartunits[0][1]) / total2 * 100.
    print("CHART "+str(i) + "\t" + "{:.4f}".format(percentage) +'\t'+ str(chartunits))

CHART 3723	59.3440	[('cm', 258375), ('kg', 177010)]
CHART 211	67.2600	[('BPM', 3484614), ('bpm', 1696195)]
CHART 578	94.0624	[('.', 277532), ('cmH20', 12941), ('', 4578)]
CHART 3451	94.3170	[('kg', 179206), ('cm', 10793), ('', 5)]
CHART 113	97.4122	[('mmHg', 1167662), ('%', 23460), ('', 7559)]
CHART 227441	99.3007	[('mg/dL', 142), ('units', 1)]
CHART 505	99.4428	[('cmH20', 350365), ('', 1958), ('cmH2O', 5)]

In [6]:
dropped_id = dropped
print(dropped_id, len(dropped_id))

[2848, 3565, 6158, 4349, 4718, 3370, 4466, 223837, 224890, 496, 8394, 6122, 4888, 2311, 6967, 599, 3323, 3071, 2769, 4321, 6169, 225099, 1820, 4875, 224854, 7477, 2627, 5729, 359, 225003, 3322, 228307, 227837, 1478, 3367, 1543, 7003, 1229, 227677, 6312, 2150, 3483, 7981, 4650, 224889, 3666, 4722, 224692, 8519, 1116, 224960, 4388, 8087, 5142, 7697, 7818, 5796, 2452, 227570, 6960, 6068, 5605, 5080, 537, 5099, 2300, 7214, 224450, 8372, 8178, 227782, 4475, 6680, 325, 223991, 223947, 1999, 227834, 1333, 6782, 4986, 3124, 5561, 5048, 225958, 3510, 7300, 7088, 5329, 4910, 227683, 3335, 6309, 227808, 228153, 8399, 227752, 1389, 1364, 227783, 655, 224084, 167, 6163, 224991, 5656, 478, 8523, 224988, 458, 4414, 629, 223782, 3564, 1606, 2761, 4355, 2693, 227240, 227929, 4360, 6210, 3492, 5347, 224633, 1000, 227474, 227961, 2542, 1963, 5210, 6118, 228448, 77, 225743, 140, 4976, 56, 6790, 3384, 4291, 8466, 224101, 228449, 4449, 5762, 7934, 224976, 227963, 224005, 223840, 712, 228446, 1910, 224935, 8320, 977, 4189, 8433, 376, 227672, 224001, 515, 1427, 228303, 6287, 6298, 6407, 8011, 5610, 4435, 165, 5803, 5838, 4312, 6247, 570, 2968, 1049, 7780, 7947, 5770, 7779, 6056, 7327, 609, 228451, 7397, 224907, 6337, 8230, 8410, 227853, 5821, 653, 6031, 1405, 3458, 7219, 8377, 227643, 2351, 108, 223902, 7646, 2362, 1089, 65, 3034, 3249, 5141, 6737, 4487, 3572, 941, 603, 6841, 804, 5827, 4347, 224995, 68, 3496, 1233, 7683, 7951, 5920, 4248, 7985, 6171, 987, 5921, 2686, 224181, 227679, 225022, 4648, 224989, 1432, 6299, 7921, 223796, 5989, 1213, 4813, 224963, 99, 8233, 94, 2423, 7119, 1322, 4241, 2777, 162, 6042, 224835, 5931, 4788, 2445, 5701, 224446, 224941, 390, 224064, 4740, 6023, 4643, 223932, 3292, 6173, 5049, 5943, 228414, 2940, 1057, 5682, 223944, 5981, 4390, 1433, 6381, 3014, 3293, 4638, 8397, 5620, 5668, 2313, 8516, 417, 7318, 228332, 605, 6175, 224062, 3576, 6014, 6316, 1438, 639, 2756, 4543, 225415, 3557, 7362, 6240, 5617, 3520, 6752, 968, 224791, 6121, 5325, 228397, 5086, 6391, 3559, 4266, 3423, 6069, 5396, 224010, 2404, 1813, 5825, 224906, 3136, 5941, 591, 5953, 3630, 227626, 4956, 7737, 6645, 4286, 4823, 3424, 4374, 1891, 3222, 225230, 225017, 794, 4732, 224844, 3412, 224087, 224004, 4824, 6301, 224435, 84, 6639, 3291, 227120, 3047, 227753, 5889, 224003, 3138, 6763, 227787, 8476, 223985, 7111, 5441, 4540, 680, 4915, 223995, 1643, 115, 6690, 5831, 8019, 225977, 1494, 174, 228156, 8247, 225016, 2604, 5873, 222, 7123, 4448, 224781, 44, 5802, 4508, 227623, 111, 562, 3568, 6610, 223924, 2131, 224913, 1886, 7949, 8383, 224964, 1617, 8406, 5753, 7081, 224392, 224940, 3584, 668, 4326, 5045, 124, 229, 8442, 415, 5834, 7359, 3442, 224949, 166, 4240, 4645, 1218, 388, 2820, 6174, 4755, 147, 3245, 224961, 1849, 2377, 5413, 7924, 1436, 5455, 5962, 4715, 3469, 225357, 657, 6200, 3498, 592, 2514, 1027, 225137, 4278, 224065, 227952, 224876, 183, 4889, 3548, 228294, 130, 283, 224375, 548, 224173, 3751, 1434, 1661, 224894, 4247, 6604, 2334, 647, 3178, 5842, 228016, 1046, 6201, 4807, 6334, 2822, 5900, 3304, 4862, 4496, 227754, 1728, 224914, 224930, 224297, 4364, 225059, 518, 1680, 5905, 6981, 8389, 3244, 227375, 2750, 137, 4810, 405, 5189, 6120, 5957, 6191, 4606, 5745, 227949, 6311, 6196, 227665, 8206, 4651, 4630, 8435, 8078, 228007, 3524, 1502, 382, 5343, 4228, 228009, 3359, 4695, 1388, 3350, 6226, 3069, 4865, 223970, 5492, 8420, 224413, 5042, 1125, 3569, 1896, 6402, 563, 479, 284, 6319, 4428, 5963, 8367, 31, 3391, 4652, 6272, 324, 3241, 8384, 1437, 1771, 5024, 3330, 1479, 224291, 3019, 7772, 2700, 2145, 225760, 224912, 177, 224943, 227630, 1451, 7896, 1394, 8388, 225739, 7796, 459, 3109, 938, 1063, 274, 1842, 8378, 6085, 3341, 5456, 3490, 412, 7652, 4556, 8470, 224426, 83, 851, 224023, 6188, 6044, 2401, 228013, 8240, 224975, 3091, 227967, 227850, 223976, 596, 7663, 4769, 7045, 2140, 6411, 2815, 227487, 225026, 1449, 1450, 8461, 7585, 224259, 8454, 6150, 224716, 2631, 7372, 3525, 7328, 224833, 5, 6515, 8200, 1944, 340, 3376, 4870, 7076, 8026, 227759, 224063, 223990, 432, 225217, 254, 656, 7044, 224289, 5665, 1203, 4251, 5387, 5977, 396, 6049, 935, 5763, 7252, 5025, 227984, 1653, 5152, 3546, 8472, 6017, 1328, 227965, 3388, 133, 226815, 5194, 6843, 5600, 8460, 227113, 225180, 8457, 227089, 353, 8128, 5634, 6097, 7722, 707, 7745, 225987, 4919, 2850, 4303, 8379, 4539, 4289, 4565, 3097, 4948, 8382, 8107, 224859, 95, 1908, 3444, 2432, 6375, 4953, 4430, 7209, 5952, 227599, 7086, 4597, 8478, 1133, 2275, 8499, 6037, 669, 5833, 5916, 224444, 7179, 8418, 708, 7832, 5857, 2173, 224040, 6304, 6510, 225984, 3453, 223938, 6008, 341, 409, 3011, 691, 3627, 224114, 6060, 389, 1557, 4705, 702, 6009, 205, 2797, 197, 3615, 558, 227664, 5759, 534, 223800, 6124, 3396, 6487, 688, 8270, 5908, 228171, 3816, 6322, 8528, 457, 6230, 5923, 4674, 8084, 4708, 5861, 2610, 3131, 3390, 2907, 5936, 2860, 7075, 8424, 227609, 385, 6778, 81, 2429, 223946, 2807, 4271, 3346, 2798, 225027, 6762, 224067, 1700, 621, 227772, 6022, 8133, 6211, 2674, 1637, 227986, 224121, 2948, 4599, 223907, 5945, 6108, 224905, 354, 7925, 5809, 228372, 7915, 4236, 402, 223955, 380, 4797, 225747, 347, 410, 3336, 223952, 227600, 4217, 224904, 3616, 4716, 223925, 224810, 3111, 323, 6182, 4623, 4420, 368, 407, 227585, 228293, 8450, 227751, 5959, 5204, 2226, 726, 8279, 7954, 228306, 3137, 6528, 7258, 6978, 4969, 7058, 225196, 372, 2945, 45, 199, 3643, 224892, 6294, 224069, 3467, 4407, 7051, 3213, 6016, 3013, 3216, 7002, 1870, 4444, 259, 3223, 1015, 4545, 8317, 8374, 573, 1710, 223936, 224998, 228302, 2002, 227607, 4693, 4950, 6428, 8408, 1384, 5859, 8147, 7854, 224442, 7747, 7032, 1837, 6083, 2588, 224788, 4377, 5361, 4220, 6970, 3052, 1547, 223954, 5810, 6172, 223972, 224112, 3455, 5110, 88, 7902, 6313, 7141, 228008, 225050, 4914, 3385, 8093, 2918, 224026, 227784, 3401, 7748, 227757, 3356, 3041, 3611, 6235, 209, 225052, 224806, 606, 225740, 6963, 8365, 3095, 4858, 4849, 1124, 1231, 227617, 253, 7958, 119, 7210, 5829, 7185, 101, 339, 4472, 224327, 82, 1043, 1048, 2308, 5940, 225323, 213, 4679, 227845, 5015, 5772, 4208, 4298, 373, 8157, 224000, 1945, 223838, 8469, 227127, 1920, 3509, 3351, 225019, 3380, 2877, 7193, 1335, 5470, 6862, 3452, 523, 1829, 526, 5503, 559, 1914, 3553, 5557, 227968, 225770, 225409, 227947, 3326, 5115, 8375, 6607, 6948, 3402, 4625, 228311, 4607, 224834, 223999, 227681, 227655, 3463, 5795, 4297, 4622, 224775, 193, 5960, 2021, 5113, 4936, 8146, 5777, 3608, 5973, 104, 533, 4678, 5669, 2910, 4212, 3475, 7074, 228018, 5248, 5968, 297, 6830, 228017, 400, 5218, 8452, 5969, 8477, 819, 6021, 6303, 223966, 5961, 227835, 227983, 970, 224176, 6852, 1632, 2747, 1903, 6503, 6415, 6577, 4264, 590, 5954, 579, 1734, 1628, 3393, 123, 1463, 6444, 3118, 5391, 8489, 2789, 8409, 1429, 6246, 8522, 4685, 404, 4925, 227951, 6032, 224992, 547, 2863, 4175, 227944, 1892, 7338, 1699, 6305, 224373, 556, 1123, 7731, 2858, 5035, 227636, 566, 695, 5705, 4513, 228393, 3594, 6330, 224090, 1698, 224769, 6285, 4478, 5292, 5309, 227121, 610, 287, 2800, 2730, 5793, 5003, 227964, 1630, 5012, 1056, 3454, 5901, 5346, 6114, 2349, 224429, 224372, 1412, 2535, 367, 1701, 4579, 5835, 5698, 4353, 983, 3364, 4340, 4647, 8197, 7339, 3042, 4311, 690, 4268, 112, 4750, 8474, 5934, 223910, 224457, 224942, 227671, 3669, 7052, 7018, 7531, 1484, 2098, 7243, 224453, 4371, 226130, 227988, 227847, 1561, 5057, 225331, 225413, 2626, 6070, 7672, 5128, 3285, 6018, 3517, 6119, 3120, 3340, 3471, 366, 2585, 2476, 5723, 4761, 8455, 85, 5032, 5839, 8204, 3339, 4739, 6556, 4315, 32, 227950, 1382, 1452, 5333, 546, 6537, 3686, 227290, 227378, 1505, 6145, 224423, 225239, 227948, 2406, 5732, 7771, 4400, 637, 5694, 5401, 1602, 2762, 4518, 225090, 416, 4568, 6033, 427, 5983, 3373, 4256, 377, 5626, 1517, 7988, 7887, 224712, 4551, 8465, 227666, 728, 4362, 7349, 2074, 2731, 5792, 3637, 1052, 224436, 256, 224933, 216, 8373, 8307, 7114, 228445, 483, 1839, 5743, 224959, 225176, 1501, 3532, 4821, 542, 228300, 8436, 223760, 4483, 6578, 7655, 110, 3522, 5958, 1342, 6054, 5704, 227616, 4894, 228400, 28, 7882, 262, 5871, 3058, 8423, 1312, 3504, 1591, 585, 1050, 3596, 122, 5885, 5922, 762, 227953, 531, 3449, 224847, 1581, 3661, 5891, 6420, 628, 8071, 4523, 5483, 3365, 8042, 3399, 5621, 5710, 6043, 5528, 2664, 3425, 228312, 5906, 5063, 545, 6237, 487, 4795, 7631, 224994, 4901, 1730, 3476, 2280, 2984, 7565, 4806, 227119, 224032, 4385, 2450, 6637, 228298, 3551, 446, 4249, 5263, 223934, 1115, 6197, 6898, 6137, 604, 3348, 1646, 2086, 3349, 6164, 6410, 6507, 4855, 7599, 225023, 97, 3577, 224561, 6276, 3321, 4972, 225131, 5404, 4457, 351, 2969, 5453, 5145, 5260, 225024, 2374, 5055, 3474, 386, 228447, 224283, 1483, 6469, 6112, 5521, 369, 5654, 5562, 228406, 226152, 1413, 2744, 5800, 4417, 4219, 826, 1642, 6134, 1406, 1652, 227589, 464, 5849, 228405, 1353, 1745, 3578, 4186, 7443, 2964, 8258, 1852, 2855, 4299, 224730, 4415, 8386, 224937, 6333, 7815, 76, 406, 225237, 224982, 225231, 3646, 8035, 552, 227785, 3617, 4840, 225236, 4654, 4204, 1711, 7108, 2898, 3175, 4534, 6178, 7875, 338, 3539, 1851, 7853, 271, 1221, 3256, 4363, 224389, 6113, 6035, 225043, 6050, 4646, 5965, 1716, 3591, 7601, 6835, 1459, 224796, 607, 4419, 235, 387, 1610, 6220, 225985, 6257, 225006, 1560, 224973, 8272, 3684, 2644, 2473, 6262, 8529, 4322, 227608, 1041, 6536, 225194, 227966, 171, 4872, 3296, 1579, 4684, 223758, 3015, 858, 224910, 3174, 5421, 2774, 7379, 54, 2393, 4502, 224993, 2609, 8380, 6189, 5281, 225101, 225120, 4729, 103, 2307, 525, 5374, 227854, 2913, 1636, 4467, 8514, 4842, 4639, 223780, 2062, 7871, 6621, 6084, 224740, 8353, 224449, 857, 36, 5613, 8453, 224068, 4497, 1890, 8027, 224950, 4548, 7551, 223992, 5548, 7303, 8400, 7029, 224430, 1743, 3634, 7253, 3397, 5812, 227129, 2519, 5822, 4484, 7431, 6308, 8431, 224009, 225025, 5096, 5273, 8058, 290, 4944, 6750, 793, 224831, 228211, 4183, 5869, 7424, 7948, 223827, 223986, 86, 3563, 7535, 225004, 5501, 6133, 4744, 8417, 3468, 7488, 5212, 2321, 3618, 4789, 2370, 1719, 6868, 3414, 3208, 224939, 3601, 6396, 223997, 5999, 5205, 7414, 7953, 7823, 5301, 6153, 227680, 1094, 4557, 8510, 225741, 7790, 5890, 425, 43, 4661, 1077, 223824, 224379, 6261, 482, 5713, 6283, 4410, 3206, 227598, 924, 225759, 5903, 5987, 731, 6249, 1713, 4867, 1471, 3246, 4641, 225961, 223905, 645, 597, 2382, 6296, 6263, 4262, 5751, 3670, 4527, 169, 1515, 6975, 224061, 224767, 7862, 5071, 344, 4354, 8366, 227651, 1193, 5507, 224948, 224794, 649, 7573, 4437, 121, 223920, 5513, 8492, 8139, 944, 1334, 1036, 154, 5750, 224945, 225738, 1722, 4595, 6640, 3671, 228194, 188, 375, 7118, 227805, 227622, 5133, 3090, 6785, 225355, 1212, 527, 783, 1503, 1608, 6093, 2826, 2788, 308, 227840, 1456, 6151, 226732, 3595, 7060, 1482, 224146, 1991, 4588, 224445, 6424, 260, 5258, 6885, 3299, 5186, 7808, 8521, 5485, 6288, 1900, 3480, 8403, 223801, 118, 2875, 272, 3514, 223, 5166, 6281, 224076, 3366, 1454, 2341, 8459, 227472, 3538, 1791, 223941, 6232, 6029, 6630, 5162, 6166, 2862, 227644, 6123, 6051, 7615, 7380, 227517, 8538, 224978, 3320, 7667, 4990, 8265, 5781, 228290, 4676, 227601, 227667, 5742, 5947, 665, 5646, 225240, 227675, 1439, 5876, 6212, 8149, 6239, 3638, 2056, 5650, 5912, 6192, 6202, 2316, 6353, 399, 227761, 852, 6535, 227475, 3354, 7914, 4604, 1545, 223979, 225007, 268, 549, 1512, 8427, 310, 3179, 4735, 224997, 225135, 1369, 3817, 8509, 223931, 1627, 5213, 8109, 1490, 5662, 4721, 227846, 5214, 2366, 5609, 224188, 3640, 8140, 4562, 5060, 227115, 8190, 265, 4272, 379, 3570, 5293, 6184, 227848, 168, 228226, 3622, 2616, 2765, 4681, 238, 3307, 2543, 4445, 8426, 7890, 4736, 3426, 1936, 7259, 2185, 6277, 227631, 7909, 7861, 3283, 3600, 8413, 225020, 3274, 4929, 8120, 3562, 555, 554, 224019, 225953, 4426, 8464, 224456, 8315, 6513, 223836, 1980, 5004, 227612, 135, 39, 1047, 1821, 2834, 3010, 7222, 4790, 8471, 228442, 6025, 8391, 6593, 3363, 1019, 1811, 7582, 8451, 2474, 6046, 225045, 160, 640, 2005, 6104, 4902, 7767, 6006, 1899, 3465, 225021, 6957, 5640, 4225, 223918, 223926, 288, 223943, 7213, 1375, 3579, 7093, 223949, 5853, 225072, 5991, 4816, 5725, 1469, 321, 6039, 1337, 5321, 4669, 4680, 5500, 139, 2705, 6562, 8530, 594, 8103, 381, 7542, 6306, 927, 466, 5919, 223784, 250, 4561, 2567, 5740, 5435, 224888, 4532, 5632, 224452, 226133, 8513, 225979, 582, 6275, 6681, 7470, 7547, 227613, 225749, 102, 1998, 225347, 1554, 225748, 6968, 6167, 4784, 2, 72, 5761, 3536, 5926, 224079, 4702, 224717, 224091, 7286, 6156, 5925, 4585, 3819, 6845, 6245, 696, 6095, 228407, 3394, 391, 227131, 1702, 6430, 320, 3158, 7973, 224857, 426, 1840, 223917, 1571, 4476, 3544, 227981, 3658, 2966, 4505, 224797, 1428, 8429, 224640, 46, 919, 4603, 5870, 361, 7825, 226168, 8392, 40, 355, 3258, 4389, 224431, 7242, 1748, 2569, 5722, 225227, 6131, 4613, 348, 4783, 3593, 6842, 224958, 1215, 7409, 4320, 7277, 2424, 730, 6079, 224642, 1232, 6926, 4852, 2030, 569, 8428, 2359, 8482, 6165, 5863, 6057, 224735, 4511, 2637, 3416, 3202, 2449, 5791, 5789, 4571, 5897, 4805, 4900, 3639, 225956, 8419, 3338, 3679, 225388, 4970, 5807, 228399, 91, 7816, 6030, 7287, 6471, 228216, 4860, 224043, 224713, 227687, 6074, 7276, 6784, 227836, 365, 7903, 2256, 8412, 5283, 6498, 6132, 6190, 3297, 6437, 5648, 4720, 461, 4386, 5997, 499, 4169, 223792, 3362, 5730, 224092, 3531, 2882, 223956, 4898, 223968, 228011, 392, 225018, 5450, 6146, 1435, 8313, 1387, 8525, 673, 6183, 227760, 227855, 5774, 227288, 225225, 3566, 224105, 96, 4977, 7254, 224075, 6720, 220048, 107, 2337, 225005, 6764, 5904, 4723, 2524, 5911, 5776, 3382, 5257, 654, 576, 223961, 1001, 3020, 6157, 4230, 6307, 398, 5971, 3084, 6082, 224390, 224441, 225001, 227789, 3430, 223898, 5262, 1735, 8257, 7688, 3002, 5114, 5852, 5850, 3409, 5502, 6274, 224012, 7375, 223904, 1062, 1447, 2772, 1626, 7151, 164, 4524, 1448, 227915, 704, 4937, 78, 5854, 227642, 227648, 1644, 4566, 228172, 225030, 100, 1739, 223919, 224632, 6111, 224731, 4244, 224972, 158, 6783, 224773, 5645, 2368, 6636, 225015, 2451, 403, 223948, 5828, 5775, 244, 5612, 6217, 4250, 225745, 2938, 224011, 1622, 6038, 227881, 722, 8411, 8512, 5637, 224041, 6282, 4793, 1330, 1078, 3369, 224762, 4955, 3094, 3043, 227832, 2924, 1230, 6379, 1430, 5806, 4213, 6181, 3217, 6109, 551, 8402, 223989, 224109, 225982, 179, 2836, 2819, 2706, 5635, 7383, 225044, 4480, 227954, 6117, 693, 228310, 370, 6317, 227567, 6895, 224425, 732, 6851, 224089, 6663, 224044, 4660, 6271, 224110, 3139, 7856, 3528, 227815, 2405, 3654, 8438, 5741, 227606, 1224, 3398, 180, 127, 3392, 6310, 3489, 5088, 8458, 1422, 6509, 5468, 5356, 1906, 7019, 5075, 1480, 5845, 223942, 227577, 228014, 438, 1338, 3333, 1470, 225988, 7505, 4895, 3472, 224281, 1110, 6284, 5068, 224025, 4601, 309, 349, 226713, 4560, 6738, 3641, 7520, 2419, 227982, 227629, 227625, 5564, 5036, 5077, 224981, 2422, 717, 5000, 5261, 224432, 224931, 2808, 5887, 224080, 7204, 6848, 7687, 224850, 1067, 224077, 6251, 447, 3567, 5545, 8070, 5787, 223794, 4381, 7955, 4209, 4564, 7126, 8493, 227133, 226125, 156, 1962, 8346, 3233, 4504, 5760, 5719, 6001, 4514, 227841, 6324, 227946, 6332, 5884, 223916, 132, 3487, 7065, 7090, 228015, 5677, 1216, 4689, 227668, 8407, 6019, 224866, 224980, 6871, 223967, 352, 5155, 5311, 703, 2790, 8463, 223795, 8524, 735, 4762, 8456, 660, 6461, 3550, 1938, 223759, 8443, 5883, 2236, 2225, 5720, 69, 225048, 3314, 7251, 2986, 203, 529, 2489, 227980, 4372, 4871, 5982, 3447, 7095, 5676, 4542, 2831, 6359, 7194, 227653, 5860, 227125, 4701, 224808, 3672, 3428, 4526, 224024, 224830, 224962, 3607, 4844, 224370, 3657, 224891, 1969, 7809, 224088, 4214, 228223, 7760, 394, 248, 2099, 8432, 1481, 5220, 4619, 207, 5988, 224800, 224013, 2736, 1467, 1217, 224565, 463, 1354, 6045, 224427, 223059, 6002, 224974, 141, 698, 225965, 539, 225410, 227728, 467, 648, 5040, 1095, 8480, 1090, 2443, 3676, 5711, 227241, 242, 3295, 8330, 8467, 6974, 342, 6155, 2484, 224119, 3466, 4820, 224814, 5928, 148, 236, 224999, 227673, 6815, 223940, 7301, 5380, 5629, 294, 5386, 2963, 227117, 5016, 7831, 3625, 3374, 4223, 225767, 4, 227960, 4822, 3353, 225751, 4707, 4726, 8473, 4282, 224226, 1409, 1703, 224792, 613, 224368, 227830, 3645, 5647, 5956, 224801, 226586, 8115, 568, 4334, 4947, 6667, 227649, 7709, 8414, 223802, 4713, 4246, 8125, 3347, 3628, 608, 8535, 364, 4218, 4181, 227763, 572, 4954, 7061, 5877, 1620, 1576, 224455, 2583, 225, 5986, 5340, 1061, 1410, 225811, 224908, 227124, 5998, 5655, 2143, 1638, 7223, 5699, 1054, 224031, 4843, 227122, 105, 5702, 2821, 6067, 228443, 4375, 224437, 510, 224759, 228012, 225014, 3066, 3573, 4698, 7471, 2825, 5022, 4926, 5604, 2488, 7691, 8369, 228292, 2993, 8314, 5123, 1855, 920, 5875, 522, 5748, 3, 227477, 201, 225750, 228301, 5462, 228404, 228225, 5909, 2525, 1693, 6326, 1059, 4549, 8396, 1431, 8479, 2530, 8212, 224113, 228416, 859, 4412, 226545, 659, 3694, 210, 3264, 7174, 584, 5757, 1329, 225397, 224369, 224987, 6256, 224443, 1316, 5914, 6142, 2529, 227652, 3512, 6347, 6015, 5226, 3352, 3177, 1682, 2268, 224902, 3169, 7453, 150, 1228, 4285, 6061, 223939, 926, 5841, 4958, 4239, 6398, 3405, 5353, 4446, 226105, 5020, 4263, 4918, 228010, 5913, 5708, 4210, 4365, 538, 7983, 5864, 612, 925, 3448, 2795, 224006, 3328, 2824, 2209, 4305, 227773, 4237, 5893, 1070, 5039, 6599, 7612, 6252, 3647, 224947, 2737, 3519, 224085, 3612, 225742, 5234, 5747, 225737, 2813, 7073, 5229, 227985, 223973, 5681, 2592, 6228, 1314, 2397, 5168, 3358, 7236, 25, 5067, 227669, 6053, 136, 5700, 2642, 196, 6628, 8415, 1741, 5164, 5249, 3482, 3381, 414, 667, 1108, 4922, 1120, 224979, 4519, 5773, 149, 227476, 224996, 706, 224858, 2579, 3685, 7568, 227764, 8534, 5948, 1100, 3128, 1408, 2499, 4905, 5130, 3445, 6414, 227922, 2293, 357, 241, 6198, 6199, 225954, 6622, 227654, 7976, 109, 1740, 6020, 524, 644, 5946, 5661, 224915, 223829, 224424, 6423, 228297, 5846, 4709, 6582, 617, 2768, 4292, 1416, 5215, 228199, 225976, 227640, 5527, 7668, 7699, 225952, 3191, 413, 5674, 4461, 3606, 227473, 8468, 4618, 3408, 5879, 5992, 6162, 4946, 227786, 4310, 5554, 6751, 5721, 419, 4617, 224932, 4406, 7500, 4928, 47, 5862, 228413, 1458, 6686, 3598, 4692, 125, 5718, 2004, 227806, 3048, 1045, 223951, 468, 575, 4686, 7992, 224777, 6028, 1346, 1453, 225233, 1118, 227758, 227111, 2823, 2668, 5384, 2958, 303, 223828, 5566, 227128, 2288, 3605, 8266, 3683, 8390, 5659, 5062, 401, 5259, 227539, 5780, 6739, 822, 6234, 8437, 8416, 1553, 5724, 718, 3633, 5768, 227788, 223783, 694, 7166, 2361, 6103, 5664, 1136, 3479, 6270, 1029, 8321, 2952, 221, 223982, 227730, 224733, 227943, 6125, 6243, 643, 1051, 3432, 3521, 6338, 2326, 223911, 5899, 6203, 5649, 227957, 1022, 1832, 358, 701, 4801, 224832, 3530, 3033, 289, 4960, 227594, 4893, 227670, 228214, 232, 692, 7730, 8475, 4525, 225371, 3653, 3673, 6893, 565, 300, 3427, 7482, 5486, 2802, 4350, 202, 266, 228206, 80, 4636, 1721, 1595, 5026, 5043, 225097, 6143, 1415, 7004, 175, 1418, 7841, 6260, 699, 5660, 362, 4663, 8126, 4799, 224758, 225339, 224946, 4677, 5153, 6416, 3316, 8054, 1426, 3008, 5157, 4538, 4296, 227624, 560, 940, 697, 6144, 224680, 4369, 4235, 5666, 553, 1339, 2865, 8021, 4451, 5678, 4911, 227088, 224860, 3456, 6007, 5473, 2929, 3219, 3172, 5784, 3818, 6650, 6297, 4620, 187, 1623, 5858, 224944, 3329, 2665, 227725, 227578, 511, 2734, 7288, 378, 5671, 1423, 5843, 227591, 2492, 7840, 5794, 5282, 477, 4231, 4727, 5464, 5872, 4243, 6036, 4696, 5265, 224865, 4670, 134, 228308, 3372, 6278, 8486, 223953, 227771, 223983, 1688, 3250, 7546, 8129, 4791, 3624, 227650, 6, 509, 41, 516, 2794, 3549, 3631, 720, 5505, 564, 224779, 247, 3695, 311, 5285, 2434, 224789, 4770, 4578, 224073, 224106, 663, 6081, 208, 322, 2320, 6812, 8405, 1493, 4373, 8422, 3378, 3315, 224879, 224016, 4850, 1039, 1474, 2387, 5886, 224028, 544, 5929, 2606, 7732, 4459, 1113, 8304, 4477, 2849, 8430, 6219, 224072, 4952, 7138, 2015, 3127, 360, 8439, 5199, 5442, 225341, 4873, 224816, 1909, 225047, 228173, 5714, 4267, 3651, 561, 8425, 1044, 6055, 3822, 1464, 226144, 2430, 8520, 8494, 4706, 4383, 223797, 598, 6027, 3016, 5935, 224909, 3197, 228401, 3518, 4615, 224785, 916, 161, 3667, 224308, 3331, 3543, 4486, 223994, 5716, 5709, 6160, 6659, 345, 7762, 4941, 1421, 228402, 3419, 1939, 4856, 22

In [7]:
def numerical_ratio(units):
    res = list(map(lambda unit: re.match(r'(\d+\.\d*)|(\d*\.\d+)|(\d+)', unit), units))
    numerical_ratio = 1.0 * len([1 for r in res if r is not None]) / len(res)
    return numerical_ratio

In [8]:
def dropped_value_list_unit_task(dropped_id):
    conn = getConnection()
    dropped_value = []
    for d in tqdm(dropped_id):
#         print('LAB : ' + str(d))
        cur = conn.cursor()
        cur.execute('SELECT value, valueuom, count(*) as x FROM mimiciii.chartevents as lb \
                    WHERE itemid = '+ str(d) +' and hadm_id in (select * from admission_ids) GROUP BY value, valueuom ORDER BY x DESC')
        droped_outs = cur.fetchall()
        drop_array = []
        ct =0
        total = 0;
        for dx in droped_outs:
            total += dx[2]
#         print("Count ",total)
#         print([d[0] for d in droped_outs])
#         print('Numeric ratio', numerical_ratio([str(d[0]) for d in droped_outs]))
        units = []
        for dx in droped_outs:
            ct+=1
            if(ct>20):
                break
            dx = list(dx)
#             print(dx[1],dx[0],"\t",dx[2])
#         print('')
        dropped_value.append((d, droped_outs))
    conn.close()
    return dropped_value

dropped_value = []
numworkers = 4
p = Pool(numworkers)
dropped_id_units = np.array_split(dropped_id, numworkers)
dropped_value_list = [p.apply_async(dropped_value_list_unit_task, args=(dropped_id_unit,)) for dropped_id_unit in dropped_id_units]
dropped_value_list = [x.get() for x in dropped_value_list]
dropped_value = list(itertools.chain.from_iterable(dropped_value_list))
np.save('res/chart_dropped_value.npy', dropped_value)

/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.
/home/mengcz/.pyenv/versions/anaconda3-5.1.0/envs/Benchmarking_DL_MIMICIII/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=955.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=954.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=955.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=955.0), HTML(value='')))

In [9]:
print(len(dropped_id))
print(len(valid_chart), len(valid_chart_unit))
print(valid_chart)
print(valid_chart_unit)

3819
2644 2644
[2026, 3028, 2409, 225771, 6873, 2961, 2265, 1101, 227597, 8533, 6810, 225118, 224144, 227366, 3652, 228344, 227056, 5587, 6466, 1060, 26, 8549, 227346, 220739, 227021, 5565, 220277, 224178, 1726, 2640, 1487, 786, 220580, 226730, 227916, 7245, 2755, 3142, 541, 1582, 4198, 226746, 6003, 227429, 142, 226753, 6585, 227537, 226892, 3045, 7027, 2019, 6465, 6987, 8446, 227000, 226137, 6170, 1982, 220587, 2572, 8305, 71, 624, 626, 3242, 823, 1528, 8484, 8491, 1374, 1981, 6286, 2925, 2363, 228099, 225070, 228374, 2522, 211, 7632, 7493, 6964, 225112, 224953, 228146, 226772, 1966, 8048, 2373, 5865, 6129, 224054, 8301, 224674, 2112, 227543, 2339, 3082, 8362, 6657, 7534, 227872, 2992, 2783, 1542, 8517, 1551, 226980, 2717, 224367, 7353, 227448, 6058, 223765, 429, 224754, 226113, 3029, 2480, 2687, 6906, 7650, 2692, 3161, 6768, 226993, 6643, 530, 228336, 1475, 224684, 224675, 8061, 1978, 223763, 228163, 3663, 6409, 226775, 2353, 227039, 224332, 5558, 223848, 7262, 803, 7982, 494, 2856, 6945, 1812, 227456, 6933, 3061, 3759, 223814, 2355, 6632, 226107, 226131, 3135, 8205, 3839, 3122, 2669, 227925, 470, 2562, 227038, 228196, 2561, 6651, 225398, 1884, 2105, 1588, 3681, 227368, 62, 228192, 1040, 1624, 4887, 6280, 6947, 228005, 220073, 2685, 2922, 1937, 2146, 1492, 227032, 6754, 227905, 6670, 3004, 225642, 811, 224925, 4672, 6689, 3228, 2593, 1367, 1669, 1504, 5766, 228212, 8310, 2013, 1313, 6010, 3726, 226272, 225085, 742, 3437, 788, 2880, 849, 220061, 5675, 228158, 6127, 1165, 226780, 228396, 224923, 7132, 7638, 6168, 227458, 3009, 223820, 6820, 8550, 521, 227053, 715, 227775, 2487, 8183, 6000, 6944, 7608, 6794, 225612, 7246, 3599, 224900, 7597, 224315, 228004, 5896, 2667, 5856, 1654, 3829, 6222, 2464, 8440, 224564, 1508, 227546, 1035, 1227, 2829, 8371, 1675, 2563, 1566, 5938, 227864, 92, 227932, 814, 3774, 226757, 1196, 1685, 7176, 1601, 619, 8503, 220245, 6231, 226140, 981, 4187, 7263, 227586, 227619, 6238, 1521, 1121, 227364, 5898, 8364, 6364, 224686, 2909, 226760, 223960, 2309, 3497, 6073, 224310, 3765, 7158, 1192, 716, 7462, 1360, 225122, 2657, 5758, 6616, 7581, 228231, 448, 3747, 228096, 224916, 3238, 224154, 436, 420, 7648, 224057, 7966, 711, 2663, 7403, 6671, 3692, 6369, 1195, 224747, 681, 7269, 8025, 601, 7919, 1191, 2956, 228412, 3207, 6336, 224420, 224728, 1676, 225175, 6729, 224696, 224709, 226768, 1539, 1845, 1659, 220644, 2437, 1818, 2950, 3803, 7272, 1546, 228299, 227287, 1922, 2699, 225086, 227345, 2666, 224704, 226499, 2229, 228377, 838, 6590, 833, 224660, 223818, 2589, 3693, 224845, 226544, 834, 227450, 7541, 224056, 8498, 223679, 225636, 1222, 228368, 6363, 2534, 227776, 5582, 224846, 228167, 8537, 3147, 5588, 442, 8031, 223962, 224896, 1584, 2698, 1887, 2118, 5756, 227130, 1704, 2133, 1919, 7363, 224175, 3031, 6350, 225422, 8179, 1373, 6012, 227355, 7352, 228337, 444, 2568, 5782, 224668, 8342, 651, 227018, 226997, 1219, 223810, 474, 5868, 227731, 7354, 227538, 631, 7798, 3503, 227062, 227341, 2398, 2953, 507, 220194, 8483, 2012, 1955, 226755, 2101, 224701, 224842, 7161, 7021, 2967, 220507, 543, 226771, 8502, 1705, 6688, 837, 227645, 227926, 3112, 719, 5683, 5575, 2695, 6454, 226744, 220224, 2000, 6969, 2715, 8285, 2507, 519, 846, 625, 224901, 228224, 581, 220545, 8441, 3126, 225671, 2920, 1816, 226136, 2546, 6806, 1370, 227615, 226228, 1549, 421, 6255, 2661, 3260, 2080, 492, 2093, 6105, 223958, 8053, 227991, 7720, 7910, 646, 225625, 227451, 195, 223806, 224161, 1572, 224957, 1332, 228098, 226990, 227016, 1099, 5805, 3746, 828, 454, 6259, 1529, 2622, 225677, 1612, 6635, 224330, 7070, 5625, 2998, 5754, 1737, 2947, 227015, 225313, 8134, 226096, 2330, 225424, 227688, 7116, 986, 2107, 1949, 226739, 224965, 223876, 220063, 114, 2284, 8551, 1385, 7528, 2127, 835, 844, 2063, 6749, 5595, 2089, 227019, 67, 2347, 7402, 2776, 3101, 224562, 3386, 2195, 2100, 5975, 6702, 1686, 227579, 7460, 1655, 225124, 227060, 1197, 1472, 228178, 734, 6774, 2367, 6096, 116, 226762, 228200, 3735, 501, 227418, 6417, 3098, 226765, 3438, 2340, 225358, 1028, 220292, 8209, 1038, 6267, 6896, 6106, 2166, 8074, 226139, 8387, 226541, 8186, 677, 223819, 227870, 1976, 682, 1363, 1580, 3074, 220624, 5942, 2861, 3100, 6481, 2106, 2094, 671, 2046, 422, 224059, 3049, 6682, 6859, 2029, 220050, 2639, 227605, 6573, 228006, 61, 797, 2290, 2679, 7260, 1206, 1562, 225806, 223775, 5955, 223875, 6875, 8506, 225228, 2042, 1411, 226983, 490, 224151, 227002, 1695, 1324, 224667, 228236, 1497, 6185, 227344, 1199, 7464, 227059, 226183, 227801, 226185, 802, 220603, 1513, 226134, 1532, 801, 227452, 856, 228379, 2091, 7337, 228345, 3195, 224654, 225690, 2870, 3828, 6644, 224153, 2672, 224643, 3079, 7332, 6224, 4192, 4201, 223771, 226063, 227604, 1864, 1587, 1578, 220072, 226707, 220051, 2050, 227867, 224753, 2479, 5703, 2902, 220180, 1742, 3810, 1871, 1984, 2673, 178, 812, 1926, 227187, 5974, 227469, 1768, 224150, 6130, 1927, 6443, 2396, 763, 3450, 6919, 686, 226764, 223834, 1847, 146, 8554, 2049, 7225, 853, 8287, 5280, 227466, 226745, 1736, 2462, 223873, 2092, 1858, 3070, 226112, 1317, 6540, 1527, 7928, 473, 7085, 1723, 228376, 813, 3581, 227441, 6538, 228343, 225664, 224917, 7620, 6451, 806, 1917, 6149, 800, 8360, 1530, 3796, 224646, 1865, 6932, 228233, 2988, 6011, 2079, 224328, 224058, 578, 224329, 3226, 3838, 7802, 2114, 225133, 2078, 6293, 3209, 220650, 224968, 7449, 8449, 2372, 2338, 4753, 782, 6110, 224662, 226979, 1607, 2656, 1672, 2983, 224920, 181, 5848, 228204, 8527, 220045, 3400, 3556, 2305, 3793, 1499, 3201, 1211, 1460, 1491, 1706, 227350, 224169, 5563, 600, 1930, 227037, 435, 3067, 3200, 6596, 227582, 589, 6793, 3072, 1941, 7654, 223830, 2989, 52, 2981, 224895, 440, 2027, 6672, 2045, 2775, 225768, 3277, 1381, 1537, 3218, 6931, 226748, 8170, 443, 225638, 7232, 4833, 1658, 3192, 8289, 2527, 24, 184, 1639, 6522, 3502, 456, 7454, 8444, 6612, 3776, 7717, 6584, 3078, 3036, 228177, 2714, 6587, 8518, 809, 225117, 7814, 1869, 5892, 5944, 2651, 224689, 228234, 227547, 2757, 225210, 2395, 7516, 1341, 1525, 1738, 2764, 3102, 227459, 2990, 1860, 225684, 5576, 224639, 2570, 2053, 223901, 227242, 1684, 1862, 6542, 1942, 6265, 3678, 227367, 2655, 2590, 3742, 8501, 227360, 6482, 7485, 225695, 5727, 227453, 7423, 1310, 7120, 185, 226774, 225280, 7845, 1510, 6641, 227357, 1696, 227989, 831, 8059, 8555, 1198, 155, 2935, 434, 6525, 227022, 227356, 587, 225725, 1327, 842, 3325, 227812, 2025, 224924, 220615, 227727, 6248, 7645, 226995, 3734, 8448, 8067, 224659, 1615, 2095, 3460, 3788, 225185, 506, 224666, 227634, 225342, 724, 8208, 224919, 1055, 7486, 2400, 3334, 8262, 2289, 7062, 225078, 228411, 1565, 845, 1323, 6579, 224751, 227519, 7778, 228373, 1960, 2402, 219, 5783, 7356, 7544, 79, 450, 224743, 6817, 220056, 225639, 3655, 192, 228378, 2577, 5984, 2919, 3211, 6453, 5579, 3757, 226752, 1641, 220602, 4195, 2378, 223751, 29, 7611, 3183, 1714, 7293, 226109, 1126, 8487, 1975, 8548, 225990, 5631, 223772, 8028, 6339, 2869, 3212, 227614, 993, 3119, 225643, 3580, 2985, 228229, 1724, 3736, 810, 227359, 223872, 1311, 1398, 1668, 5628, 1205, 1559, 226751, 224331, 7908, 53, 2600, 1336, 1679, 3113, 7649, 228157, 1286, 3188, 228444, 228191, 791, 223874, 227446, 7642, 1586, 5950, 7026, 225634, 2052, 226536, 2638, 2697, 7885, 225074, 2619, 3265, 3030, 3037, 2461, 227024, 1404, 6773, 226871, 1904, 3064, 225728, 3105, 1583, 1485, 3727, 6486, 495, 224856, 3791, 3050, 618, 2198, 6653, 225092, 1393, 2273, 2547, 3583, 3665, 1390, 3134, 6215, 6101, 5808, 1931, 227055, 5410, 1558, 227292, 227717, 226531, 1585, 7765, 7041, 225312, 227023, 220120, 87, 2946, 2039, 7234, 226747, 3748, 824, 776, 3609, 227726, 225206, 226777, 1616, 5706, 8552, 6943, 1189, 787, 2660, 7364, 7803, 226170, 35, 225989, 602, 1609, 2971, 224314, 1315, 2628, 1455, 1037, 1687, 2394, 3281, 1395, 6912, 1540, 220632, 6740, 773, 1570, 228151, 227802, 224697, 7439, 5855, 224855, 224669, 227603, 5726, 224422, 3114, 1208, 225735, 63, 5880, 7133, 5556, 1589, 4576, 223769, 3168, 8536, 6128, 2412, 2467, 1424, 5642, 2281, 1538, 7694, 7355, 225187, 1331, 226253, 228230, 227419, 664, 3485, 3830, 224663, 1674, 2932, 1042, 1495, 8298, 4193, 3732, 7680, 225126, 3688, 1848, 2510, 226135, 807, 1929, 223963, 7033, 3125, 1692, 1946, 2582, 226094, 2551, 2135, 2773, 224167, 2203, 3771, 1614, 227471, 836, 223835, 225732, 1746, 7407, 227990, 227363, 8497, 225724, 1419, 225113, 225188, 2301, 226998, 8268, 226769, 1162, 996, 227933, 3257, 2109, 223811, 228175, 3457, 2901, 220228, 1707, 7746, 3032, 220125, 3459, 228179, 2691, 227351, 6344, 220179, 2130, 733, 7241, 226537, 825, 6205, 1898, 1835, 2704, 225108, 191, 2972, 2694, 224363, 227462, 227647, 2090, 6078, 2248, 223762, 227013, 228137, 227923, 2555, 228190, 662, 224838, 2196, 8001, 2132, 3088, 5695, 66, 1377, 827, 89, 224752, 224700, 1104, 220088, 2748, 1556, 220581, 779, 227001, 220235, 2949, 226767, 227723, 6921, 227602, 6934, 817, 7961, 5392, 224702, 34, 505, 228193, 684, 7394, 614, 848, 143, 6439, 8100, 7112, 1656, 2296, 5739, 3809, 228189, 2201, 6701, 7837, 227353, 226750, 224749, 777, 7671, 227354, 7757, 227010, 1826, 4199, 2955, 4194, 7325, 796, 1498, 224404, 6433, 226986, 225389, 6302, 3768, 225981, 227343, 3337, 3236, 627, 224954, 3603, 1531, 1023, 3807, 223753, 3689, 7107, 2754, 7022, 227035, 741, 228188, 3005, 7025, 1758, 7884, 3060, 6292, 7550, 1681, 227369, 224690, 1386, 225672, 1924, 6861, 228181, 2641, 2732, 225076, 3235, 224921, 2842, 2618, 4202, 7000, 226184, 227066, 1223, 3269, 3087, 1500, 484, 2959, 1358, 3056, 5927, 1673, 3220, 2224, 225191, 4490, 225731, 485, 7015, 2498, 1863, 7625, 224166, 228154, 4188, 226, 500, 2937, 1226, 227445, 3107, 226543, 2058, 224409, 228187, 1605, 5596, 8152, 2770, 532, 1524, 1691, 5994, 224706, 226846, 1522, 225103, 1599, 1935, 226779, 7571, 3148, 6826, 1874, 498, 3176, 6186, 226504, 1011, 227468, 224670, 2806, 226985, 228346, 226115, 226742, 679, 820, 493, 8500, 223849, 224672, 1506, 775, 3106, 1378, 1536, 224411, 3779, 227017, 220059, 1678, 6099, 227618, 1552, 1533, 3792, 228159, 226984, 1817, 5951, 2380, 5696, 8101, 6930, 227809, 2287, 225106, 7351, 2413, 7425, 1107, 638, 5996, 5814, 7773, 3523, 1361, 1657, 2040, 2739, 8000, 224677, 5778, 6586, 3614, 227628, 2126, 7920, 5832, 8159, 224839, 2889, 8060, 1876, 2951, 6315, 228394, 225420, 1402, 227243, 5930, 227440, 2319, 225183, 2194, 7227, 226116, 225192, 220074, 228102, 3422, 6422, 225190, 6208, 6889, 3143, 224192, 2520, 223817, 6063, 821, 1968, 3773, 225628, 2903, 2908, 2188, 5980, 2057, 7968, 5779, 7892, 224418, 6924, 3555, 1631, 439, 225423, 2294, 7822, 220066, 1568, 223767, 224951, 5847, 5395, 3745, 7692, 5320, 2470, 5755, 227464, 227646, 3160, 795, 1651, 1096, 7607, 6719, 6952, 1697, 228334, 799, 6927, 8192, 8299, 3194, 6076, 224711, 226180, 6065, 228185, 1103, 2110, 7385, 2456, 3121, 3737, 6207, 1670, 225657, 194, 4196, 430, 964, 2804, 228182, 7146, 2509, 721, 3046, 8033, 3755, 8113, 7469, 2740, 6609, 2003, 6266, 224, 6221, 1856, 5771, 50, 513, 586, 5995, 2358, 2544, 51, 226981, 226737, 225142, 224172, 3799, 3785, 5585, 2006, 3271, 220765, 502, 1596, 90, 225698, 59, 1604, 227358, 226118, 6115, 7614, 226766, 6489, 227293, 8169, 1677, 6126, 3186, 6223, 224055, 2483, 1507, 2418, 2553, 2832, 228097, 3059, 6647, 1523, 7235, 1514, 5593, 6758, 2943, 1619, 2635, 5630, 517, 1380, 3780, 3077, 190, 3420, 224738, 854, 7967, 220210, 6655, 228382, 6148, 5819, 224695, 1204, 2752, 6470, 226763, 228162, 7023, 2915, 7570, 3051, 8496, 8345, 227460, 1666, 227020, 3421, 4203, 227470, 5707, 2493, 3836, 7092, 227860, 7089, 224687, 583, 8099, 650, 3044, 1520, 1391, 3294, 6916, 228180, 225417, 7618, 2141, 225656, 2060, 6669, 5697, 228186, 768, 1803, 860, 8363, 70, 1577, 2560, 1932, 1720, 829, 6920, 224685, 8547, 3286, 611, 8357, 1923, 5820, 5978, 227565, 3740, 6214, 226114, 227686, 3003, 3215, 225310, 1965, 1660, 3063, 226179, 225726, 1401, 220227, 7600, 227004, 226889, 227444, 227861, 3547, 1371, 3728, 1187, 224676, 8505, 2879, 224707, 2478, 226988, 3083, 224691, 3802, 1649, 6872, 226381, 2472, 3766, 220283, 2581, 5824, 227003, 2033, 1127, 1694, 3831, 223752, 227461, 173, 228375, 3786, 3494, 792, 226740, 784, 226119, 4501, 3750, 6521, 7622, 2123, 2681, 2760, 224563, 7540, 224645, 1034, 225807, 3167, 6691, 7461, 220181, 2508, 2711, 6448, 7474, 224419, 3811, 2477, 1667, 224652, 227036, 3345, 217, 224970, 7345, 2460, 2283, 7610, 2502, 6935, 220645, 8290, 228369, 3404, 1350, 1209, 3081, 6254, 225667, 224661, 6213, 2285, 6552, 4191, 3239, 3204, 227807, 224688, 437, 3140, 6100, 8532, 2310, 6236, 5894, 847, 6342, 3319, 3808, 5816, 1662, 227858, 228222, 2796, 225418, 449, 1600, 1665, 8481, 2505, 224726, 2503, 6767, 2444, 227580, 225082, 2838, 3835, 6216, 223805, 131, 6483, 3086, 5939, 7594, 2556, 7229, 5937, 861, 816, 2746, 2741, 6819, 226512, 6860, 3115, 2421, 7504, 5801, 6024, 6349, 5798, 5643, 1569, 228381, 1488, 198, 224406, 2646, 588, 224162, 2390, 227516, 480, 595, 1717, 2061, 3775, 225736, 8361, 223773, 223764, 153, 2438, 2497, 3724, 729, 2028, 225723, 7459, 6795, 224971, 7774, 227457, 189, 2936, 2360, 2605, 723, 2978, 1372, 224322, 8014, 8511, 3068, 2044, 5790, 1611, 7361, 224145, 1729, 224149, 228100, 2521, 8225, 227439, 226987, 225421, 227549, 226743, 226991, 1486, 7341, 227866, 1575, 2124, 6618, 226758, 227810, 1122, 1102, 7063, 227919, 6678, 1819, 7268, 2696, 228410, 3545, 113, 2103, 1633, 3777, 228101, 6520, 1934, 652, 535, 5577, 2274, 226778, 6279, 2069, 7826, 2408, 7969, 683, 228219, 2034, 7170, 3754, 2344, 227873, 6135, 227428, 6449, 7396, 8553, 225730, 224421, 3407, 225091, 5866, 225416, 8504, 224447, 6291, 227365, 3253, 670, 2876, 226873, 5633, 3075, 1761, 225087, 225105, 5874, 8173, 1190, 226741, 6480, 224168, 7121, 710, 5221, 224631, 2716, 227596, 7998, 7777, 228409, 1880, 1032, 224922, 2482, 1635, 2161, 3798, 227052, 226108, 228305, 2548, 227349, 227813, 1098, 2018, 227581, 3324, 481, 3210, 1648, 6367, 225094, 6399, 220052, 1535, 2065, 1683, 7574, 1634, 74, 3789, 2139, 2369, 226776, 2809, 7524, 713, 580, 5813, 769, 220274, 227005, 1618, 2634, 227051, 7965, 6541, 226062, 3451, 1544, 3770, 6553, 2014, 227362, 6940, 2629, 3298, 3761, 7200, 6147, 6725, 225813, 225674, 780, 2874, 220734, 227639, 226120, 3214, 1731, 75, 227566, 224366, 1861, 6854, 1010, 2071, 224359, 224746, 227632, 1650, 1857, 2043, 431, 7606, 176, 225184, 224673, 3000, 7812, 472, 2960, 7091, 220293, 225651, 6748, 5584, 227050, 228232, 1689, 2965, 6656, 491, 7221, 224926, 227447, 5651, 2041, 225810, 225640, 772, 6846, 1918, 1534, 1379, 1671, 615, 2933, 227063, 8508, 4200, 497, 6601, 1468, 6352, 8507, 220621, 6107, 1838, 220046, 2658, 1541, 228208, 2136, 224897, 2733, 7838, 224969, 226756, 8218, 5817, 224309, 2659, 1383, 227348, 227449, 1933, 1496, 8370, 6047, 2022, 2116, 225959, 6741, 2597, 5731, 1597, 226761, 5804, 2518, 7743, 805, 5867, 815, 3723, 1210, 6603, 7595, 1718, 471, 227454, 226759, 8104, 512, 2420, 227463, 227465, 225309, 228198, 225692, 1592, 6429, 7639, 226457, 1207, 2517, 3259, 7128, 2468, 225624, 1809, 2751, 64, 1200, 1725, 224665, 2516, 225067, 5728, 1567, 1598, 5581, 1509, 224152, 2643, 8037, 1194, 7421, 7082, 227342, 1878, 1690, 225693, 5667, 226754, 1407, 220339, 1853, 8445, 226994, 2070, 8044, 8385, 3837, 8495, 2481, 6864, 224967, 227455, 7440, 5837, 226996, 2416, 224956, 3725, 770, 2037, 225419, 3832, 3110, 6799, 789, 1321, 1340, 5592, 228145, 2459, 227057, 818, 3784, 1613, 2076, 228335, 223761, 1996, 3738, 223791, 3429, 227006, 2511, 1621, 3582, 224311, 228380, 226122, 5744, 225637, 228195, 55, 5636, 227443, 1940, 224755, 227627, 1990, 1663, 2591, 225729, 2336, 226129, 6289, 224928, 224899, 725, 1106, 223770, 5815, 7647, 855, 1925, 2973, 2670, 1590, 5818, 7294, 7226, 8181, 2036, 2957, 224671, 2934, 3313, 7094, 2803, 2690, 227442, 3268, 227073, 5559, 227716, 227054, 227352, 6891, 224952, 6438, 6368, 2745, 7020, 676, 226773, 226110, 2314, 220128, 225189, 3756, 1907, 224918, 6832, 7308, 226473, 2538, 8368, 225722, 3181, 224705, 4197, 520, 7289, 220058, 220546, 7435, 1362, 1550, 1928, 224317, 2633, 6041, 5902, 1325, 225209, 226749, 441, 778, 223821, 227061, 2688, 2566, 5680, 224641, 3309, 1664, 3288, 7797, 3180, 3184, 5979, 1594, 6366, 2129, 224927, 2792, 223768, 1526, 2780, 678, 6264, 1397, 228318, 3744, 5786, 7811, 5964, 3377, 5764, 225668, 224837, 7911, 1097, 58, 666, 228152, 1352, 6870, 2552, 7135, 227008, 220047, 8531, 6605, 60, 225980, 6985, 226999, 224929, 6233, 224750, 3827, 2081, 3240, 228176, 3182, 220635, 225734, 2632, 3664, 7592, 2454, 7532, 2463, 3199, 503, 220060, 1883, 226982, 8220, 7643, 808, 798, 224647, 3486, 6273, 445, 832, 226329, 2647, 2921, 6756, 1888, 227467, 6467, 223900, 226540, 7124, 3108, 6268, 3318, 227007, 2125, 455, 3311, 226092, 1727, 850, 228395, 226738, 3001, 3495, 2987, 7847, 8235, 3312, 2779, 227918, 226121, 3270, 1879, 226169, 3189, 225129, 226138, 225110, 218, 785, 228184, 2574, 2974, 223766, 7389, 774, 3254, 6346, 7787, 7799, 224710, 224898, 6206, 227930, 3801, 7850, 224410, 7901, 6013, 1003, 6484, 1987, 6384, 2652, 228370, 2554, 6102, 224955, 2059, 226534, 7587, 7689, 2164, 672, 224417, 224191, 224966, 1366, 2573, 1715, 2119, 2671, 3190, 1555, 186, 6766, 224828, 4462, 727, 3834, 781, 2962, 228392, 228213, 224318, 7182, 6937, 3436, 8069, 6631, 1201, 946, 226117, 2072, 225641]

## Store selected features in first filtering

These features are all numerical features.

In [10]:
np.save('res/filtered_chart.npy',{'id':valid_chart,'unit':valid_chart_unit})
# np.save('res/filtered_chart_cate',{'id':[223758],'unit':None})
print('saved!')

saved!

## Divide dropped features in first filtering

- Features with the ratio of non-numerical values(values that cannot pass the parser) > 0.5: categorical features
- Features with the ratio of ratio values > 0.5: ratio features
- otherwise: (possible) numerical features, we will parse them later

In [11]:
dropped_value = np.load('res/chart_dropped_value.npy', allow_pickle=True).tolist()
valid_chart_num = []
valid_chart_num_unit = []
valid_chart_cate = []
valid_chart_ratio = []
for d, droped_outs in dropped_value:
    ascnum = 0
    rationum = 0
    for value, valueuom, count in droped_outs:
        value = str(value)
        isasc = re.search(r'(\d+\.\d*)|(\d*\.\d+)|(\d+)', value) is None
        isratio = re.fullmatch(r'{0}\/{0}'.format(r'((\d+\.\d*)|(\d*\.\d+)|(\d+))'), value) is not None
        if isasc:
            ascnum += 1
        if isratio:
            rationum += 1
    if ascnum / len(droped_outs) >= 0.5:
        valid_chart_cate.append(d)
    elif rationum / len(droped_outs) >= 0.5:
        valid_chart_ratio.append(d)
        print(droped_outs)
    else:
        valid_chart_num.append(d)
        if droped_outs[0][1] is None:
            valid_chart_num_unit.append('')
        else:
            valid_chart_num_unit.append(droped_outs[0][1])
#         print(droped_outs)
        
print(len(valid_chart_num), len(valid_chart_cate), len(valid_chart_ratio))
print(valid_chart_num, valid_chart_num_unit, valid_chart_ratio)

[('127/58', None, 3), ('132/61', None, 1), ('137/63', None, 1), ('128/53', None, 1), ('135/60', None, 1), ('140/68', None, 1), ('124/58', None, 1), ('130/59', None, 1), ('129/62', None, 1), ('157/67', None, 1), ('134/68', None, 1), ('215/91', None, 1), ('116/56', None, 1), ('110/57', None, 1), ('124/59', None, 1), ('144/60', None, 1), ('185/81', None, 1), ('122/58', None, 1), ('156/62', None, 1), ('129/58', None, 1), ('143/69', None, 1), ('138/61', None, 1), ('140/66', None, 1), ('122/54', None, 1), ('115/55', None, 1), ('133/56', None, 1), ('139/62', None, 1), ('120/56', None, 1), ('120/58', None, 1), ('143/62', None, 1), ('117/53', None, 1), ('124/54', None, 1), ('156/63', None, 1), ('120/57', None, 1), ('127/57', None, 1), ('130/60', None, 1), ('121/60', None, 1), ('123/57', None, 1), ('138/68', None, 1)]
[('110/46', None, 1), ('112/45', None, 1), ('119/52', None, 1), ('127/56', None, 1), ('126/56', None, 1), ('105/45', None, 1), ('111/42', None, 1), ('119/54', None, 1), ('129/59', None, 1), ('121/54', None, 1), ('107/44', None, 1), ('120/50', None, 1)]
[('11/30', None, 1)]
[(None, None, 1), ('130/85', None, 1), ('104/65', None, 1), ('143/82', None, 1), ('132/72', None, 1), ('128/68', None, 1), ('124/68', None, 1), ('126/70', None, 1), ('105/65', None, 1), ('131/74', None, 1), ('97/62', None, 1), ('120/63', None, 1), ('132/80', None, 1)]
[('98/62', None, 2), ('159/50', None, 1), ('147/53', None, 1), ('112/64', None, 1), ('114/60', None, 1), ('146/46', None, 1), ('145/49', None, 1), ('136/46', None, 1), ('137/48', None, 1), ('128/43', None, 1), ('180/60', None, 1), ('130/50', None, 1), ('141/73', None, 1), ('107/68', None, 1), ('120/68', None, 1), ('86/76', None, 1), ('139/46', None, 1), ('107/63', None, 1), ('109/64', None, 1), ('153/52', None, 1), ('123/59', None, 1), ('127/62', None, 1), ('110/64', None, 1), ('120/60', None, 1), ('112/63', None, 1), ('143/44', None, 1), ('186/81', None, 1), ('128/70', None, 1), ('110/59', None, 1), ('126/62', None, 1), ('123/64', None, 1), ('156/56', None, 1), ('143/45', None, 1), ('154/54', None, 1), ('108/67', None, 1), ('142/49', None, 1), ('173/54', None, 1), ('114/71', None, 1), ('124/62', None, 1), ('94/45', None, 1), ('119/73', None, 1), ('131/73', None, 1), ('119/74', None, 1), ('110/67', None, 1), ('120/64', None, 1), ('118/73', None, 1), ('166/54', None, 1), ('140/46', None, 1), ('158/49', None, 1), ('126/63', None, 1), ('170/56', None, 1), ('144/47', None, 1), ('119/62', None, 1), ('116/71', None, 1), ('144/43', None, 1), ('110/58', None, 1), ('122/65', None, 1), ('180/96', None, 1), ('105/62', None, 1), ('132/83', None, 1), ('149/49', None, 1), ('120/63', None, 1), ('138/47', None, 1), ('167/63', None, 1)]
[('117/57', None, 2), ('89/43', None, 1), ('105/52', None, 1), ('95/49', None, 1), ('110/54', None, 1), ('93/48', None, 1), ('103/50', None, 1), ('105/51', None, 1)]
[('250/450', None, 1)]
[('98/63', None, 1), ('87/58', None, 1), ('95/62', None, 1), ('98/57', None, 1), ('101/67', None, 1), ('99/62', None, 1), ('105/73', None, 1), ('97', None, 1), ('101/68', None, 1), ('99/57', None, 1), ('88/57', None, 1)]
[('199/111', None, 1), ('200/112', None, 1), ('184/95', None, 1), ('210/109', None, 1), ('185/104', None, 1), ('182/94', None, 1), ('205/114', None, 1), ('191/104', None, 1), ('193/99', None, 1), ('186/106', None, 1), ('184/98', None, 1), ('197/110', None, 1), ('192/110', None, 1), ('196/102', None, 1)]
[('97/48', None, 1), ('116/61', None, 1), ('70/59', None, 1), ('97/55', None, 1), ('87/50', None, 1), ('111/55', None, 1), ('75/60', None, 1), ('112/56', None, 1), ('95/46', None, 1), ('96/57', None, 1), ('114/61', None, 1)]
[('87/45', None, 2), ('90/67', None, 2), ('85/72', None, 1), ('90/69', None, 1), ('88/42', None, 1), ('93/73', None, 1), ('88/43', None, 1), ('92/45', None, 1), ('77/65', None, 1), ('84/64', None, 1), ('87/67', None, 1), ('78/68', None, 1), ('91/56', None, 1), ('88/74', None, 1)]
[('10/25', None, 4), ('11/6', None, 2), ('1/28', None, 1)]
[('138/73', None, 2), ('133/68', None, 1), ('129/71', None, 1), ('148/70', None, 1), ('123/68', None, 1), ('128/66', None, 1), ('138/72', None, 1), ('138/76', None, 1), ('136/70', None, 1), ('118/68', None, 1), ('124/69', None, 1), ('142/68', None, 1), ('130/70', None, 1), ('124/63', None, 1), ('127/62', None, 1), ('136/72', None, 1), ('138/71', None, 1), ('122/61', None, 1), ('119/64', None, 1), ('122/65', None, 1), ('123/67', None, 1), ('134/70', None, 1), ('124/71', None, 1), ('116/68', None, 1), ('130/67', None, 1), ('120/61', None, 1)]
[('123/57', None, 1), ('132/70', None, 1), ('126/61', None, 1), ('133/69', None, 1), ('129/62', None, 1), ('111/57', None, 1), ('119/63', None, 1), ('136/70', None, 1), ('121/61', None, 1), ('126/52', None, 1), ('132/63', None, 1), ('130/70', None, 1), ('126/65', None, 1), ('131/72', None, 1), ('126/68', None, 1), ('132/80', None, 1), ('125/59', None, 1), ('113/55', None, 1), ('134/66', None, 1), ('126/59', None, 1), ('129/74', None, 1), ('124/65', None, 1), ('147/72', None, 1), ('117/63', None, 1), ('125/65', None, 1), ('147/78', None, 1), ('123/67', None, 1)]
[('104/45', None, 2), ('117/47', None, 1), ('99/40', None, 1), ('118/48', None, 1), ('107/46', None, 1), ('144/58', None, 1), ('110/40', None, 1), ('98/58', None, 1), ('161/67', None, 1), ('152/56', None, 1), ('107/45', None, 1), ('131/52', None, 1), ('117/45', None, 1), ('120/42', None, 1), ('145/58', None, 1), ('121/48', None, 1), ('101/43', None, 1), ('104/46', None, 1)]
[('146/68', None, 1), ('155/71', None, 1), ('154/144', None, 1), ('130/120', None, 1), ('96/71', None, 1), ('108/85', None, 1), ('134/112', None, 1), ('135/120', None, 1), ('156/124', None, 1), ('159/131', None, 1), ('157/98', None, 1)]
[('157/69', None, 2), ('137/63', None, 1), ('184/84', None, 1), ('162/74', None, 1), ('133/56', None, 1), ('144/55', None, 1), ('138/58', None, 1), ('171/80', None, 1), ('141/67', None, 1), ('126/58', None, 1), ('180/75', None, 1), ('131/57', None, 1), ('152/62', None, 1), ('130/57', None, 1), ('181/80', None, 1), ('138/60', None, 1), ('120/80', None, 1), ('119/50', None, 1), ('165/70', None, 1), ('110/49', None, 1), ('160/76', None, 1), ('154/63', None, 1), ('179/70', None, 1), ('138/59', None, 1), ('142/54', None, 1), ('142/63', None, 1), ('163/67', None, 1), ('141/62', None, 1), ('170/73', None, 1), ('163/72', None, 1), ('160/64', None, 1), ('177/71', None, 1), ('168/69', None, 1), ('128/62', None, 1), ('149/63', None, 1), ('150/63', None, 1), ('162/79', None, 1), ('123/55', None, 1), ('161/72', None, 1), ('186/81', None, 1), ('159/68', None, 1), ('177/73', None, 1), ('162/68', None, 1), ('131/56', None, 1)]
[('121/50', None, 2), ('126/46', None, 1), ('135/57', None, 1), ('128/48', None, 1), ('124/46', None, 1), ('118/48', None, 1), ('151/60', None, 1), ('132/68', None, 1), ('128/29', None, 1), ('148/56', None, 1), ('109/48', None, 1), ('136/55', None, 1), ('135/49', None, 1), ('167/60', None, 1), ('140/52', None, 1), ('133/53', None, 1), ('117/47', None, 1), ('134/51', None, 1)]
[('.5/4', None, 1), ('1/4', None, 1), ('0/4', None, 1)]
[('117/40', None, 1), ('116/42', None, 1), ('118/52', None, 1), ('114/47', None, 1), ('117/48', None, 1)]
[('4/4', None, 27), ('2/4', None, 25), ('0/4', None, 11), ('1/4', None, 4), (None, None, 1)]
[(None, None, 1), ('108/35', None, 1), ('111/38', None, 1), ('108/42', None, 1), ('110/35', None, 1), ('196/67', None, 1), ('109/36', None, 1), ('142/51', None, 1), ('104/34', None, 1), ('135/35', None, 1), ('109/39', None, 1), ('128/33', None, 1), ('127/44', None, 1)]
[('106/54', None, 1), ('90/53', None, 1), ('108/55', None, 1), ('103/53', None, 1), ('101/51', None, 1), ('93/55', None, 1), ('107/48', None, 1), ('83/53', None, 1), ('101/53', None, 1), ('89/55', None, 1), ('98/56', None, 1), ('108/52', None, 1), ('84/51', None, 1), ('99/55', None, 1), ('103/55', None, 1), ('85/53', None, 1), ('106/52', None, 1), ('85/54', None, 1), ('102/52', None, 1)]
[(None, None, 1), ('109/90', None, 1), ('110/66', None, 1), ('111/90', None, 1), ('109/64', None, 1), ('120/60', None, 1)]
[('164/99', None, 2), ('149/96', None, 1), ('186/120', None, 1), ('147/84', None, 1), ('163/106', None, 1), ('155/106', None, 1), ('153/93', None, 1), ('169/105', None, 1), ('153/101', None, 1), ('149/97', None, 1), ('192/103', None, 1)]
[('124/60', None, 1), ('117/59', None, 1), ('98/50', None, 1), ('140/61', None, 1), ('132/70', None, 1), ('139/65', None, 1), ('94/50', None, 1), ('140/69', None, 1), ('141/66', None, 1), ('121/62', None, 1), ('125/57', None, 1), ('139/99', None, 1), ('121/63', None, 1), ('106/57', None, 1), ('123/60', None, 1), ('126/64', None, 1), ('97/53', None, 1), ('120/69', None, 1), ('127/64', None, 1), ('149/67', None, 1), ('120/67', None, 1)]
[('130/60', None, 4), ('140/60', None, 2), ('145/70', None, 2), ('135/57', None, 1), ('119/61', None, 1), ('150/60', None, 1), ('106/64', None, 1), ('117/54', None, 1), ('142/62', None, 1), ('118/50', None, 1), ('129/63', None, 1), ('106/50', None, 1), ('92/57', None, 1), ('125/49', None, 1), ('113/68', None, 1), ('139/50', None, 1), ('132/63', None, 1), ('119/52', None, 1), ('132/54', None, 1), ('104/40', None, 1), ('147/65', None, 1), ('140/50', None, 1), ('120/60', None, 1), ('96/59', None, 1), ('114/68', None, 1), ('137/68', None, 1), ('133/66', None, 1), ('110/40', None, 1), ('110/65', None, 1), ('121/64', None, 1), ('151/64', None, 1), ('144/46', None, 1), ('130/61', None, 1), ('124/62', None, 1), ('138/58', None, 1), ('134/66', None, 1), ('126/51', None, 1), ('123/75', None, 1), ('129/60', None, 1), ('144/56', None, 1), ('128/52', None, 1), ('115/62', None, 1), ('147/62', None, 1), ('115/50', None, 1), ('89/50', None, 1), ('134/61', None, 1), ('112/60', None, 1), ('130/66', None, 1), ('104/62', None, 1), ('130/55', None, 1), ('134/57', None, 1), ('130/80', None, 1), ('108/60', None, 1), ('125/70', None, 1), ('106/63', None, 1), ('105/62', None, 1), ('121/54', None, 1), ('104/60', None, 1), ('112/65', None, 1), ('118/59', None, 1), ('135/60', None, 1), ('115/70', None, 1)]
[('148/59', None, 3), ('152/61', None, 2), ('156/62', None, 2), ('175/70', None, 1), ('158/63', None, 1), ('162/60', None, 1), ('139/64', None, 1), ('148/58', None, 1), ('195/69', None, 1), ('147/61', None, 1), ('149/63', None, 1), ('146/59', None, 1), ('155/65', None, 1), ('144/58', None, 1), ('142/58', None, 1), ('178/69', None, 1), ('138/55', None, 1), ('152/59', None, 1), ('156/64', None, 1), ('136/60', None, 1), ('153/63', None, 1), ('166/68', None, 1), ('151/59', None, 1), ('147/62', None, 1), ('156/61', None, 1), ('172/66', None, 1), ('155/61', None, 1), ('144/62', None, 1), ('156/63', None, 1), ('150/62', None, 1), ('142/59', None, 1), ('146/60', None, 1), ('145/60', None, 1), (None, None, 1), ('114/47', None, 1), ('166/64', None, 1), ('155/62', None, 1)]
[('158/81', None, 1), ('161/78', None, 1), ('142/72', None, 1), ('146/76', None, 1), ('144/75', None, 1), ('135/69', None, 1), ('147/79', None, 1), ('125/66', None, 1), ("151'69", None, 1), ('154/90', None, 1), ('154/86', None, 1), ('130/71', None, 1), ('137/74', None, 1), ('131/68', None, 1), ('153/96', None, 1), ('155/78', None, 1), ('144/74', None, 1), ('154/76', None, 1), ('157/84', None, 1), ('146/73', None, 1), ('127/68', None, 1), ('162/84', None, 1), ('156/74', None, 1), ('135/74', None, 1), ('147/80', None, 1)]
[(None, None, 4), ('131/67', None, 1), ('140/68', None, 1), ('133/60', None, 1), ('118/61', None, 1), ('117/61', None, 1), ('127/55', None, 1), ('137/67', None, 1), ('142/69', None, 1), ('133/63', None, 1)]
[('141/56', None, 1), ('148/69', None, 1), ('135/65', None, 1), ('124/61', None, 1), ('120/60', None, 1), ('126/62', None, 1), ('129/66', None, 1), ('131/68', None, 1), ('133/65', None, 1), ('126/66', None, 1), ('136/72', None, 1), ('122/60', None, 1)]
[('196/108', None, 2), ('203/107', None, 1), ('170/86', None, 1), ('205/108', None, 1), ('188/100', None, 1), ('196/106', None, 1), ('185/103', None, 1), ('194/102', None, 1), ('187/108', None, 1), ('120/55', None, 1), ('127/56', None, 1), ('178/94', None, 1), ('195/92', None, 1), ('190/100', None, 1), ('200/106', None, 1), ('112', None, 1), ('206/108', None, 1), ('116/54', None, 1), ('210/120', None, 1), ('199/121', None, 1), ('200/116', None, 1), ('139', None, 1), ('190/107', None, 1), ('213/109', None, 1), ('208/115', None, 1), ('193/99', None, 1), ('218/111', None, 1), ('189/104', None, 1), ('114/52', None, 1), ('122/46', None, 1), ('187/106', None, 1), ('196/103', None, 1), ('207/114', None, 1), ('191/105', None, 1)]
[('44/44', None, 45), ('43/44', None, 23), ('44/43', None, 13), ('44/45', None, 11), ('44/60', None, 8), ('45/44', None, 6), ('43/59', None, 6), ('44/59', None, 5), ('43/43', None, 4), ('44', None, 2), ('43/60', None, 2), ('45/59', None, 2), ('45/55', None, 1), ('45/45', None, 1), ('44/46', None, 1), ('4.1/4.6', None, 1), ('59/50', None, 1), ('45/43', None, 1), ('42/43', None, 1), ('45/58', None, 1), ('43/46', None, 1), ('43', None, 1)]
[('134/77', None, 3), ('133/75', None, 2), ('136/77', None, 2), ('142/81', None, 2), ('141/79', None, 2), ('129/77', None, 1), ('138/75', None, 1), ('131/72', None, 1), ('136/80', None, 1), ('141/80', None, 1), ('130/79', None, 1), ('108/65', None, 1), ('141/82', None, 1), ('132/77', None, 1), ('124/70', None, 1), ('134/76', None, 1), ('128/73', None, 1), ('129/69', None, 1), ('135/78', None, 1), ('138/83', None, 1), ('129/74', None, 1), ('130/73', None, 1), ('137/77', None, 1), ('128/72', None, 1), ('142/80', None, 1), ('128/68', None, 1), ('131/73', None, 1), ('134/74', None, 1), ('145/80', None, 1), ('144/84', None, 1), ('141//84', None, 1), ('131/75', None, 1), ('137/78', None, 1), ('125/68', None, 1), ('115/65', None, 1), ('127/74', None, 1), ('125/70', None, 1), ('126/72', None, 1), ('136/76', None, 1), ('133/74', None, 1), ('132/72', None, 1), ('138/70', None, 1), ('135/81', None, 1), ('140/79', None, 1)]
[('155/91', None, 1), ('153/88', None, 1), ('170/104', None, 1), ('171/100', None, 1), ('200/104', None, 1), ('184/93', None, 1), ('151/93', None, 1), ('165/97', None, 1)]
[('91/45', None, 1), ('135/51', None, 1), ('70/40', None, 1), ('97/45', None, 1), ('72/41', None, 1), ('141/50', None, 1), ('78/43', None, 1), ('92/42', None, 1), ('132/48', None, 1)]
[('188/86', None, 1), ('186/79', None, 1), ('195/83', None, 1), ('199/86', None, 1), ('191/86', None, 1), ('189/82', None, 1), ('190/90', None, 1), ('196/84', None, 1), ('195/86', None, 1), ('195/98', None, 1), ('197/89', None, 1)]
[(None, None, 2), ('156/134', None, 1), ('157/96', None, 1), ('160/87', None, 1), ('154/89', None, 1), ('144/75', None, 1), ('154/86', None, 1), ('149/79', None, 1), ('158/91', None, 1), ('142/80', None, 1), ('152/88', None, 1), ('141/75', None, 1), ('158/90', None, 1), ('160/92', None, 1), ('146/82', None, 1), ('181/112', None, 1), ('152/86', None, 1), ('153/90', None, 1), ('166/90', None, 1)]
[('119/54', None, 2), ('122/56', None, 1), ('124/54', None, 1), ('139/64', None, 1), ('102/46', None, 1), ('128/58', None, 1), ('136/60', None, 1), ('126/53', None, 1)]
[('116/54', None, 1), ('119/53', None, 1), ('138/54', None, 1), ('124/59', None, 1), ('131/51', None, 1), ('124/55', None, 1), ('153/67', None, 1), ('101/45', None, 1), ('146/67', None, 1), ('126/50', None, 1), ('133/53', None, 1), ('107/47', None, 1)]
[('150/68', None, 1), ('143/71', None, 1), ('163/80', None, 1), ('152/82', None, 1), ('150/69', None, 1), ('148/77', None, 1), ('144/71', None, 1), ('132/54', None, 1), ('141/74', None, 1), ('144/70', None, 1), ('149/80', None, 1), ('165/81', None, 1), ('140/66', None, 1), ('156/81', None, 1), ('144/87', None, 1), ('201/104', None, 1), ('128/68', None, 1), ('137/78', None, 1), ('150/67', None, 1), ('160/64', None, 1), ('141/52', None, 1)]
[('113/57', None, 1), ('105/61', None, 1), ('116/61', None, 1), ('106/51', None, 1), ('110/60', None, 1), ('121/59', None, 1), ('100/53', None, 1), ('109/55', None, 1), ('108/55', None, 1), ('108/58', None, 1), ('102/49', None, 1), ('119/58', None, 1), ('116/59', None, 1), ('110/51', None, 1), ('104/56', None, 1), ('110/59', None, 1), ('106/61', None, 1), ('101/50', None, 1), ('102/57', None, 1), ('120/63', None, 1)]
[(None, None, 1), ('114/56', None, 1), ('138/58', None, 1), ('130/59', None, 1), ('119/53', None, 1), ('128/52', None, 1), ('129/55', None, 1), ('134/57', None, 1), ('121/54', None, 1), ('142/58', None, 1), ('120/48', None, 1)]
[('171/90', None, 2), ('155/81', None, 1), ('140/80', None, 1), ('157/86', None, 1), ('167/80', None, 1), ('169/75', None, 1), ('149/66', None, 1), ('162/88', None, 1), ('126/68', None, 1), ('147/82', None, 1), ('111/65', None, 1), ('134/65', None, 1), ('157/63', None, 1), ('117/65', None, 1), ('158/87', None, 1)]
[('115/38', None, 1), ('104/36', None, 1), ('105/37', None, 1), ('114/31', None, 1), ('123/44', None, 1)]
[('125/93', None, 1), ('85/59', None, 1), ('81/54', None, 1), ('84/65', None, 1), ('70/49', None, 1), ('86/59', None, 1), ('87/54', None, 1), ('67/46', None, 1), ('76/45', None, 1), ('83/56', None, 1), ('50/43', None, 1), ('85/47', None, 1), ('79/46', None, 1), ('91/55', None, 1), ('84/48', None, 1), ('69/49', None, 1)]
[('118/63', None, 2), ('117/53', None, 2), ('129/62', None, 1), ('119/53', None, 1), ('121/59', None, 1), ('140/76', None, 1), ('121/65', None, 1), ('134/60', None, 1), ('132/52', None, 1), ('127/59', None, 1), ('120/66', None, 1), ('144/80', None, 1), ('139/59', None, 1), ('116/56', None, 1), ('109/61', None, 1), ('118/58', None, 1), ('120/68', None, 1), ('119/60', None, 1), ('121/57', None, 1), ('126/65', None, 1), ('141/80', None, 1), ('128/61', None, 1), ('116/65', None, 1), ('144/76', None, 1), ('128/80', None, 1), ('108/68', None, 1), ('140/62', None, 1), ('129/58', None, 1), ('114/61', None, 1), ('138/77', None, 1), ('125/67', None, 1), ('114/63', None, 1), ('125/63', None, 1), ('108/65', None, 1), ('120/65', None, 1), ('124/70', None, 1), ('129/66', None, 1), ('124/68', None, 1), ('121/68', None, 1), ('115/62', None, 1), ('134/67', None, 1), ('122/66', None, 1), ('131/75', None, 1), ('117/64', None, 1), ('128/90', None, 1), ('115/59', None, 1), ('119/62', None, 1), ('125/68', None, 1), ('107/55', None, 1), ('117/55', None, 1), ('113/61', None, 1), ('148/76', None, 1), ('107/60', None, 1), ('123/70', None, 1), ('120/50', None, 1), ('115/61', None, 1), (None, None, 1), ('140/70', None, 1), ('135/62', None, 1)]
[('109/69', None, 1), ('112/68', None, 1), ('111/81', None, 1), ('113/66', None, 1), ('113/60', None, 1), ('103/65', None, 1), ('152/81', None, 1), ('103/79', None, 1), ('117/64', None, 1), ('97/66', None, 1), ('107/59', None, 1), ('112/70', None, 1), ('132/81', None, 1), ('115/58', None, 1), ('112/74', None, 1)]
[('99/67', None, 1), ('97/63', None, 1), ('100/64', None, 1), ('110/62', None, 1), ('102/69', None, 1), ('105/65', None, 1), ('92/63', None, 1), ('97/67', None, 1), ('103/68', None, 1), ('100/68', None, 1), ('97/65', None, 1), ('101/71', None, 1), ('100/58', None, 1)]

[(None, None, 1), ('111/64', None, 1), ('98/60', None, 1), ('119/94', None, 1), ('119/74', None, 1), ('126/74', None, 1), ('121/72', None, 1), ('114/64', None, 1), ('89/59', None, 1), ('122/72', None, 1), ('123/72', None, 1), ('130/80', None, 1), ('97/65', None, 1), ('97/57', None, 1), ('109/63', None, 1), ('120/69', None, 1), ('93/61', None, 1), ('107/71', None, 1)]
[('151/63', None, 2), ('154/63', None, 2), ('143/56', None, 1), ('154/62', None, 1), ('130/54', None, 1), ('148/62', None, 1), ('140/55', None, 1), ('111/50', None, 1), ('139/58', None, 1), ('144/66', None, 1), ('170/66', None, 1), ('181/75', None, 1), ('158/65', None, 1), ('163/66', None, 1), ('131/61', None, 1), ('108/49', None, 1), ('154/64', None, 1), ('153/56', None, 1), ('115/52', None, 1), ('156/65', None, 1), ('145/50', None, 1), ('136/60', None, 1), ('172/77', None, 1), ('144/55', None, 1), ('158/67', None, 1), ('142/34', None, 1), ('122/55', None, 1), ('161/64', None, 1), ('141/61', None, 1), ('168/75', None, 1), ('127/53', None, 1), ('156/61', None, 1), ('146/65', None, 1), ('170/76', None, 1), ('146/61', None, 1), ('146/45', None, 1), ('145/61', None, 1), ('126/50', None, 1), ('150/61', None, 1), ('156/70', None, 1), ('135/60', None, 1), ('157/66', None, 1), ('153/62', None, 1)]
[('167/85', None, 1), ('143/76', None, 1), ('146/77', None, 1), ('158/84', None, 1), ('153/81', None, 1), ('150/81', None, 1), ('144/77', None, 1), ('156/88', None, 1), ('160/83', None, 1), ('153/82', None, 1), ('155/80', None, 1), ('166/85', None, 1), ('155/84', None, 1)]
[('130/54', None, 2), ('150/63', None, 2), ('139/61', None, 1), ('148/61', None, 1), ('112/45', None, 1), ('118/47', None, 1), ('139/56', None, 1), ('119/46', None, 1), ('149/62', None, 1), ('112/42', None, 1), ('139/55', None, 1), ('150/54', None, 1), ('123/47', None, 1), ('117/47', None, 1)]
[('94/47', None, 1), ('96/48', None, 1), ('97/51', None, 1), ('110/60', None, 1), ('100/56', None, 1), ('108/59', None, 1), ('108/55', None, 1), ('103/57', None, 1), ('109/59', None, 1), ('97/52', None, 1), ('99/50', None, 1), ('92/45', None, 1), ('98/49', None, 1), ('105/57', None, 1), ('113/61', None, 1), ('110/59', None, 1)]
[('98/79', None, 1), ('130/75', None, 1), ('118/45', None, 1), ('131/77', None, 1), ('135/81', None, 1), ('139/79', None, 1), ('143/83', None, 1), ('127/71', None, 1), ('138/86', None, 1), ('139/84', None, 1), ('133/54', None, 1), ('113/87', None, 1), ('121/70', None, 1), ('114/47', None, 1), ('117/42', None, 1)]
[('128/67', None, 2), ('133/68', None, 2), ('124/62', None, 1), ('112/64', None, 1), ('142/71', None, 1), ('135/57', None, 1), ('110/56', None, 1), ('131/53', None, 1), ('121/52', None, 1), ('128/72', None, 1), ('142/80', None, 1), ('127/59', None, 1), ('136/70', None, 1), ('137/57', None, 1), ('141/55', None, 1), ('118/67', None, 1), ('134/53', None, 1), ('139/58', None, 1), ('141/60', None, 1), ('129/54', None, 1), ('132/68', None, 1), ('130/64', None, 1), ('124/54', None, 1), ('123/60', None, 1), ('130/80', None, 1), ('149/66', None, 1), ('120/60', None, 1), ('134/56', None, 1), ('130/72', None, 1), ('132/82', None, 1), ('128/64', None, 1), ('104/60', None, 1), ('96', None, 1), ('124/60', None, 1), ('126/82', None, 1), ('131/60', None, 1)]
[('121/63', None, 2), ('130/65', None, 2), ('113/57', None, 1), ('140/67', None, 1), ('127/65', None, 1), ('137/74', None, 1), ('143/77', None, 1), ('124/74', None, 1), ('132/72', None, 1), ('132/69', None, 1), ('146/78', None, 1), ('130/68', None, 1), ('113/49', None, 1), ('83/39', None, 1), ('131/68', None, 1), ('93/39', None, 1), ('120/62', None, 1), ('138/78', None, 1), ('100/45', None, 1), ('119/60', None, 1), ('158/79', None, 1), ('129/67', None, 1), ('99/41', None, 1), ('125/57', None, 1), ('134/82', None, 1), ('135/74', None, 1), ('101/41', None, 1), ('134/70', None, 1), ('124/71', None, 1), ('112/66', None, 1), ('132/80', None, 1), ('128/65', None, 1), ('123/64', None, 1), ('138/68', None, 1), ('83/37', None, 1), ('111/64', None, 1)]
[('104/42', None, 1), ('125/45', None, 1), ('124/46', None, 1), ('96/40', None, 1), ('131/74', None, 1), ('102/43', None, 1), ('100/42', None, 1), ('133/49', None, 1), ('139/77', None, 1), ('134/51', None, 1), ('84/58', None, 1)]
[('123/56', None, 2), ('135/70', None, 1), ('146/70', None, 1), ('145/72', None, 1), ('143/61', None, 1), ('118/57', None, 1), ('112/63', None, 1), ('123/64', None, 1), ('138/77', None, 1), ('118/87', None, 1), ('149/68', None, 1), ('121/64', None, 1), ('144/67', None, 1), ('145/63', None, 1), ('139/70', None, 1), ('124/56', None, 1), ('110/56', None, 1), ('143/66', None, 1), ('141/67', None, 1), ('135/67', None, 1), ('115/60', None, 1), ('129/56', None, 1), ('132/65', None, 1), ('140/69', None, 1), ('130/53', None, 1), ('147/66', None, 1), ('134/67', None, 1), ('115/54', None, 1), ('139/66', None, 1), ('117/63', None, 1), ('146/67', None, 1), ('130/74', None, 1), ('122/65', None, 1), ('150/67', None, 1), ('147/64', None, 1), ('154/109', None, 1), ('146/63', None, 1)]
[('130/68', None, 1), ('138/76', None, 1), ('133/70', None, 1), ('129/67', None, 1), ('128/65', None, 1), ('131/67', None, 1), ('134/66', None, 1), ('129/66', None, 1), ('136/67', None, 1), ('138/71', None, 1)]
[('142/79', None, 2), ('138/78', None, 2), ('137/77', None, 2), ('140/78', None, 2), ('139/78', None, 2), ('133/79', None, 2), ('140/80', None, 2), ('142/72', None, 1), ('142/85', None, 1), ('142/84', None, 1), ('133/70', None, 1), ('132/76', None, 1), ('136/79', None, 1), ('116/65', None, 1), ('130/72', None, 1), ('120/67', None, 1), ('133/77', None, 1), ('132/77', None, 1), ('134/78', None, 1), ('128/74', None, 1), ('133/73', None, 1), ('141/81', None, 1), ('135/78', None, 1), ('124/68', None, 1), ('134/74', None, 1), ('125/74', None, 1), ('148/85', None, 1), ('124/69', None, 1), ('141/79', None, 1), ('136/78', None, 1), ('140/74', None, 1), ('124/72', None, 1), ('145/81', None, 1), ('129/70', None, 1), ('135/74', None, 1), ('137/78', None, 1), ('132/74', None, 1), ('136/82', None, 1), ('141/72', None, 1), (None, None, 1), ('118/60', None, 1), ('132/70', None, 1), ('128/71', None, 1), ('145/82', None, 1), ('135/76', None, 1), ('134/75', None, 1), ('135/81', None, 1)]
[('92/55', None, 1), ('109/62', None, 1), ('90/60', None, 1), ('84/51', None, 1), ('100/66', None, 1), ('106/31', None, 1), ('100/51', None, 1), ('100/45', None, 1), ('93/56', None, 1), ('95/54', None, 1), ('98/54', None, 1), ('88/49', None, 1), ('98/56', None, 1), ('90/50', None, 1), ('99/56', None, 1), ('102/54', None, 1)]
[('97/48', None, 1), ('100/49', None, 1), ('117/54', None, 1), ('105/54', None, 1), ('94/48', None, 1), ('116/56', None, 1), ('110/57', None, 1), ('99/51', None, 1), ('110/49', None, 1), ('93/48', None, 1), ('106/46', None, 1), ('145/56', None, 1), ('100/50', None, 1), ('111/40', None, 1), ('103/51', None, 1), ('112/52', None, 1), ('101/50', None, 1), ('96/48', None, 1), ('105/50', None, 1), ('115/60', None, 1), ('115/62', None, 1), ('102/53', None, 1), ('107/53', None, 1), ('113/56', None, 1), ('105/53', None, 1), ('95/46', None, 1), ('93/47', None, 1), ('90/45', None, 1)]
[('111/64', None, 1), ('124/70', None, 1), ('135/68', None, 1), ('140/72', None, 1), ('138/74', None, 1), ('130/73', None, 1), ('136/70', None, 1), ('126/70', None, 1), ('118/68', None, 1), ('120/68', None, 1), ('129/68', None, 1), ('127/72', None, 1), ('117/66', None, 1), ('123/60', None, 1), ('125/70', None, 1), ('141/72', None, 1), ('120/69', None, 1), ('138/68', None, 1)]
[('108/67', None, 1), ('129/71', None, 1), ('138/72', None, 1), ('116/69', None, 1), ('119/69', None, 1), ('114/66', None, 1), ('110/67', None, 1), ('111/68', None, 1), ('118/68', None, 1), ('102/75', None, 1), ('120/68', None, 1), ('123/72', None, 1), ('122/60', None, 1)]
[('116/52', None, 3), ('119/51', None, 3), ('112/49', None, 2), ('118/52', None, 2), ('128/57', None, 2), ('114/50', None, 2), ('100/52', None, 2), ('118/50', None, 1), ('116/49', None, 1), ('118/61', None, 1), ('123/53', None, 1), ('124/59', None, 1), ('151/60', None, 1), ('123/61', None, 1), ('125/57', None, 1), ('127/66', None, 1), ('106/46', None, 1), ('102/58', None, 1), ('126/56', None, 1), ('116/65', None, 1), ('123/52', None, 1), ('118/53', None, 1), ('97/53', None, 1), ('108/52', None, 1), ('125/67', None, 1), ('109/48', None, 1), ('105/59', None, 1), ('138/61', None, 1), ('109/47', None, 1), ('117/51', None, 1), ('110/56', None, 1), ('122/55', None, 1), ('112/58', None, 1), ('115/60', None, 1), ('111/56', None, 1), ('119/69', None, 1), ('119/54', None, 1), ('129/59', None, 1), ('108/59', None, 1), ('115/62', None, 1), ('115/50', None, 1), ('134/63', None, 1), ('112/56', None, 1), ('124/54', None, 1), ('137/67', None, 1), ('121/58', None, 1), ('123/56', None, 1), ('119/56', None, 1), ('113/56', None, 1), ('117/55', None, 1), ('108/60', None, 1), ('98/48', None, 1), ('109/49', None, 1), ('107/60', None, 1), ('120/50', None, 1), ('105/46', None, 1), ('118/65', None, 1), ('121/51', None, 1), ('121/55', None, 1), ('126/61', None, 1), ('106/51', None, 1), ('110/60', None, 1), ('121/59', None, 1)]
[('165/90', None, 2), ('180/97', None, 2), ('168/142', None, 1), ('165/89', None, 1), ('173/95', None, 1), ('178/102', None, 1), ('165/91', None, 1), ('171/93', None, 1), ('181/101', None, 1), ('175/130', None, 1), ('162/88', None, 1), ('176/98', None, 1), ('163/120', None, 1), ('168/97', None, 1), ('175/90', None, 1), ('161/142', None, 1), ('180/99', None, 1), ('178/91', None, 1), ('179/99', None, 1), ('169/91', None, 1), ('128/68', None, 1), ('178/98', None, 1), ('174/98', None, 1), ('177/97', None, 1), ('144/73', None, 1), ('182/103', None, 1), ('173/100', None, 1), ('164/83', None, 1), ('159/85', None, 1), ('175/95', None, 1)]
[('110/52', None, 3), ('104/51', None, 2), ('93/45', None, 2), ('114/58', None, 2), ('140/60', None, 2), ('110/51', None, 2), ('160/65', None, 1), ('117/60', None, 1), ('101/50', None, 1), ('145/59', None, 1), ('113/58', None, 1), ('82/37', None, 1), ('104/54', None, 1), ('166/68', None, 1), ('135/70', None, 1), ('114/50', None, 1), ('136/77', None, 1), ('173/67', None, 1), ('119/53', None, 1), ('125/53', None, 1), ('110', None, 1), ('121/52', None, 1), ('90/43', None, 1), ('83', None, 1), ('125/55', None, 1), ('89/44', None, 1), ('81/44', None, 1), ('104/59', None, 1), ('110/43', None, 1), ('109/50', None, 1), ('79/38', None, 1), ('84/43', None, 1), ('120/53', None, 1), ('100/53', None, 1), ('150/86', None, 1), ('120/54', None, 1), ('105/52', None, 1), ('126/55', None, 1), ('120/56', None, 1), ('103/48', None, 1), ('114/70', None, 1), ('127/51', None, 1), ('127/58', None, 1), ('136/29', None, 1), ('80/40', None, 1), ('110/57', None, 1), ('171', None, 1), ('84', None, 1), ('102/48', None, 1), ('104/49', None, 1), ('97/52', None, 1), ('98/47', None, 1), ('108/51', None, 1), ('102/49', None, 1), ('98/53', None, 1), ('120/55', None, 1), ('95/47', None, 1), ('124/55', None, 1), ('127/55', None, 1), ('81', None, 1), ('84/41', None, 1), ('81/45', None, 1), ('91/46', None, 1), ('127/57', None, 1), ('113/53', None, 1), ('108/50', None, 1), ('95', None, 1), ('147/61', None, 1), ('112/51', None, 1), ('126/56', None, 1), ('145/56', None, 1), ('127/70', None, 1), ('123/56', None, 1), ('106/55', None, 1), ('132/5', None, 1), ('79/42', None, 1), ('128/69', None, 1), ('145/62', None, 1), ('103/47', None, 1), ('112/67', None, 1), ('98/52', None, 1), ('66', None, 1), ('100/50', None, 1), ('98/48', None, 1), ('121', None, 1), ('123/55', None, 1), ('115/51', None, 1), ('116/41', None, 1), ('168/70', None, 1), ('99/77', None, 1), ('108/52', None, 1), ('109/54', None, 1), ('120/50', None, 1), ('120', None, 1), ('90/48', None, 1), ('172/56', None, 1), ('90/73', None, 1), ('123', None, 1), (None, None, 1), ('104/46', None, 1), ('156/64', None, 1), ('112/52', None, 1), ('153/79', None, 1), ('87/47', None, 1), ('128/59', None, 1)]
[('120/62', None, 2), ('113/57', None, 1), ('116/78', None, 1), ('135/65', None, 1), ('124/61', None, 1), ('134/68', None, 1), ('115/68', None, 1), ('129/68', None, 1), ('129/67', None, 1), ('123/61', None, 1), ('122/68', None, 1), ('128/65', None, 1), ('115/58', None, 1), ('130/65', None, 1), ('117/58', None, 1), ('118/68', None, 1), ('112/56', None, 1), ('118/86', None, 1), ('139/69', None, 1), ('123/60', None, 1), ('122/61', None, 1), ('107/57', None, 1), ('130/69', None, 1), ('147/67', None, 1), ('127/61', None, 1), ('122/62', None, 1)]
[('132/64', None, 1), ('113/57', None, 1), ('129/71', None, 1), ('143/73', None, 1), ('114/54', None, 1), ('115/60', None, 1), ('104/55', None, 1), ('146/83', None, 1), ('124/68', None, 1), ('150/72', None, 1), ('95/42', None, 1), ('109/57', None, 1), ('148/74', None, 1), ('104/58', None, 1), ('126/65', None, 1), ('106/55', None, 1), ('151/83', None, 1), ('134/71', None, 1), ('128/64', None, 1), ('130/69', None, 1)]
[('160/62', None, 1), ('159/55', None, 1), ('178/70', None, 1), ('184/74', None, 1), ('173/67', None, 1), ('190/71', None, 1), ('159/62', None, 1), ('180/64', None, 1), ('193/77', None, 1), ('183/66', None, 1), ('166/61', None, 1), ('171/66', None, 1), ('175/66', None, 1), ('177/67', None, 1), ('159/61', None, 1), ('166/57', None, 1), ('173/65', None, 1), ('219/92', None, 1), ('178/71', None, 1), ('180/70', None, 1), ('164/63', None, 1), ('183/67', None, 1), ('166/62', None, 1), ('187/68', None, 1), ('150/58', None, 1), ('202/81', None, 1), ('181/74', None, 1), ('167/63', None, 1)]
[('210/90', None, 2), ('210/98', None, 2), ('210/91', None, 2), ('202/85', None, 2), ('209/84', None, 1), ('194/90', None, 1), ('176/80', None, 1), ('206/88', None, 1), ('214/105', None, 1), ('203/94', None, 1), ('181/92', None, 1), ('203/99', None, 1), ('178/88', None, 1), ('168/89', None, 1), ('233/82', None, 1), ('182/85', None, 1), ('189/79', None, 1), ('235/96', None, 1), ('211/101', None, 1), ('178/94', None, 1), ('188/84', None, 1), ('199/86', None, 1), ('189/90', None, 1), ('190/80', None, 1), ('168/70', None, 1), ('191/86', None, 1), ('234/85', None, 1), ('208/80', None, 1), ('215/86', None, 1), ('208/86', None, 1), ('174/74', None, 1), ('208/89', None, 1), ('180/82', None, 1), ('195/94', None, 1), ('202/88', None, 1), ('209/99', None, 1), ('197/93', None, 1), ('222/101', None, 1), ('193/86', None, 1), ('196/92', None, 1), ('213/91', None, 1), ('199/55', None, 1), ('208/91', None, 1), ('209/91', None, 1), ('198/90', None, 1), ('218/95', None, 1), ('213/104', None, 1), ('193/107', None, 1), ('237/101', None, 1), ('182/79', None, 1), ('234/99', None, 1), ('198/87', None, 1), ('186/69', None, 1), ('236/103', None, 1), ('178/78', None, 1), ('196/96', None, 1), ('231/105', None, 1), ('191/84', None, 1), ('188/93', None, 1), ('209/92', None, 1), ('203/78', None, 1), ('188/89', None, 1), ('192/90', None, 1), ('214/103', None, 1), ('199/98', None, 1), ('208/81', None, 1), ('190/92', None, 1), ('223/81', None, 1), ('216/81', None, 1), ('189/84', None, 1), ('216/94', None, 1), ('179/75', None, 1), ('245/120', None, 1), ('200/101', None, 1), ('187/88', None, 1), ('188/78', None, 1), ('206/86', None, 1), ('205/92', None, 1), ('200/100', None, 1), ('210/100', None, 1), ('201/90', None, 1), ('241/93', None, 1)]
[(None, None, 1), ('127/79', None, 1), ('131/76', None, 1), ('137/79', None, 1), ('141/80', None, 1), ('147/88', None, 1), ('150/80', None, 1), ('116/75', None, 1), ('140/75', None, 1), ('148/86', None, 1), ('147/84', None, 1), ('128/79', None, 1), ('140/85', None, 1), ('127/81', None, 1), ('136/82', None, 1), ('156/90', None, 1)]
[('118/46', None, 2), ('102/39', None, 2), ('113/45', None, 1), ('98/39', None, 1), ('100/37', None, 1), ('106/43', None, 1), ('100/38', None, 1), ('103/39', None, 1), ('101/40', None, 1), ('101/38', None, 1), ('98/38', None, 1), ('119/46', None, 1), ('104/43', None, 1), ('91/48', None, 1), ('133/65', None, 1), ('116/48', None, 1), ('109/43', None, 1), ('104/40', None, 1), ('108/41', None, 1), ('93/48', None, 1), ('106/42', None, 1), ('93/36', None, 1), ('136/54', None, 1), ('99/39', None, 1), ('113/43', None, 1), ('146/60', None, 1), ('103/41', None, 1), ('96/41', None, 1), ('110/44', None, 1), ('114/43', None, 1)]
[(None, None, 1), ('139/73', None, 1), ('150/79', None, 1), ('161/78', None, 1), ('160/78', None, 1), ('150/71', None, 1), ('157/78', None, 1), ('170/84', None, 1), ('135/80', None, 1), ('144/70', None, 1), ('167/82', None, 1), ('178/86', None, 1), ('135/71', None, 1), ('131/67', None, 1), ('154/78', None, 1), ('142/77', None, 1), ('113.61', None, 1), ('151/76', None, 1), ('152/72', None, 1), ('155/77', None, 1), ('119/64', None, 1), ('134/71', None, 1), ('126/72', None, 1), ('130/69', None, 1), ('125/78', None, 1), ('147/75', None, 1)]
[('124/60', None, 1), ('124/58', None, 1), ('124/55', None, 1), ('127/62', None, 1), ('133/64', None, 1), ('134/85', None, 1), ('139/52', None, 1), ('117/43', None, 1), ('168/75', None, 1), ('114/52', None, 1), ('116/53', None, 1), ('118/56', None, 1), ('133/74', None, 1), ('131/59', None, 1)]
[('ON', None, 5), ('160/80', None, 3), ('162/78', None, 2), ('125/67', None, 2), ('114/60', None, 1), ('150/78', None, 1), ('170/82', None, 1), ('138/74', None, 1), ('157/67', None, 1), ('119/63', None, 1), ('105/58', None, 1), ('164/78', None, 1), ('167/75', None, 1), ('160/71', None, 1), ('169/75', None, 1), ('121/62', None, 1), ('129/67', None, 1), ('127/70', None, 1), ('148/72', None, 1), ('126/64', None, 1), ('161/77', None, 1), ('163/84', None, 1), ('141/69', None, 1), ('155/82', None, 1), ('180/80', None, 1), ('135/71', None, 1), ('130/71', None, 1), ('140/72', None, 1), ('152/74', None, 1), ('93', None, 1), ('115/60', None, 1), ('181/79', None, 1), ('147/66', None, 1), ('150/70', None, 1), ('134/67', None, 1), ('122/66', None, 1), ('132/66', None, 1), ('142/70', None, 1), ('123/65', None, 1), ('134/44', None, 1), ('179/85', None, 1), ('115/63', None, 1), ('128/69', None, 1), ('120/63', None, 1), (None, None, 1), ('122/63', None, 1), ('94', None, 1), ('140/68', None, 1), ('150/66', None, 1)]
[('141/53', None, 1), ('148/78', None, 1), ('146/56', None, 1), ('158/87', None, 1), ('148/95', None, 1), ('134/56', None, 1), ('144/82', None, 1), ('145/60', None, 1), ('150/56', None, 1), ('141/76', None, 1), ('147/77', None, 1), ('147/67', None, 1)]
[('124/66', None, 1), ('117/65', None, 1), ('108/54', None, 1), ('119/61', None, 1), ('121/65', None, 1), ('107/58', None, 1), ('129/72', None, 1), ('98/45', None, 1), ('106/54', None, 1), ('120/66', None, 1), ('134/68', None, 1), ('105/52', None, 1), ('123/71', None, 1), ('123/69', None, 1), ('118/58', None, 1), ('158/65', None, 1), ('127/70', None, 1), ('120/60', None, 1), ('116', None, 1), ('110/59', None, 1), ('138/77', None, 1), ('116/63', None, 1), ('110/65', None, 1), ('120/67', None, 1), ('127/69', None, 1), ('116/62', None, 1), ('135/87', None, 1), ('128/68', None, 1), ('111/56', None, 1), ('119/62', None, 1), ('119/64', None, 1), ('122/65', None, 1), ('125/68', None, 1), ('131/71', None, 1), ('122/62', None, 1)]
[('106/61', None, 1), ('140/100', None, 1), ('90/64', None, 1), ('105/69', None, 1), ('113/66', None, 1), ('100/70', None, 1), ('105/70', None, 1), ('106/53', None, 1), ('98/68', None, 1), ('115/75', None, 1), ('106/64', None, 1), ('99/63', None, 1), ('97/58', None, 1), ('101/68', None, 1), ('100/71', None, 1), ('102/75', None, 1), ('120/83', None, 1), ('115/80', None, 1), ('111/70', None, 1), ('108/62', None, 1), ('1116/70', None, 1), ('110/80', None, 1), ('92/66', None, 1), ('110/69', None, 1), ('107/', None, 1)]
[('97/54', None, 2), ('95/62', None, 1), ('110/49', None, 1), ('122/68', None, 1), ('115/72', None, 1), ('108/51', None, 1), ('95/47', None, 1), ('93/53', None, 1), ('102/60', None, 1), ('85/73', None, 1), ('95/53', None, 1), ('80/50', None, 1), ('90/65', None, 1)]

## Store 3 kinds of features

In [12]:
print(len(valid_chart_num), len(valid_chart_num_unit), len(valid_chart_cate))
print(valid_chart_num, valid_chart_num_unit, valid_chart_cate)
np.save('res/filtered_chart_num',{'id':valid_chart_num,'unit':valid_chart_num_unit})
np.save('res/filtered_chart_cate',{'id':valid_chart_cate,'unit':None})
np.save('res/filtered_chart_ratio', {'id': valid_chart_ratio, 'unit': None})

314 314 3405